html.ltie9 body, body{ min-width: 1140px; } .container{ max-width: 1140px; } .gdlr-caption-wrapper .gdlr-caption-inner{ max-width: 1140px; }
.body-wrapper.gdlr-boxed-style{ max-width: 1220px; overflow: hidden; } .body-wrapper.gdlr-boxed-style .gdlr-header-wrapper{ max-width: 1220px; margin: 0px auto; }
.gdlr-logo{ max-width: 200px; }
.gdlr-logo{ margin-top: 12px; }
.gdlr-logo{ margin-bottom: 24px; }
.gdlr-navigation-wrapper{ margin-top: 28px; }
.gdlr-page-title-wrapper { background-image: url('/wp-content/uploads/2015/11/CVMG_Header-1920x500_Green3.png'); }
h1, h2, h3, h4, h5, h6, .gdlr-title-font{ font-family: "Courgette"; }
body, input, textarea, select, .gdlr-content-font, .comment-respond .comment-reply-title, .gdlr-item-title-wrapper.pos-left-content .gdlr-item-title, .single-tribe_events .tribe-events-schedule h3,.single-tribe_events h2.tribe-events-single-event-title, .tribe-events-loop .type-tribe_events h2{ font-family: "Open Sans"; }
.gdlr-info-font{ font-family: "Droid Serif"; }
.gdlr-navigation{ font-family: "ABeeZee"; }
body{ font-size: 21px; }
h1{ font-size: 54px; }
h2{ font-size: 47px; }
h3{ font-size: 40px; }
h4{ font-size: 33px; }
h5{ font-size: 25px; }
h6{ font-size: 19px; }
.header-style-2 .top-navigation-wrapper{ background-color: #000000; }
.top-navigation-wrapper{ color: #ffffff; }
.top-navigation-wrapper a{ color: #ffffff; }
.header-style-1 .gdlr-header-container-overlay{ background-color: #d1e3ea; background-color: rgba(209, 227, 234, 0.7); }.header-style-2 .gdlr-header-wrapper{ background-color: #d1e3ea; background-color: rgba(209, 227, 234, 0.7); }.header-style-3 .gdlr-header-wrapper{ background-color: #d1e3ea; }.gdlr-fixed-header.gdlr-header-inner{  background-color: #d1e3ea; }
.gdlr-main-menu > li > a{ color: #013884; }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ color: #0a0a0a; opacity: 1; filter: alpha(opacity=100); }.gdlr-navigation-gimmick{ background: #0a0a0a; }
.gdlr-menu-search{ background: #ededed; background: rgba(237, 237, 237, 0.8); }
.gdlr-menu-search input[type="text"]{ color: #494949; }
.gdlr-main-menu > .gdlr-normal-menu .sub-menu, .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ border-top-color: #1c1c1c; }
.gdlr-main-menu > .gdlr-normal-menu li , .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ background-color: #171717; }
.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a{ color: #bebebe; }
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #ffffff; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #ffffff; } 
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #232323; } 
.gdlr-main-menu > li > .sub-menu *, .gdlr-main-menu > li > .sf-mega *{ border-color: #262626; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #ffffff; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #ffffff; }
#gdlr-responsive-navigation.dl-menuwrapper button { background-color: #0a0a0a; }
#gdlr-responsive-navigation.dl-menuwrapper button:hover, #gdlr-responsive-navigation.dl-menuwrapper button.dl-active, #gdlr-responsive-navigation.dl-menuwrapper ul{ background-color: #0a0a0a; }
body{ background-color: #dddddd; }
.body-wrapper, .gdlr-single-lightbox-container{ background-color: #ffffff; }
.gdlr-page-title, .gdlr-page-title-gimmick{ color: #ffffff; }
.gdlr-page-caption{ color: #ffffff; }
h1, h2, h3, h4, h5, h6, .gdlr-title, .gdlr-title a{ color: #454545; }
.gdlr-item-title-wrapper .gdlr-item-title{ color: #292929; border-color: #292929; }
.gdlr-item-title-divider{ border-color: #333333; }
.gdlr-item-title-wrapper .gdlr-item-caption{ color: #9b9b9b; }
body{ color: #808080; }
a{ color: #2a73b2; }
a:hover{ color: #edb40b; }
body *{ border-color: #dddddd; }
.page-not-found-block{ background-color: #d65938; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #963a20; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #d57f5c; }
.gdlr-sidebar .gdlr-widget-title{ color: #383838; }
.gdlr-sidebar *{ border-color: #e5e5e5; }
.gdlr-sidebar ul li:before { border-color: #bdbdbd; }
.gdl-search-form input{ background-color: #f7f7f7; }
.gdl-search-form input{ color: #9d9d9d; }
.gdl-search-form input{ border-color: #ebebeb; }
.tagcloud a{ background-color: #1f1f1f; }
.tagcloud a, .tagcloud a:hover{ color: #ffffff; }
.gdlr-about-us-item .about-us-item-title{ color: #101010; }
.gdlr-about-us-item .about-us-item-caption{ color: #6c6c6c; }
.gdlr-about-us-item .about-us-learn-more, .gdlr-about-us-item .about-us-item-title-divider{ border-color: #ffcc0d; }
.gdlr-accordion-item.style-1 .pre-active .accordion-title{ color: #3c3c3c; }
.gdlr-accordion-item.style-1 .accordion-title{ color: #8d8d8d; }
.gdlr-accordion-item.style-1 .accordion-title i{ background-color: #f3f3f3; }
.gdlr-accordion-item.style-1 .accordion-title i{ color: #a8a8a8; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ background-color: #ffcc0d; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ color: #ffffff; }
.gdlr-banner-item-wrapper .flex-direction-nav .flex-prev, .gdlr-banner-item-wrapper .flex-direction-nav .flex-next{ color: #999999; }
.gdlr-box-with-icon-item{ background-color: #f5f5f5; }
.gdlr-box-with-icon-item > i, .gdlr-box-with-icon-item .box-with-icon-title{ color: #585858; }
.gdlr-box-with-icon-item{ color: #929292; }
.gdlr-button, .gdlr-button:hover, input[type="button"], input[type="submit"], .gdlr-top-menu > .gdlr-mega-menu .sf-mega a.gdlr-button{ color: #ffffff; }
.gdlr-button, input[type="button"], input[type="submit"]{ background-color: #ffcc0d; }
.gdlr-button{ border-color: #edb40b; }
.column-service-title{ color: #292929; }
.column-service-content{ color: #909090; }
.column-service-icon i{ color: #ffcc0d; }
.gdlr-column-service-item.gdlr-type-2 .column-service-icon{ background-color: #3e3e3e; }
.gdlr-column-service-tab .column-service-title{ color: #101010; }
.gdlr-column-service-tab .column-service-content{ color: #101010; }
.gdlr-column-service-tab .column-service-icon i{ color: #101010; }
.gdlr-column-service-tab .column-service-learn-more{ color: #101010; }
.list-with-icon .list-with-icon-title{ color: #333333; }
.gdlr-pie-chart-item .pie-chart-title{ color: #313131; }
.gdlr-price-inner-item{ background-color: #f9f9f9; }
.gdlr-price-item .price-title-wrapper{ background-color: #454545; }
.gdlr-price-item .price-title{ color: #ffffff; }
.gdlr-price-item .price-tag{ background-color: #838383; }
.gdlr-price-item .best-price .price-tag{ background-color: #ffcc0d; }
.gdlr-price-item .price-tag{ color: #ffffff; }
.gdlr-process-tab .gdlr-process-icon{ background-color: #f3f3f3; }
.gdlr-process-tab .gdlr-process-icon{ border-color: #e3e3e3; }
.gdlr-process-tab .gdlr-process-icon i{ color: #aaaaaa; }
.gdlr-process-tab .process-line .process-line-divider{ border-color: #e3e3e3; } .gdlr-process-tab .process-line .icon-chevron-down, .gdlr-process-tab .process-line .icon-chevron-right{ color: #e3e3e3; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ color: #454545; }
.gdlr-skill-item-wrapper{ color: #3a3a3a; }
.stunning-item-title{ color: #101010; }
.stunning-item-caption{ color: #101010; }
.stunning-item-icon{ color: #101010; }
.tab-title-wrapper .tab-title{ background-color: #f9f9f9; }
.tab-title-wrapper .tab-title{ color: #3b3b3b; }
.tab-title-wrapper .tab-title.active, .tab-content-wrapper{ background-color: #ffffff; }
table tr th{ background-color: #ffcc0d; }
table tr th{ color: #ffffff; }
table.style-2 tr:nth-child(odd){ background-color: #f9f9f9; }
table.style-2 tr:nth-child(odd){ color: #949494; }
table.style-2 tr:nth-child(even){ background-color: #f3f3f3; }
table.style-2 tr:nth-child(even){ color: #949494; }
.gdlr-blog-title, .gdlr-blog-title a{ color: #212121; }
.gdlr-blog-title a:hover{ color: #ffcc0d; }
.gdlr-blog-date-wrapper{ background-color: #b8cc33; }.gdlr-blog-date-wrapper:after { border-color: #b8cc33 #b8cc33 transparent #b8cc33; }
.gdlr-blog-date-wrapper{ color: #212121; }.gdlr-blog-date-wrapper .gdlr-blog-date-divider{ border-bottom-color: #212121; }
.blog-info, .blog-info a, .blog-info i{ color: #7a7a7a; }
.gdlr-blog-thumbnail .gdlr-sticky-banner{ background-color: #232323; }
.gdlr-blog-thumbnail .gdlr-sticky-banner, .gdlr-blog-thumbnail .gdlr-sticky-banner i{ color: #ffffff; }
.gdlr-standard-style .gdlr-single-blog-tag a{ background-color: #3d3d3d; }
.gdlr-standard-style .gdlr-single-blog-tag a{ color: #ffffff; }
.format-aside .gdlr-blog-content{ background-color: #ffcc0d; }
.format-aside .gdlr-blog-content{ color: #ffffff; }
.format-quote .gdlr-top-quote blockquote{ color: #8d8d8d; }
.format-quote .gdlr-quote-author{ color: #ffcc0d; }
.gdlr-related-post-wrapper{ background-color: #f5f5f5; }
.related-post-header{ color: #373737; }
.related-post-title a{ color: #7b7b7b; }
.single .gdlr-single-nav{ background-color: #373737; }
.single .gdlr-single-nav > div.previous-nav{ border-color: #585858; }
.single .gdlr-single-nav a{ color: #ffffff; }
.single .gdlr-single-nav a .single-nav-text { color: #8e8e8e; }
.gdlr-post-author{ background-color: #f1f1f1; }
.gdlr-post-author .post-author, .gdlr-post-author .post-author a, .gdlr-post-author .post-author-title{ color: #373737; }
.gdlr-post-author .post-author-content{ color: #828282; }
.gdlr-social-share, .gdlr-social-share a{ background-color: #212121; }
.gdlr-social-share .social-share-title{ color: #ffffff; }
.gdlr-single-blog-tag{ background-color: #3d3d3d; }
.gdlr-single-blog-tag .blog-info, .gdlr-single-blog-tag a, .gdlr-single-blog-tag a:hover, .gdlr-single-blog-tag .blog-info i{ color: #ffffff; }
.menu-item-filter, .menu-item-filter a{ color: #9d9d9d; }
.menu-item-filter-divider{ border-color: #1a1a1a; } .menu-item-filter a.active { color: #1a1a1a; }
.gdlr-menu-item .menu-title, .gdlr-menu-item .menu-title  a, .single-menu .gdlr-menu-title{ color: #202020; }
.gdlr-menu-item  .menu-ingredients-caption, .gdlr-single-menu-head .menu-ingredients{ color: #6c6c6c; }
.menu-rating, .menu-recommendation, .menu-price, .gdlr-single-menu-time .menu-info.menu-total-time{ color: #eec118; }
.gdlr-list-menu.gdlr-featured{ border-color: #eec118; }
.gdlr-menu-modern .menu-title, .gdlr-menu-modern .menu-title a, .gdlr-menu-modern .menu-ingredients-caption{ color: #ffffff; }
.gdlr-menu-modern .menu-rating, .gdlr-menu-modern .menu-recommendation,  .gdlr-menu-modern .menu-price{ color: #eec118; }
.gdlr-single-menu-sub-info{ background-color: #f7f7f7; }
.gdlr-single-menu-sub-info .gdlr-head, .gdlr-single-menu-head .menu-price{ color: #292929; }
.gdlr-single-menu-sub-info, .gdlr-single-menu-time .menu-info.menu-total-time{ border-color: #ebebeb; }
.gdlr-pagination .page-numbers{ background-color: #268635; }
.gdlr-pagination .page-numbers{ color: #f9f9f9; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ background-color: #b8cc33; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ color: #ffffff; }
.gdlr-event-list-date{ background-color: #ffcc0d; }
.gdlr-event-list-date{ color: #171717; } .gdlr-event-list-date .gdlr-date-divider{ border-color: #171717; } 
.gdlr-event-list .gdlr-event-list-content{ background: #ffffff; }
.single-tribe_events .tribe-events-schedule, .tribe-events-loop .tribe-events-event-meta{ background-color: #f5f5f5; }
.tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, #tribe-bar-form .tribe-bar-submit input[type=submit],#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover{ background-color: #ffcc0d; }
#tribe-bar-form .tribe-bar-views-inner label, #tribe-bar-form .tribe-bar-submit input[type=submit],#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover{ color: #313131; }
.tribe-events-back a, .tribe-events-loop .type-tribe_events h2 a, .single-tribe_events h2.tribe-events-single-event-title, .tribe-events-loop .tribe-events-list-event-description a, .tribe-events-loop .tribe-events-event-meta .tribe-events-venue-details a, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a{ color: #ffcc0d; }
.gdlr-personnel-item .personnel-item-inner{ background-color: #ffffff; }
.gdlr-personnel-item.round-style .personnel-item{ background-color: #ffcc0d; }
.gdlr-personnel-item.round-style .personnel-author, .gdlr-personnel-item.round-style .personnel-content, .gdlr-personnel-item.round-style .personnel-position{ color: #ffffff; }
.gdlr-personnel-item .personnel-author{ color: #ffcc0d; }
.gdlr-personnel-item .personnel-author-image{ border-color: #ffcc0d; }
.gdlr-personnel-item .personnel-position{ color: #3d3d3d; }
.gdlr-personnel-item .personnel-content{ color: #606060; }
.gdlr-personnel-item .personnel-social i{ color: #ffffff; }
.gdlr-testimonial-item .testimonial-item-inner, .gdlr-testimonial-item .testimonial-author-image{ background-color: #f5f5f5; }
.gdlr-testimonial-item .testimonial-content{ color: #9b9b9b; }
.gdlr-testimonial-item .testimonial-author{ color: #ffcc0d; }
.gdlr-testimonial-item .testimonial-position{ color: #4d4d4d; }
.gdlr-testimonial-item .testimonial-author-image{ border-color: #ffcc0d; }
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ border-top-color: #dddddd; border-left-color: #dddddd; }
.gdlr-gallery-thumbnail .gallery-item{ background-color: #e5e5e5; }
.gdlr-gallery-thumbnail-container .gallery-caption{ background-color: #000000; }
.gdlr-gallery-thumbnail-container .gallery-caption{ color: #ffffff; }
.nivo-controlNav a, .flex-control-paging li a{ background-color: #ffffff; }
.nivo-controlNav a:hover, .nivo-controlNav a.active, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #5e5e5e; }
.nivo-controlNav a, .flex-control-paging li a{ border-color: #5e5e5e !important; }
.nivo-directionNav a, .flex-direction-nav a, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ background-color: #000000; }
body .nivo-directionNav a, body .flex-direction-nav a, body .flex-direction-nav a:hover, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ color: #ffffff; }
.gdlr-caption{ background-color: #000000; }
.gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-text{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider{ background-color: #000000; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-text{ color: #dddddd; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ color: #ffffff; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ background-color: #ffcc0d; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ background-color: #eeeeee; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ color: #6d6d6d; }
input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea,.open-table-item-wrapper  .gdlr-otw-combobox, .open-table-item-wrapper input[type="text"], .open-table-item-wrapper .gdlr-otw-combobox:after{ background-color: #f5f5f5; }
input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea,.open-table-item-wrapper input[type="text"], .open-table-item-wrapper .gdlr-otw-combobox select{ color: #444444; }input::input-placeholder{ color:#444444; } input::-webkit-input-placeholder{ color:#444444; }input::-moz-placeholder{ color:#444444; } input:-moz-placeholder{ color:#444444; }input:-ms-input-placeholder{ color:#444444; }textarea::input-placeholder{ color:#444444; } textarea::-webkit-input-placeholder{ color:#444444; }textarea::-moz-placeholder{ color:#444444; } textarea:-moz-placeholder{ color:#444444; }textarea:-ms-input-placeholder{ color:#444444; }
.footer-wrapper{ background-color: #232323; }
.footer-wrapper .gdlr-widget-title, .footer-wrapper .gdlr-widget-title a{ color: #dddddd; }
.footer-wrapper{ color: #bfbfbf; }
.footer-wrapper a{ color: #7f7f7f; }
.footer-wrapper a:hover{ color: #cecece; }
.footer-wrapper *{ border-color: #363636; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ background-color: #141414; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ color: #828282; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ border-color: #313131; }
.footer-wrapper .gdlr-button, .footer-wrapper .gdlr-button:hover, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ color: #ffffff; }
.footer-wrapper .gdlr-button, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ background-color: #ffcc0d; }
.footer-wrapper .tagcloud a{ background-color: #ffcc0d; }
.footer-wrapper .tagcloud a, .footer-wrapper .tagcloud a:hover{ color: #ffffff; }
.copyright-wrapper{ background-color: #0f0f0f; }
.copyright-wrapper{ color: #828282; }
.footer-wrapper .copyright-wrapper{ border-color: #0f0f0f; }
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce-message,html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {  background: #ffcc0d; }html .woocommerce .star-rating, html .woocommerce-page .star-rating, html .woocommerce .star-rating:before, html .woocommerce-page .star-rating:before, html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {color: #ffcc0d; }
html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-message, html .woocommerce-error, html .woocommerce-info, html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{ color: #ffffff; }
html .woocommerce-info{ background: #389EC5; }
html .woocommerce-error{ background: #C23030; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ background: #ffcc0d; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ color: #ffffff; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ border-bottom: 3px solid #edb40b; }
html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar { background: #ebebeb; }html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar,html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text,html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover ,html .woocommerce-page ul.products li.product a img:hover, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img,html .woocommerce form.login, html .woocommerce form.checkout_coupon, html .woocommerce form.register, html .woocommerce-page form.login,html .woocommerce-page form.checkout_coupon, html .woocommerce-page form.register, html .woocommerce table.cart td.actions .coupon .input-text,html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text,html .woocommerce-page #content table.cart td.actions .coupon .input-text { border: 1px solid #ebebeb; }html .woocommerce div.product .woocommerce-tabs ul.tabs:before, html .woocommerce #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th,html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th { border-bottom: 1px solid #ebebeb; }html .woocommerce .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce .cart-collaterals .cart_totals table tr:first-child td,html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 3px #ebebeb solid; }html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th,html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th { border-bottom: 2px solid #ebebeb; }
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove, html .woocommerce #payment, html .woocommerce-page #payment, html .woocommerce .customer_details,html .woocommerce ul.order_details, html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a,html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea, html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty,html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { background: #f3f3f3; }html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty { border: 1px solid #f3f3f3; }
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { border-top: 2px solid #e5e5e5; }html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover,html .woocommerce-page #content table.cart a.remove:hover, html #payment div.payment_box, html .woocommerce-page #payment div.payment_box { background: #e5e5e5; }
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th,html .woocommerce-page table.shop_attributes .alt th, html .woocommerce ul.products li.product .price, html.woocommerce-page ul.products li.product .price { color: #333333; }
html .woocommerce ul.products li.product .price del, html .woocommerce-page ul.products li.product .price del,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove,html .woocommerce-page #content table.cart a.remove { color: #888888; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { color: #ffffff; }
html .woocommerce .quantity .plus, html .woocommerce #content .quantity .plus,  html .woocommerce-page .quantity .plus,html .woocommerce-page #content .quantity .plus, html .woocommerce .quantity .plus:hover, html .woocommerce #content .quantity .plus:hover,html .woocommerce-page .quantity .plus:hover,  html .woocommerce-page #content .quantity .plus:hover{ background: #9a9a9a; }
html .woocommerce .quantity .minus, html .woocommerce #content .quantity .minus,  html .woocommerce-page .quantity .minus,html .woocommerce-page #content .quantity .minus, html .woocommerce .quantity .minus:hover, html .woocommerce #content .quantity .minus:hover,html .woocommerce-page .quantity .minus:hover,  html .woocommerce-page #content .quantity .minus:hover{ background: #b6b6b6; }
.gdlr-skin-dark-skin, .gdlr-skin-dark-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-skin i, .gdlr-skin-dark-skin .gdlr-flex-prev, .gdlr-skin-dark-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-skin h1, .gdlr-skin-dark-skin h2, .gdlr-skin-dark-skin h3, .gdlr-skin-dark-skin h4, .gdlr-skin-dark-skin h5, .gdlr-skin-dark-skin h6, .gdlr-skin-dark-skin .gdlr-skin-title, .gdlr-skin-dark-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-info, .gdlr-skin-dark-skin .gdlr-skin-info a, .gdlr-skin-dark-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin a, .gdlr-skin-dark-skin .gdlr-skin-link, .gdlr-skin-dark-skin .gdlr-skin-link-color{ color: #ffcc0d; }
.gdlr-skin-dark-skin a:hover, .gdlr-skin-dark-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-box, .gdlr-skin-dark-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffcc0d; }
.gdlr-skin-dark-skin *, .gdlr-skin-dark-skin .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-button, .gdlr-skin-dark-skin .gdlr-button:hover, .gdlr-skin-dark-skin input[type="button"], .gdlr-skin-dark-skin input[type="submit"]{ color: #ffffff; background-color: #222222;  }
.gdlr-skin-light-grey, .gdlr-skin-light-grey .gdlr-skin-content{ color: #999999; }
.gdlr-skin-light-grey i, .gdlr-skin-light-grey .gdlr-flex-prev, .gdlr-skin-light-grey .gdlr-flex-next{ color: #e0e0e0; }
.gdlr-skin-light-grey h1, .gdlr-skin-light-grey h2, .gdlr-skin-light-grey h3, .gdlr-skin-light-grey h4, .gdlr-skin-light-grey h5, .gdlr-skin-light-grey h6, .gdlr-skin-light-grey .gdlr-skin-title, .gdlr-skin-light-grey .gdlr-skin-title a{ color: #353535; }
.gdlr-skin-light-grey .gdlr-skin-title a:hover{ color: #5e5e5e; }
.gdlr-skin-light-grey .gdlr-skin-info, .gdlr-skin-light-grey .gdlr-skin-info a, .gdlr-skin-light-grey .gdlr-skin-info a:hover{ color: #828282; }
.gdlr-skin-light-grey a, .gdlr-skin-light-grey .gdlr-skin-link, .gdlr-skin-light-grey .gdlr-skin-link-color{ color: #282828; }
.gdlr-skin-light-grey a:hover, .gdlr-skin-light-grey .gdlr-skin-link:hover{ color: #848484; }
.gdlr-skin-light-grey .gdlr-skin-box, .gdlr-skin-light-grey .gdlr-column-service-item .gdlr-skin-box{ background-color: #a5a5a5; }
.gdlr-skin-light-grey *, .gdlr-skin-light-grey .gdlr-skin-border{ border-color: #eaeaea; }
.gdlr-skin-light-grey .gdlr-button, .gdlr-skin-light-grey .gdlr-button:hover, .gdlr-skin-light-grey input[type="button"], .gdlr-skin-light-grey input[type="submit"]{ color: #a3a3a3; background-color: #f2f2f2;  }
.gdlr-skin-dark-yellow-skin, .gdlr-skin-dark-yellow-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin i, .gdlr-skin-dark-yellow-skin .gdlr-flex-prev, .gdlr-skin-dark-yellow-skin .gdlr-flex-next{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin h1, .gdlr-skin-dark-yellow-skin h2, .gdlr-skin-dark-yellow-skin h3, .gdlr-skin-dark-yellow-skin h4, .gdlr-skin-dark-yellow-skin h5, .gdlr-skin-dark-yellow-skin h6, .gdlr-skin-dark-yellow-skin .gdlr-skin-title, .gdlr-skin-dark-yellow-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin .gdlr-skin-info, .gdlr-skin-dark-yellow-skin .gdlr-skin-info a, .gdlr-skin-dark-yellow-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin a, .gdlr-skin-dark-yellow-skin .gdlr-skin-link, .gdlr-skin-dark-yellow-skin .gdlr-skin-link-color{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin a:hover, .gdlr-skin-dark-yellow-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin .gdlr-skin-box, .gdlr-skin-dark-yellow-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-yellow-skin *, .gdlr-skin-dark-yellow-skin .gdlr-skin-border{ border-color: #ffd44c; }
.gdlr-skin-dark-yellow-skin .gdlr-button, .gdlr-skin-dark-yellow-skin .gdlr-button:hover, .gdlr-skin-dark-yellow-skin input[type="button"], .gdlr-skin-dark-yellow-skin input[type="submit"]{ color: #0c0c0c; background-color: #ffd44c;  }
.gdlr-skin-dark-yellow-skin-2, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 i, .gdlr-skin-dark-yellow-skin-2 .gdlr-flex-prev, .gdlr-skin-dark-yellow-skin-2 .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 h1, .gdlr-skin-dark-yellow-skin-2 h2, .gdlr-skin-dark-yellow-skin-2 h3, .gdlr-skin-dark-yellow-skin-2 h4, .gdlr-skin-dark-yellow-skin-2 h5, .gdlr-skin-dark-yellow-skin-2 h6, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-title, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-title a{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-skin-info, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-info a, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-info a:hover{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin-2 a, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-link, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 a:hover, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-skin-box, .gdlr-skin-dark-yellow-skin-2 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 *, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-button, .gdlr-skin-dark-yellow-skin-2 .gdlr-button:hover, .gdlr-skin-dark-yellow-skin-2 input[type="button"], .gdlr-skin-dark-yellow-skin-2 input[type="submit"]{ color: #1c1c1c; background-color: #ffd44c;  }
.gdlr-skin-dark-yellow-skin-3, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 i, .gdlr-skin-dark-yellow-skin-3 .gdlr-flex-prev, .gdlr-skin-dark-yellow-skin-3 .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 h1, .gdlr-skin-dark-yellow-skin-3 h2, .gdlr-skin-dark-yellow-skin-3 h3, .gdlr-skin-dark-yellow-skin-3 h4, .gdlr-skin-dark-yellow-skin-3 h5, .gdlr-skin-dark-yellow-skin-3 h6, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-title, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-skin-info, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-info a, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 a, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-link, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 a:hover, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-skin-box, .gdlr-skin-dark-yellow-skin-3 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 *, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-border{ border-color: #ffd44c; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-button, .gdlr-skin-dark-yellow-skin-3 .gdlr-button:hover, .gdlr-skin-dark-yellow-skin-3 input[type="button"], .gdlr-skin-dark-yellow-skin-3 input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.gdlr-skin-dark-red-skin, .gdlr-skin-dark-red-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-red-skin i, .gdlr-skin-dark-red-skin .gdlr-flex-prev, .gdlr-skin-dark-red-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-red-skin h1, .gdlr-skin-dark-red-skin h2, .gdlr-skin-dark-red-skin h3, .gdlr-skin-dark-red-skin h4, .gdlr-skin-dark-red-skin h5, .gdlr-skin-dark-red-skin h6, .gdlr-skin-dark-red-skin .gdlr-skin-title, .gdlr-skin-dark-red-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-red-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-red-skin .gdlr-skin-info, .gdlr-skin-dark-red-skin .gdlr-skin-info a, .gdlr-skin-dark-red-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-red-skin a, .gdlr-skin-dark-red-skin .gdlr-skin-link, .gdlr-skin-dark-red-skin .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-red-skin a:hover, .gdlr-skin-dark-red-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-red-skin .gdlr-skin-box, .gdlr-skin-dark-red-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-red-skin *, .gdlr-skin-dark-red-skin .gdlr-skin-border{ border-color: #f03939; }
.gdlr-skin-dark-red-skin .gdlr-button, .gdlr-skin-dark-red-skin .gdlr-button:hover, .gdlr-skin-dark-red-skin input[type="button"], .gdlr-skin-dark-red-skin input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.gdlr-skin-dark-gold-skin, .gdlr-skin-dark-gold-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-gold-skin i, .gdlr-skin-dark-gold-skin .gdlr-flex-prev, .gdlr-skin-dark-gold-skin .gdlr-flex-next{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin h1, .gdlr-skin-dark-gold-skin h2, .gdlr-skin-dark-gold-skin h3, .gdlr-skin-dark-gold-skin h4, .gdlr-skin-dark-gold-skin h5, .gdlr-skin-dark-gold-skin h6, .gdlr-skin-dark-gold-skin .gdlr-skin-title, .gdlr-skin-dark-gold-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-gold-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin .gdlr-skin-info, .gdlr-skin-dark-gold-skin .gdlr-skin-info a, .gdlr-skin-dark-gold-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin a, .gdlr-skin-dark-gold-skin .gdlr-skin-link, .gdlr-skin-dark-gold-skin .gdlr-skin-link-color{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin a:hover, .gdlr-skin-dark-gold-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin .gdlr-skin-box, .gdlr-skin-dark-gold-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-gold-skin *, .gdlr-skin-dark-gold-skin .gdlr-skin-border{ border-color: #c39e6d; }
.gdlr-skin-dark-gold-skin .gdlr-button, .gdlr-skin-dark-gold-skin .gdlr-button:hover, .gdlr-skin-dark-gold-skin input[type="button"], .gdlr-skin-dark-gold-skin input[type="submit"]{ color: #ffffff; background-color: #C39E6D;  }
.gdlr-skin-dark-gold-skin-2, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 i, .gdlr-skin-dark-gold-skin-2 .gdlr-flex-prev, .gdlr-skin-dark-gold-skin-2 .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 h1, .gdlr-skin-dark-gold-skin-2 h2, .gdlr-skin-dark-gold-skin-2 h3, .gdlr-skin-dark-gold-skin-2 h4, .gdlr-skin-dark-gold-skin-2 h5, .gdlr-skin-dark-gold-skin-2 h6, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-title, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-title a{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin-2 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 .gdlr-skin-info, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-info a, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-info a:hover{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin-2 a, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-link, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 a:hover, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 .gdlr-skin-box, .gdlr-skin-dark-gold-skin-2 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 *, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 .gdlr-button, .gdlr-skin-dark-gold-skin-2 .gdlr-button:hover, .gdlr-skin-dark-gold-skin-2 input[type="button"], .gdlr-skin-dark-gold-skin-2 input[type="submit"]{ color: #ffffff; background-color: #c39e6d;  }
.gdlr-skin-dark-gold-skin-3, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-content{ color: #3f3f3f; }
.gdlr-skin-dark-gold-skin-3 i, .gdlr-skin-dark-gold-skin-3 .gdlr-flex-prev, .gdlr-skin-dark-gold-skin-3 .gdlr-flex-next{ color: #3f3f3f; }
.gdlr-skin-dark-gold-skin-3 h1, .gdlr-skin-dark-gold-skin-3 h2, .gdlr-skin-dark-gold-skin-3 h3, .gdlr-skin-dark-gold-skin-3 h4, .gdlr-skin-dark-gold-skin-3 h5, .gdlr-skin-dark-gold-skin-3 h6, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-title, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-skin-info, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-info a, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-info a:hover{ color: #686868; }
.gdlr-skin-dark-gold-skin-3 a, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-link, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-link-color{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin-3 a:hover, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-skin-box, .gdlr-skin-dark-gold-skin-3 .gdlr-column-service-item .gdlr-skin-box{ background-color: #c39e6d; }
.gdlr-skin-dark-gold-skin-3 *, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-button, .gdlr-skin-dark-gold-skin-3 .gdlr-button:hover, .gdlr-skin-dark-gold-skin-3 input[type="button"], .gdlr-skin-dark-gold-skin-3 input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic);

*:not(i) {
    font-family: 'Alegreya Sans', 'Trebuchet MS', sans-serif !important;
    font-weight: normal;
    }   

b, strong {
    font-weight:bold;
    }

ul {
    margin: -1em 1.5em 2em;
}

li {
    margin: 0;
    padding: 0;
}

#career ul {
	max-width:566px;
	}

#center-p p {
	display:block;
    margin: 0 auto 15px auto;
	}

section ul {
	list-style-position: inside;
	}


.cvBtn {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:25px;
	line-height:27px;
	font-weight:500;
	text-shadow:0 0 8px rgba(0,0,0,0.42);
	background-color:#6D9A43;
	padding:15px 20px;;
	border-left:solid 0px #6D9A43;
	margin:3px 0;
	transition:0.2s;
	}
.cvBtn:after {
	content:" ►";
/* 	color:#6D9A43; */
	font-size:85%;
	padding-left:9px;
	}
.cvBtn:hover {
	color:#ffffff;
	background-color:#268635;
    padding:15px 20px 15px 12px;
	border-left-width:8px;
	}


.pp-button {
	position:relative;
	display:block;
	width:200px;
	max-width:100%;
	text-align:center;
	padding:6px 6px 12px 6px;
    margin:0 auto;
	}
.pp-button:hover {
	background-color:#F9B336;
	}

.pp-button span {
	color:#F57E20;
	font-size:161%;
	font-weight:500;
	}
.pp-button:hover span {
	color:#ffffff;
	}

.pp-button svg {
	position:relative;
	display:block;
	width:42%;
	margin: 0 auto;

	}

.pp-button svg g path{
	fill:#F9B336;
	}
.pp-button:hover svg g path {
	fill:#ffffff;
	}


.gdlr-logo {
	margin:15px 0 0 20px !important;
	}
	@media only screen and (max-width: 1099px) {
    .gdlr-logo {
    	float:left;
		margin:0 0 0 20px !important;
		}
	}
	@media only screen and (max-width: 767px) {
    .gdlr-logo {
    	padding: 20px 80px 22px 0px!important;
		}
	}

#menu-primary-navigation {
	margin-top:22px;
	}
@media only screen and (max-width: 767px) {
    .dl-menuwrapper ul {
        max-height: 375px;
        overflow: scroll;
    }
}

#jobPage > section {
    position:relative;
    display:inline-block;
    vertical-align:top;
    }

#jobDetails {
    width:calc(61% - 20px);
    margin: 0 35px 0 0;
    }

#jobPage ul {
    list-style-position:outside;
    }

#jobPage > #jobListings {
    width:calc(39% - 25px);
    }


#jobListings > a,
.job-listing {
	position:relative;
	display:block;
/* 	background-color:#9DC03B; */
/* 	border-left:solid 0px #9DC03B; */
	margin: 3px 0 12px 0;
	}

#jobListings > a > .jlTitle,
.job-listing .jlTitle {
	display:block;
	font-size:123%;
	font-weight:500;
	margin-bottom:9px;
	}	

.cvBtn.job-listing:after {
	content:'';
	}	


.gdlr-button, 
input[type="button"], 
input[type="submit"] { 
	box-sizing:border-box;
	font-size:24px;
	line-height:36px;
	background-color: #F9B336; 
	padding: 11px 18px 8px 18px;
	margin:0;
	}
/*
.comment-respond .comment-form-comment > textarea {
	margin-bottom:10px;
} */

input[type="text"][name="CustRefID"] {
	box-sizing:border-box;
	display:inline-block;
	width:250px;
	font-size:24px;
	line-height:28px;
	text-align:center;
	letter-spacing:0.2em;
	font-weight:500;
	padding: 2px 0px 6px 0px;
	border:solid 2px #F9B336;
	margin: 0 12px;
        }

.gdlr-page-title-wrapper .gdlr-page-title {
    font-weight:500;
    }

@media only screen and (max-width: 767px) {
    .gdlr-header-wrapper {
        background: transparent !important;
	margin-bottom:-100px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 199;
    }
    .gdlr-logo {
		margin:0 auto 0 0;
    }
    .content-wrapper {
        margin-top: 135px;
    }
}

.top-navigation-wrapper {
/*     background-color:rgba(249,179,54,0.23) */
	background-color: #228032;
	box-shadow:0 0 12px rgba(0,0,0,0.23);
	padding: 5px 0;
	}

.top-social-wrapper {
	display:none;
	}
/* .top-social-wrapper .social-icon {
	box-sizing:border-box;
	display:inline-block;
	height:20px;
	width:20px;
	max-width:none;
	margin:0 0 0 3px;
	background-color: #ffffff;
	border-radius:50%;
	}
.top-social-wrapper .social-icon:hover {
	background-color:rgba(0, 104, 56, 0.85);
	}

.top-social-wrapper .social-icon a {
	display:block;
	position:relative;
	width: calc(100% - 8px);
	height: 100%;
	padding:1px 4px;
	}
.top-social-wrapper .social-icon:nth-of-type(2) a {
	width: calc(100% - 7px);
	padding:1px 4px;
	}
.top-social-wrapper .social-icon:nth-of-type(3) a {
	width: calc(100% - 10px);
	padding:2px 5px;
	} */


.top-navigation-left > a > span {
    position:relative;
    display: inline-block;
    width: 25px;
    height: 19px;
    background: url('/wp-content/uploads/2016/03/phone-icon-white.png');
    background-size: cover;
    background-position: center center;
    }
.top-navigation-left > a > span:after {
    content: ' ';
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('/wp-content/uploads/2016/03/phone-icon-orange.png');
    background-size: cover;
    background-position: center center;
	transition:0.2s;
    }
.top-navigation-left > a:hover > span:after {
    opacity:1;
    }

.top-navigation-left a {
	color: #ffffff;
	}

.top-navigation-right {
	position:relative;
	/* padding-right:122px; */
	}
	
.top-navigation-right-text > a {
/*     color:#000000; */
	color: #ffffff;
/* 	font-weight: bold; */
	display:inline-block;
	line-height:21px;
	padding: 0 9px;
    border: solid 1px rgba(255,255,255,0.23);
    border-color: transparent rgba(255,255,255,0.07) transparent transparent;
	}
@media only screen and (max-width: 767px) {
    .top-navigation-right-text,
    .top-navigation-right-text a {
        display:none;
    }
}
.top-navigation-left a:hover,
.top-navigation-right-text > a:hover {
/*     color:#D66CAA; */
	color:#F9B336;
	}

.header-social-links {
	position:relative;
	float:right;
	overflow:hidden;
	display:inline-block;
	margin:0 0 0 15px;
	}

.header-social-links > a {
	position:relative;
	float:right;
	display:inline-block;
	background-color: #ffffff;
	width:19px;
	height:19px;
	margin:0 3px 0 0;
	border-radius:50%;
	}
.header-social-links > a[href^="https://www.facebook.com"] {
	background-image: url('/wp-content/uploads/2015/11/facebook-colored.png');
	background-size:contain;
	}
.header-social-links > a[href^="https://plus.google.com"] {
	background-image: url('/wp-content/uploads/2015/11/google-plus-colored.png');
	background-size:contain;
	}
.header-social-links > a[href^="https://www.pinterest.com"] {
	background-image: url('/wp-content/uploads/2015/11/pinterest-colored.png');
	background-size:contain;
	}
.header-social-links > a[href*="instagram"],
.footer-social-links > a[href*="instagram"] {
	background-image: url('/wp-content/uploads/2019/08/instagram-colored.png');
	background-size:contain;
	}
.header-social-links > a[href^="https://www.facebook.com"]:hover {
	background-color:#4b68a6;
	background-image: url('/wp-content/uploads/2015/11/facebook-white.png');
	}
.header-social-links > a[href^="https://plus.google.com"]:hover {
	background-color:#cf3e29;
	background-image: url('/wp-content/uploads/2015/11/google-plus-white.png');
	}
.header-social-links > a[href^="https://www.pinterest.com"]:hover {
	background-color:#c0202d;
	background-image: url('/wp-content/uploads/2015/11/pinterest-white.png');
	}
.header-social-links > a[href*="instagram"]:hover,
.footer-social-links > a[href*="instagram"]:hover {
	background-color: #f09433;
	background-image: url('/wp-content/uploads/2019/08/instagram-white.png');
	}

.cvmg-logo-top {
	position:absolute;
	right:-6px;
	top:-5px;
	display:block;
/* 	margin -2px 0 0 0; */
/* 	background-color:#ffffff; */
/* 	border: solid 2px #ffffff; */
/* 	border-width: 2px 0 0 0; */
	}

.cvmg-logo-top a {
/* 	position:absolute; */
	display:block;
	width:100px;
	height: 40px;
	background-image: url('/wp-content/uploads/2015/11/CVMG_SingleColor_Logo.jpg');
	background-size: 92% auto;
	background-repeat:no-repeat;
	background-position: 50% 6px;
	background-color:#ffffff;
	padding: 5px;
	border: solid 4px #8A2575;
	border-width: 0px 4px 4px 4px;
	border-radius: 0 0 50% 50%;
	}

.header-style-1 .gdlr-header-container-overlay {
    /* background-color:rgba(249, 179, 54, 0.92); */
    /* background-color: #8A2575; */
    border-radius: 0 0 4px 4px;
    height: 85px;
    box-shadow:0 0 12px rgba(0,0,0,0.23);
    }

@media only screen and (max-width: 1099px) {
.dl-trigger {
	background-color:#9DC03B!important;
	}
}

@media only screen and (max-width: 1099px) {
.gdlr-navigation-wrapper {
	float:right;
	width:calc(100% - 290px);
	padding:0px 30px 0 0;
	}
}
@media only screen and (min-width: 960px) {
.gdlr-navigation-wrapper {
	margin-top:28px!important;
	}
}

@media only screen and (max-width: 767px) {
#gdlr-header-wrapper {
	background:transparent !important;
	margin-bottom:-100px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 199;
	}
.gdlr-header-inner {
	background:transparent !important;
	}
.gdlr-page-title-wrapper {
	margin-top:120px;
/*	margin-bottom: -100px; */
	}
.gdlr-header-container-inner {
    background-color: rgba(209, 227, 234, 0.7);
    box-shadow: 0 0 12px rgba(0,0,0,0.23);
    border-radius: 0 0 4px 4px;
	}
}

#gdlr-main-navigation > ul > li {
	display:block;
	}

#gdlr-main-navigation > ul > li > a {
	display:inline-block;
	font-size:15px;
	color:rgba(138, 37, 117, 1);
	/*	color:rgba(255,255,255,0.85);*/
	/* 	text-shadow:0 0 9px rgba(0,0,0,0.23); */
	/*     color:#F9B336; */
	padding: 7px 15px;
	border:solid 1px rgba(109, 154, 67, 0.23);
	border-width: 0 1px 0 0;
	}
@media only screen and (max-width: 1099px) {
#gdlr-main-navigation > ul > li > a {
	padding:7px 5px;
	}
}
@media only screen and (max-width: 959px) {
#gdlr-main-navigation > ul > li > a {
	padding:7px 15px;
	}
}
#gdlr-main-navigation > ul > li:nth-of-type(n+5) > a {
	border-width:0;
	}
#gdlr-main-navigation > ul > li > a[href="/urgent-care/"],
#gdlr-main-navigation > ul > li > a[title="urgent-care"] {
    color: #b31e2d;
    padding-left: 39px;
 }

#gdlr-main-navigation > ul > li > a[href="/urgent-care/"]:before,
#gdlr-main-navigation > ul > li > a[title="urgent-care"]:before {
	content: '+';
	box-sizing:border-box;
	position:absolute;
	top:9px;
	left:15px;
	display:block;
	width:20px;
	height:20px;
	color:#ffffff;
	text-align:center;
	font-size:25px;
	vertical-align:middle;
	line-height:19px;
	background-color: #b31e2d;
	padding:0 0 0 1px;
	margin:0;
	border-radius:50%;
	transition:0.2s;
	}
#gdlr-main-navigation > ul > li:nth-of-type(-n+3) > a {
/*	color: #517225;*/
	color:rgba(138, 37, 117, 1);
/* 	color:rgba(255,255,255,1); */
/* 	font-weight: bolder !important; */
	font-size: 123%;
	line-height: 100%;
	}
	@media only screen and (max-width: 1099px) {
	#gdlr-main-navigation > ul > li:nth-of-type(-n+3) > a {
		font-size:100%;
		}
	}
	@media only screen and (min-width: 767px) {
	#gdlr-main-navigation > ul > li:nth-of-type(n+6) {
		display:none;
		}
	}
#gdlr-main-navigation > ul > li > a:hover {
/*	color:rgba(138, 37, 117, 1.0);*/
/* 	color:rgba(255,255,255,1); */
	color:#F57E20;
	}
#gdlr-main-navigation > ul > li > a[href="/urgent-care/"]:hover:before,
#gdlr-main-navigation > ul > li > a[title="urgent-care"]:hover:before {
	background-color:#F57E20;
	}


#gdlr-main-navigation > ul > li > ul {
	overflow:hidden;
	left:-15px;
	border-radius: 4px;
	}

#gdlr-main-navigation > ul > li > ul > li {
	background-color:transparent;
	border-width:0;
	}

#gdlr-main-navigation > ul > li > ul > li > a {
	color:rgba(138, 37, 117, 1);
	font-size:142%;
	font-weight:500;
	border-width:0;
	background-color:#ffffff;
	}
#gdlr-main-navigation > ul > li > ul > li:nth-of-type(2) > a {
	color:#F57E20;
	}
#gdlr-main-navigation > ul > li > ul > li:nth-of-type(3) > a {
	color:#d66caa;
	}
#gdlr-main-navigation > ul > li > ul > li:nth-of-type(4) > a {
	color:#12528c;
	}
#gdlr-main-navigation > ul > li > ul > li > a:hover {
	color:#ffffff;
	background-color:rgba(138, 37, 117, 1);
	}
#gdlr-main-navigation > ul > li > ul > li:nth-of-type(2) > a:hover {
	background-color:#F57E20;
	}
#gdlr-main-navigation > ul > li > ul > li:nth-of-type(3) > a:hover {
	background-color:#d66caa;
	}
#gdlr-main-navigation > ul > li > ul > li:nth-of-type(4) > a:hover {
	background-color:#12528c;
	}



#gdlr-navigation-gimmick {
    display:none;
/*	background-color:#6d9a43;*/
/* 	background-color:rgba(138, 37, 117, 1); */
/*	margin-top: 12px;*/
	}

#gdlr-menu-search-button {
	position:relative;
	display:none;
	overflow:visible;
/*     width: 18px; */
    max-width: none; 
    height: 18px;
	background-color:rgba(138, 37, 117, 0.85);
	padding:9px;
	border:none;
	border-radius:50%;
    margin: 5px -10px 0px 16px;
    }

.gdlr-menu-search {
    background-color:rgba(237, 237, 237, 1);
    }
#gdlr-menu-search input[type="text"] {
    font-size:100%;
    }

/*
Search
*/
header #header-search-form {
	position: absolute;
	top: 1px;
	right: 165px;
  }
  @media (max-width: 1199px) {
    header #header-search-form {
      position: absolute;
      top: 1px;
      right: 90px;
    }
  }
  @media (max-width: 990px) {
    header #header-search-form {
      position: absolute;
      top: -35px;
      right: 140px;
    }
  }
  @media (max-width: 768px) {
    header #header-search-form {
      position: absolute;
      top: -38px;
      right: 123px;
    }
  }
  @media (max-width: 414px) {
    header #header-search-form {
      position: absolute;
      top: -38px;
      right: 75px;
    }
		header ul.cta-top {
      margin: 50px 0 0 0;
    }
  }
  @media (max-width: 320px) {
    header #header-search-form {
      position: absolute;
      top: -40px;
      right: 28px;
    }
		header ul.cta-top {
      margin: 50px 0 0 0;
    }
  }

#search-results h2 {
	margin-top: 20px;
  font-size: 24px;
}
#search-results ul > li {
	list-style-type: none;
	display: inline-block;
}
#search-results ul > li img {
	float: left;
  margin-right: 20px;
}
#search-results ul > li h3 {
	margin: 0.5em 0;
}
#search-results ul > li .h-readmore {
	float: right;
	margin-top: 20px;
}

#gdlr-responsive-navigation.dl-menuwrapper > ul#menu-main-navigation {
    z-index:199;
    }

.purpleGrad {
    background: rgb(138, 37, 117);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(229,60,150,1) 0%, rgba(138,37,117,1) 70%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,60,150,1) 0%,rgba(138,37,117,1) 70%);
		background: radial-gradient(ellipse at center,  rgba(229,60,150,1) 0%,rgba(138,37,117,1) 70%); 
	}
.purpleGrad:hover {
    background: rgb(138, 37, 117);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(138,37,117,1) 0%, rgba(229,60,150,1) 70%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(138,37,117,1) 0%, rgba(229,60,150,1) 70%);
		background: radial-gradient(ellipse at center,  rgba(138,37,117,1) 0%, rgba(229,60,150,1) 70%);
	}

.greenGrad {
    background: rgb(184,204,51);
        background: -moz-radial-gradient(center, ellipse cover,  rgb(184,204,51) 0%, rgb(110,154,67) 100%);
        background: -webkit-radial-gradient(center, ellipse cover,  rgb(184,204,51) 0%,rgb(110,154,67) 100%);
        background: radial-gradient(ellipse at center,  rgb(184,204,51) 0%,rgb(110,154,67) 100%);
	}
.greenGrad:hover {
    background: rgb(184,204,51);
        background: -moz-radial-gradient(center, ellipse cover,  rgb(110,154,67) 0%, rgb(184,204,51) 100%);
        background: -webkit-radial-gradient(center, ellipse cover,  rgb(110,154,67) 0%, rgb(184,204,51) 100%);
        background: radial-gradient(ellipse at center,  rgb(110,154,67) 0%, rgb(184,204,51) 100%);
	}
	
.yellowGrad {
	background: rgb(245,126,32);
		background: -moz-radial-gradient(center, ellipse cover,  rgb(249,179,54) 0%, rgb(245,126,32) 100%); 
		background: -webkit-radial-gradient(center, ellipse cover,  rgb(249,179,54) 0%,rgb(245,126,32) 100%);
		background: radial-gradient(ellipse at center,  rgb(249,179,54) 0%,rgb(245,126,32) 100%);
	}
.yellowGrad:hover {
	background: rgb(245,126,32);
		background: -moz-radial-gradient(center, ellipse cover,  rgb(245,126,32) 0%, rgb(249,179,54) 100%); 
		background: -webkit-radial-gradient(center, ellipse cover,  rgb(245,126,32) 0%, rgb(249,179,54) 100%); 
		background: radial-gradient(ellipse at center,  rgb(245,126,32) 0%, rgb(249,179,54) 100%); 
	}


.homeOptions {
	box-sizing:border-box;
	display:block;
	position:relative;
	width:100%;
	max-width:1200px;
	padding:0 50px;
	margin:0 auto;
	top:-90px;
	}
    @media only screen and (max-width: 1000px) {
    .homeOptions  {
        margin:-37px auto 0 auto;
        }
    }
    @media only screen and (max-width: 959px) {
    .homeOptions  {
    	width:calc(100% - 20px);
    	padding:0;
        margin:15px 10px;
        top: -65px;
        }
    }
    @media only screen and (max-width: 675px) {
    .homeOptions  {
    	padding:0;
        margin:0 auto;
        top: -45px;
        }
    }
    @media only screen and (max-width: 420px) {
    .homeOptions  {
        top: -30px;
        }
    }
#patient-portal .homeOptions {
	overflow:hidden;
/* 	width:100%; */
	padding:20px 0;
	margin:-20px auto 0 auto;
	}

.homeOptions a {
/* 	opacity:0.92; */
	box-sizing:border-box;
	display:block;
	position:relative;
	float:left;
	width:calc((100%/4) - 20px);
	color:#ffffff;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	padding:14px 25px 14px 25px;
	background-color:rgba(255,255,255,1);
	border-radius:6px;
	border: solid 12px #8a2575;
	border-width: 12px 0 0 0;
    box-shadow:0 0 12px rgba(0,0,0,0.23);
	margin:0 10px;
	transition:0.2s;
	}
#patient-portal .homeOptions a {
	width: 150px;
	padding: 7px 14px;
	}
.homeOptions a:nth-of-type(2) {
	border-color:#F57E20;
	}
.homeOptions a:nth-of-type(3) {
	border-color:#12528c;
	}
.homeOptions a:nth-of-type(4) {
	border-color:#d66caa;
	}
.homeOptions a:hover {
/* 	padding:7px 25px 7px 25px; */
	border-width: 0px 0 12px 0;
    box-shadow:0 0 34px rgba(0,0,0,0.23);
	}
.homeOptions a svg {
	opacity:0.42;
	display:block;
	fill:#8A2575;
	width:42%;
	margin: 0 auto 15px auto;
	}
.homeOptions a svg {
	margin-top:5px;
	}
.homeOptions a svg path {
	fill:#ffffff;
	}
    @media only screen and (max-width: 1000px) {
    .homeOptions a {
    	font-size: 20px;
        }
    }
    @media only screen and (max-width: 675px) {
    .homeOptions a {
    	width:calc((100%/2) - 22px);
    	margin: 10px;
        }
    }
.homeOptions a:hover svg {
	opacity:1;
	}


.centerCTA {
    position:relative;
    display:block;
    width:350px;
    text-align:center;
    }
.bio .centerCTA {
	display:none;
    }

.mainCTA {
	position:relative;
	display:inline-block;
	overflow:hidden;
	color:#ffffff;
	font-size:25px;
	line-height:45px;
	text-transform:uppercase;
	vertical-align:middle;
	letter-spacing:-0.02em;
	padding:18px;
	border-radius:6px;
    }
.mainCTA:hover {
	color:#ffffff;
    }


.mainCTA svg {
	opacity:0.61;
	position:relative;
	display:inline-block;
	float:left;
	height: 45px;
	margin: 0 10px 0 0;
	}
.mainCTA:hover svg {
	opacity:1;
	}
.mainCTA svg path {
	fill:#ffffff;
	}

.mainCTA span {
	position:relative;
	display:inline-block;
	height:45px;
/* 	margin:8px 0; */
	}
	

.gdlr-service-with-image-item {
	box-sizing:border-box;
	background-color:#ffffff;
	padding:25px;
/* 	min-height:100%; */
/*	min-height:805px;*/
	min-height:760px;
/* 	border: solid 1px #F1F2F2; */
	box-shadow:0 0 12px rgba(167, 169, 172, 0.61);
	}


.gdlr-service-with-image-item .service-with-image-thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: none;
    float:none;
    margin:0 auto 20px auto;
    }

.gdlr-service-with-image-item .service-with-image-thumbnail img {
    border-radius: 0;
    width:100%;
    }
    @media only screen and (max-width: 1000px) {
    .gdlr-service-with-image-item .service-with-image-thumbnail {
        margin: 0 auto 10px auto;
        float: none;
        }
    }

/* @media only screen and (max-width: 1000px) { */
.gdlr-service-with-image-item .service-with-image-content-wrapper {
    width:85%;
    margin:0 auto;
    }
/* } */

.gdlr-service-with-image-item .service-with-image-title {
	color:#5F2153;
	font-weight:500;
    margin: 0 0 30px 0;
    line-height: 106%;
    }
    @media only screen and (max-width: 1000px) {
    .gdlr-service-with-image-item .service-with-image-title {
        text-align:center;
        }
    }

.service-with-image-content-wrapper span.special {
    display: block;
    color: #5E2153;
    font-size: 123%;
    line-height: 106%;
    font-style: italic;
    margin: -24px 0 9px 0;
    }

.service-with-image-content-wrapper p {
    }

.service-with-image-content-wrapper a.read {
	color:#5F2153;
	padding-left:5px;
    }
.service-with-image-content-wrapper a.read:after {
	content:"►";
	font-size: 80%;
	padding: 0 3px;
    }






#provider {
	position:relative;
	display:block;
	vertical-align:top;
	}

#provider div.profileInfo {
	position:relative;
	display:inline-block;
	width:calc((100% / 3) - 26px);
/* 	width:33%; */
	vertical-align:top;
	margin:0 10px;
	}

#provider div.profileInfo > img {
	box-sizing:border-box;
	display:block;
	float:left;
	width:100%;
	}

#provider div.profileInfo a.phoneCta {
	box-sizing:border-box;
	display:block;
	float:left;
	width:100%;
    color:#8A2575;
/*     font-style:italic; */
    text-align:center;
	background-color:rgba(0, 177, 232, 0.61);
	padding: 12px 15px;
	margin:0 0 20px 0;
	}
#provider div.profileInfo a.phoneCta:hover {
	color:#ffffff;
	}

#provider div.profileInfo a.phoneCta span {
	position:relative;
	display:block;
	font-weight:600;
	}
#provider div.profileInfo a.phoneCta span:nth-of-type(2) {
	font-style:italic;
	font-weight:400;
	}
#provider div.profileInfo a.phoneCta span:nth-of-type(3) {
	margin-top:-9px;
	font-size:123%;
	}

#provider .location,
#provider .location * {
	box-sizing:border-box;
	transition:0.2s;
	}

#provider .location {
	position:relative;
	display:block;
	float:left;
/* 	overflow:hidden; */
/* 	padding: 9px 25px; */
	width:100%;
	max-width:200px;
	margin: 20px 6px 0 0;
	}

#provider .location > h5 {
	position:absolute;
	display:block;
	z-index:1;
	bottom:0;
	font-size: 27px;
	text-align:center;
	width:100%;
	padding:0;
	margin:0 0 2px 0;
	background-color:rgb(184,204,51);;
	}
#provider .location:hover > h5 {
/* 	color:#ffffff; */
/* 	background-color:rgb(110,154,67); */
	padding: 9px 0;
	}
#provider .location > h5:hover {
	color:#ffffff;
	}

#provider .location > img {
	opacity:0.92;
	z-index:0;
	position:relative;
	display:block;
	padding: 0 0 35px 0;
/* 	border-radius: 6px; */
	}
#provider .location:hover > img {
	opacity:1;
	}

#provider .bio {
	position:relative;
	display:inline-block;
	width:calc(((100% / 3) * 2) - 36px);
	vertical-align:top;
	margin:0 10px 0 20px;
	}

#provider .bio > h2 {
	color:#8A2575;
	font-size:40px;
	font-weight:300;
	font-style:italic;
	line-height:123%;
	margin-bottom:25px;
	}

#provider .bio > .bioCta {
	font-weight:600;
	}

#provider .bio > .candid {
	position:relative;
	display:inline-block;
	width:calc((100% / 2) - 8px);
	margin:0 2px 10px 0;
	}

#provider .services,
#provider .additionalInfo {
	position:relative;
	display:block;
	border-top: 4px solid #F9B336;
    background-color: #f8f9f9;
    padding: 40px;
    margin: 0 0 20px 0;
	}
#provider section.services:nth-of-type(n+1) {
	margin-top: 40px;
	}

#provider .services > h3 {
	font-size:35px;
	margin: 0 0 30px 0;
	}

#provider .services > ul {
	list-style:none;
    -webkit-column-width: 300px; 
    -moz-column-width: 300px;
    column-width: 300px;
	}

#provider .additionalInfo {
	border-top:4px solid #e53c96
	}

#provider .additionalInfo h4 {
	font-size:21px;
	margin:10px 0;
	}

#provider .additionalInfo > ul {
	list-style:none;
/*     -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3; */
    -webkit-column-width: 300px; 
    -moz-column-width: 300px;
    column-width: 300px;
	}
	
#provider .additionalInfo > ul > li {
	position:relative;
	display:block;
	}

#provider .additionalInfo > ul > li > ul {
	position:relative;
	display:block;
/* 	background-color:rgba(0,0,0,0.23); */
	}
#provider .additionalInfo > ul ul {
	list-style:none;
	margin:0 0 10px 0;
	}



#providers .one-fifth.column {
	height: auto;
	/* 	min-height: none; */
/* 	margin-top: -30px; */
	}

#providers * {
	position:relative;
	z-index:1;
	box-sizing:border-box;
	color:#ffffff;
	transition: 0.25s;
	text-shadow:0 0 6px rgba(0,0,0,0.61);
	}

#providers > div {
	display:block;
	overflow:hidden;
	}

#providers > div > div {
	width: 20%;
	float:left;
	display:block;
	overflow:hidden;
	background-size: 120% auto;
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: inset 0 0 32px rgba(0,0,0,0.61);
	}
#providers > div > div:before {
	content: "";
	display: block;
	padding-top: 132%;
	}
#providers > div > div:hover {
	background-size: 100% auto;
	box-shadow: inset 0 0 32px rgba(0,0,0,0);
	}
/* #providers > div > div > div {
	z-index:3;
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	} */

#providers > div > div > a {
	z-index:2;
	position:absolute;
	display:block;
	opacity:0.12;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#00B1E8;
	}
#providers > div > div:nth-of-type(4n+1) > a {
	background-color:#B8CC33;
	}
#providers > div > div:nth-of-type(4n+2) > a {
	background-color:#F9B336;
	}
#providers > div > div:nth-of-type(4n+3) > a {
	background-color:#D66CAA;
	}
#providers > div > div:hover > a {
	opacity: 0;
	}

#providers > div > div > div {
	z-index:3;
	position:absolute;
	display:block;
	opacity:0.85;
	bottom:-34px;
	left:0;
	width:100%;
	color:#ffffff;
	text-align:center;
	background-color:rgba(0, 177, 232, 1);
	}
#providers > div > div:nth-of-type(4n+1) > div {
	background-color:#B8CC33;
	}
#providers > div > div:nth-of-type(4n+2) > div {
	background-color:#F9B336;
	}
#providers > div > div:nth-of-type(4n+3) > div {
	background-color:#D66CAA;
	}
#providers > div > div:hover > div {
/* 	background-color:#ffffff; */
	bottom:0;
	}

#providers > div > div > div > h3 {
	padding:0;
	margin:0;
	}
#providers > div > div > div > h3 > a {
	display:block;
	color:inherit;
	font-size:18px;
	font-weight:600;
	padding: 9px 9px 0 9px;
	}
#providers > div > div:hover > div > h3 > a {
	font-size:30px;
	}

#providers > div > div > div > a {
	display:block;
	font-size:18px;
	font-weight:600;
	padding: 0 9px 9px 9px;
	}

#providers > div > div > div a:hover {
	color:#F9B336;
	}

#provider #babyCounter,
#provider #babyCounter * {
	box-sizing:border-box;
/* 	position:relative; */
	display:block;
	}

#provider #babyCounter {
	position:relative;
	display:block;
	float:none;
	overflow:hidden;
	height:75px;
	width:247px;
/* 	background-color:rgba(0,0,0,0.23); */
	padding:3px;
	margin:0 auto;
	}

#provider #babyCounter > svg {
	z-index:3;
	position:absolute;
	top:0;
	left:0;
	width:75px;
/* 	float:left; */
	}

#provider #babyCounter > h6 {
	z-index:2;
	position:absolute;
	top:6px;
	left:37px;
	width:200px;
	color:#ffffff;
	text-transform: uppercase;
	text-shadow:0 0 6px rgba(0,0,0,0.23);
	background-color:#D66CAA;
	padding:3px 3px 2px 40px;;
	}

#provider #babyCounter > span {
	z-index:1;
	position:absolute;
	bottom:6px;
	left:37px;
	width:200px;
	color:#ffffff;
	font-size:36px;
	font-weight:600;
	line-height:36px;
	text-align:center;
	text-shadow:0 0 6px rgba(18,82,140,0.42);
	background-color:#00B1E8;
	padding:0 15px 0 40px;
	}

	


#providers .gdlr-personnel-item {
	margin:0;
	}

#providers .personnel-item {
	opacity: 0.61;
	height:400px;
	padding:0;
	}
#providers .gdlr-personnel-item:hover .personnel-item {
	opacity: 1;
	}

#providers .personnel-item-inner {
	height:100%;
	padding:0;
	}

#providers .personnel-item-inner:before {
	z-index:2;
	content: ' ';
	opacity:0.23;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-color:#00B1E8;
/* 	mix-blend-mode:lighten; */
	transition: 0.25s;
	}
#providers .one-fifth.column:nth-of-type(4n+1) .personnel-item-inner:before {
	background-color:#B8CC33;
	}
#providers .one-fifth.column:nth-of-type(4n+2) .personnel-item-inner:before {
	background-color:#F9B336;
	}
#providers .one-fifth.column:nth-of-type(4n+3) .personnel-item-inner:before {
	background-color:#D66CAA;
	}
#providers .gdlr-personnel-item:hover .personnel-item-inner:before {
	opacity: 0;
	}

#providers .personnel-author-image {
	z-index:0;
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	}
#providers .personnel-author-image img {
	position:relative;
	left:-20%;
	display:block;
	width:140%;
	max-width:none;
	border-radius:0 !important;
	}
#providers .gdlr-personnel-item:hover .personnel-author-image img {
	left:0;
	width:100%;
	}

#providers .personnel-info {
	opacity:0.85;
	position:absolute;
	z-index:3;
	bottom: 0;
	width:100%;
	background-color:rgba(0, 177, 232, 1);
	padding:8px 5px;
	height: 40px;
	}
#providers .one-fifth.column:nth-of-type(4n+1) .personnel-info {
	background-color:#B8CC33;
	}
#providers .one-fifth.column:nth-of-type(4n+2) .personnel-info {
	background-color:#F9B336;
	}
#providers .one-fifth.column:nth-of-type(4n+3) .personnel-info {
	background-color:#D66CAA;
	}
#providers .gdlr-personnel-item:hover .personnel-info {
	height: 100px;
/* 	background-color:rgba(0, 177, 232, 0.76); */
	padding:15px 5px;
	}

#providers .personnel-info h3 {
	position:relative;
	z-index:3;
	color:#8A2575;
	font-size:20px;
	font-weight:bold;
	letter-spacing: -0.01em;
	line-height:123%;
	text-shadow:0 0 12px #ffffff;
	}
#providers .gdlr-personnel-item:hover .personnel-info h3 {
	font-size: 30px;
	}

#providers .personnel-content {
	
	display:none;
	}


#provider-bio h3.providerSubTitle {
	color:#8A2575;
	font-weight:300;
	font-style:italic;
	margin-bottom:25px;
	}

#provider-left-profile img {
	float:left;
	display:block;
	width:100%;
	padding:0;
	margin:0;
	}
#provider-left-profile a.appointmentCall {
	box-sizing:border-box;
	display:block;
	float:left;
	width:100%;
    color:#8A2575;
    font-style:italic;
    text-align:center;
	background-color:rgba(0, 177, 232, 0.61);
	padding: 12px 15px;
	margin:0;
	}
#provider-left-profile a.appointmentCall:hover {
	color:#ffffff;
	background-color:rgba(0, 177, 232, 1);
	}

#provider-left-profile a.appointmentCall .providerName {
    display:block;
    font-style:normal;
    font-weight: 600;
	}

#provider-left-profile a.appointmentCall .providerNum {
    display:block;
    font-style:normal;
    font-size: 123%;
    font-weight:600;
    margin-top:-9px;
	}

#provider-bio p {
	display:block;
	}

#provider-bio img.providerCandid {
	position:relative;
	display:inline-block;
	width:calc(50% - 10px);
	margin: 0 6px 0 0;
	}


.gdlr-color-wrapper {
	margin-bottom:20px;
	padding:40px 20px;
	}

ul.services {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	}
ul.services li {
	list-style: none;
	}



	
#locations {
	position:relative;
	min-height:805px;
	}

#locations .columns {
	box-sizing:border-box;
	border:solid 1px rgba(0, 177, 232, 0.09);
/* 	border-color:transparent; */
	border-width: 0 0 0 2px;
	}

#locations .columns:first-of-type {
	border-color: #ffffff;
	}

#locations .gdlr-service-with-image-item {
	padding:9px 8px 80px 8px;
	box-shadow:none;
	}

#locations h3 {
    color:#8A2575;
	padding:0;
	margin:0 0 18px 0;
    }

#locations h3 a {
    color:#8A2575;
    letter-spacing: -0.01em;
    font-weight:500;
    }
#locations h3 a:hover {
    color:#F9B336;
    }

#locations strong,
#location-page strong {
	color:#F57E20;
	}

#location-page h3 {
	color:#F57E20;
	line-height:112%;
	}

a.location-pin {
	z-index:0;
	position:relative;
	display:block;
	width:auto;
	height:auto;
	}
a.location-pin:before {
	content:"Click here for directions.";
	box-sizing:border-box;
	z-index:2;
	position:absolute;
	bottom:0;
	width:100%;
	color:#8A2575;
	font-size:15px;
	text-align:center;
	font-weight:600;
	line-height:109%;
	background-color:rgba(184,204,51,0.85);
	padding:2px 9px;
	transition:0.2s;
	}
a.location-pin:hover:before {
	font-size:18px;
	padding:15px 9px;
	}

a.urgentCare {
	position:relative;
	color:#b31e2d;
	display:block;
	height:auto;
	margin:12px 0 0 0;
/* 	margin-left:20px; */
	}
a.urgentCare.large {
	font-size: 27px;
	line-height: 27px;
	}
a.urgentCare:before {
    content: '+';
    position:relative;
    box-sizing: border-box;
/*     position: absolute; */
    top: 1px;
/*     left: 15px; */
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight:600;
    line-height: 20px;
    background-color: #b31e2d;
    padding: 0;
    margin: 0 6px 0 0;
    border-radius: 50%;
    transition:0.2s;
	}
a.urgentCare.large:before {
/* 	top:2px; */
	width:30px;
	height:30px;
	font-size:40px;
	line-height:28px;
	margin:0 6px 0 0;
	}
a.urgentCare:hover {
	color:#F9B336;
	}
a.urgentCare:hover:before {
	background-color:#F9B336;
	}


a.provider-listing {
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	display:block;
	width:100%;
	font-size: 21px;
	line-height:25px;
	font-weight:300;
	background-color:rgba(0, 177, 232, 0.23);
	padding:10px 15px 10px 60px;
	border-radius:2px;
	margin:0 0 6px 0;
	}
a.provider-listing.large {
    font-size:48px;
    line-height:56px;
	padding:10px 15px 10px 90px;
	border-radius:4px;
    }
a.provider-listing:nth-of-type(4n+1) {
	background-color:rgba(184, 204, 51, 0.23);
	}
a.provider-listing:nth-of-type(4n+2) {
	background-color:rgba(249, 179, 54, 0.23);
	}
a.provider-listing:nth-of-type(4n+3) {
	background-color:rgba(214, 108, 170, 0.23);
	}
a.provider-listing:hover {
	color:#ffffff;
	background-color:rgba(0, 177, 232, 1);
	}
a.provider-listing:nth-of-type(4n+1):hover {
	background-color:rgba(184, 204, 51, 1);
	}
a.provider-listing:nth-of-type(4n+2):hover {
	background-color:rgba(249, 179, 54, 1);
	}
a.provider-listing:nth-of-type(4n+3):hover {
	background-color:rgba(214, 108, 170, 1);
	}
a.provider-listing:focus {	
	font-weight:600;
	}

a.provider-listing img {
	position:absolute;
	top:0;
	left:0;
	display:block;
 	width:45px; 
/*	height:130%;*/
	}
a.provider-listing.large img {
    width:75px
	}


#services a.service-listing {
	position:relative;
	display:block;
	color:#A7A9AC;
/* 	background-color:rgba(0,0,0,0.23); */
	padding: 18px 48px 18px 30px;
	border: solid 1px #F9B336;
	border-width:1px 0 1px 8px;
	border-color: #B8CC33 #fff #fff #fff;
	transition:0.2s;
	}
#services a.service-listing:after {
	content:"…";
	display:inline;
	}
#services a.service-listing:before {
	content:"ã€‰";
	position:absolute;
	opacity:0;
	top:10px;
	right:-40px;
	display:block;
	height:100%;
	color:#00B1E8;
	font-size:75px;
	vertical-align:middle;
	transition:0.2s;
	}
#services a.service-listing:hover {
	color:rgb(128,128,128);
	border-color:#00B1E8;
	box-shadow:0 3px 3px rgba(0,0,0,0.23);
	}
#services a.service-listing:hover + a.service-listing{
	border-color: #00B1E8 #fff #fff #fff;
	}
#services a.service-listing:hover:before {
	opacity:1;
	}

#services a.service-listing .slTitle {
	position:relative;
	display:block;
	color:#F57E20;
	font-size: 142%;
	font-weight:500;
	margin-left:-18px;
	transition:0.2s;
	}
#services a.service-listing:hover .slTitle {
	color:#12528C;
	}


#service-image {
	position:relative;
	display:block;
	float:left;
	width:calc((100%/3)*2);
	margin:0px 20px 20px -28%;
	}

.additionalResources {
    background-color: #f4f4f4;
    padding: 15px;
    }




.gdlr-blog-full-ux > article,
.gdlr-blog-grid-ux > article {
	max-width:768px;
	border:solid 2px #F1F2F2;
	padding: 0 0 28px 0;
	border-width:0 0 1px 0;
	margin: 0 auto;
	}

.gdlr-blog-full .gdlr-blog-thumbnail,
.gdlr-blog-grid .gdlr-blog-thumbnail {
	background-color:transparent;
	}
.gdlr-blog-full .gdlr-blog-thumbnail > a,
.gdlr-blog-grid .gdlr-blog-thumbnail > a  {
	width:100%;
	}
.gdlr-blog-full .gdlr-blog-thumbnail > a > img,
.gdlr-blog-grid .gdlr-blog-thumbnail > a > img {
	width:100%;
	}

.gdlr-blog-full .gdlr-blog-title,
.gdlr-blog-grid .gdlr-blog-title {
	
	color:#E53C96;
	font-size:161%;
    text-transform: none;
	}

.gdlr-blog-full .gdlr-blog-title a,
.gdlr-blog-grid .gdlr-blog-title a {
	color:#8A2575;
	}

.gdlr-blog-full a.excerpt-read-more,
.gdlr-blog-grid a.excerpt-read-more {
	opacity:0.61;
	color:#8A2575;
	font-size:76%;
/* 	padding-left:24px; */
	}
.gdlr-blog-full a.excerpt-read-more:after,
.gdlr-blog-grid a.excerpt-read-more:after {
	content:" ►";
	font-size:76%;
	}


.gdlr-page-title-wrapper {
/* 	padding-bottom:36px; */
	}

.gdlr-page-title-wrapper .gdlr-page-title-container {
	text-align:center;
	}

.gdlr-page-title-wrapper .gdlr-page-title {
	font-size:242%;
	}

.gdlr-page-title-wrapper .gdlr-page-caption {
	display:none;
	max-width:566px;
	font-size:112%;
	line-height:123%;
	}

.blog-content-wrapper h1.gdlr-blog-title {
	display:none;
	text-transform:none;
	}

.gdlr-single-blog-tag {
	background-color:transparent;
	}

.gdlr-single-blog-tag i.fa-tags {
	background-color:#12528C;
	padding:6px;
	border-radius:50%;
	}

.gdlr-single-blog-tag *,
.gdlr-single-blog-tag a {
	color:#12528C;
	font-size:112%;
	}

.gdlr-single-nav {
	display:none;
	}


.wpcf7-form input[type="text"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="email"] {
    box-sizing: border-box;
    display: inline-block;
    width: 500px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    padding: 4px 6px 6px 6px;
    border: solid 2px #F9B336;
    color: #444444;
    background-color: #f5f5f5;
    margin: 0 12px;
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.wpcf7-form input[type="tel"] {
    width: 250px !important;
}

.wpcf7-form input[type="submit"] {
    margin-top: 18px !important;
}

.form-submit .submit {
	background-color:#12528C;
	}

.gdlr-widget-title {
/* 	opacity:0.61; */
	font-size:123%;
	}



.footer-wrapper * {
    border-color:rgba(255,255,255,0.09);
    }

.footer-wrapper {
    z-index: 99;
    background-color: #9DC03B;
    margin-top:-20px;
    position: static;
    }

.footer-wrapper .gdlr-widget-title, 
.footer-wrapper .gdlr-widget-title a {
    color: #ffffff;
    }

.footer-wrapper .gdlr-widget-title {
	font-size:161%;
	font-weight:600;
    }

.footer-wrapper a {
    color: rgba(255,255,255,0.85);
    }

#allSites {
	box-sizing:border-box;
	position:relative;
	display:block;
	margin: -120px 0 0 0;
	}

#allSites a.gSite {
	display:block;
	box-sizing:border-box;
	width: calc(100% - 6px);
	background-color: rgba(255,255,255,1);
/* 	max-width: 200px; */
	padding:0px;
	margin: 0 auto 6px auto;
	}
#allSites a.gSite:first-of-type {
	overflow:hidden;
	width: calc(100% + 18px);
	border-radius: 50% 50% 0 0;
	border:solid 12px #8A2575;
	border-width: 12px 12px 0 12px;
	margin: 0 auto 6px -10px;
	}
#allSites a.gSite:nth-of-type(n+2) {
	display: inline-block;
	width: calc(50% - 8px);
/* 	height:120px; */
/* 	max-width: 100px; */
	line-height:120px;
	vertical-align:middle;
	margin: 6px 3px;
	}
#allSites a.gSite img {
	display:block;
	width: 100%;
	}


.secondaryFooterLinks {
	position:relative;
	display:block;
	text-align:center;
	margin-top:20px;
	}

.secondaryFooterLinks a {
	position:relative;
	display:block;
	font-size: 135%;
	font-weight:600;
	padding: 9px;
	}
.secondaryFooterLinks a:hover {
	color: #F9B336;
	}


.copyright-wrapper {
	background-color:#268635;
	border-width:0;
	}

.copyright-wrapper * {
    color:rgba(255,255,255,0.42);
	}

.copyright-left a {
    color:#ffffff;
	}