html.ltie9 body, body{ min-width: 1140px; } .container{ max-width: 1140px; } .gdlr-caption-wrapper .gdlr-caption-inner{ max-width: 1140px; }
.body-wrapper.gdlr-boxed-style{ max-width: 1220px; overflow: hidden; } .body-wrapper.gdlr-boxed-style .gdlr-header-wrapper{ max-width: 1220px; margin: 0px auto; }
.gdlr-logo{ max-width: 210px; }
.gdlr-logo{ margin-top: 50px; }
.gdlr-logo{ margin-bottom: 40px; }
.gdlr-navigation-wrapper{ margin-top: 28px; }
h1, h2, h3, h4, h5, h6, .gdlr-title-font{ font-family: "Courgette"; }
body, input, textarea, select, .gdlr-content-font, .comment-respond .comment-reply-title, .gdlr-item-title-wrapper.pos-left-content .gdlr-item-title, .single-tribe_events .tribe-events-schedule h3,.single-tribe_events h2.tribe-events-single-event-title, .tribe-events-loop .type-tribe_events h2{ font-family: "Open Sans"; }
.gdlr-info-font{ font-family: "Droid Serif"; }
.gdlr-navigation{ font-family: "Open Sans"; }
body{ font-size: 13px; }
h1{ font-size: 47px; }
h2{ font-size: 41px; }
h3{ font-size: 32px; }
h4{ font-size: 26px; }
h5{ font-size: 21px; }
h6{ font-size: 16px; }
.header-style-2 .top-navigation-wrapper{ background-color: #000000; }
.top-navigation-wrapper{ color: #9b9b9b; }
.top-navigation-wrapper a{ color: #f2f2f2; }
.header-style-1 .gdlr-header-container-overlay{ background-color: #ffffff; background-color: rgba(255, 255, 255, 0.7); }.header-style-2 .gdlr-header-wrapper{ background-color: #ffffff; background-color: rgba(255, 255, 255, 0.7); }.header-style-3 .gdlr-header-wrapper{ background-color: #ffffff; }.gdlr-fixed-header.gdlr-header-inner{  background-color: #ffffff; }
.gdlr-main-menu > li > a{ color: #757575; }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ color: #232323; opacity: 1; filter: alpha(opacity=100); }.gdlr-navigation-gimmick{ background: #232323; }
.gdlr-menu-search{ background: #212121; background: rgba(33, 33, 33, 0.8); }
.gdlr-menu-search input[type="text"]{ color: #ffffff; }
.gdlr-main-menu > .gdlr-normal-menu .sub-menu, .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ border-top-color: #1c1c1c; }
.gdlr-main-menu > .gdlr-normal-menu li , .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ background-color: #171717; }
.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a{ color: #bebebe; }
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #ffffff; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #ffffff; } 
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #232323; } 
.gdlr-main-menu > li > .sub-menu *, .gdlr-main-menu > li > .sf-mega *{ border-color: #262626; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #ffffff; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #ffffff; }
#gdlr-responsive-navigation.dl-menuwrapper button { background-color: #0a0a0a; }
#gdlr-responsive-navigation.dl-menuwrapper button:hover, #gdlr-responsive-navigation.dl-menuwrapper button.dl-active, #gdlr-responsive-navigation.dl-menuwrapper ul{ background-color: #0a0a0a; }
body{ background-color: #dddddd; }
.body-wrapper, .gdlr-single-lightbox-container{ background-color: #ffffff; }
.gdlr-page-title, .gdlr-page-title-gimmick{ color: #ffffff; }
.gdlr-page-caption{ color: #ffffff; }
h1, h2, h3, h4, h5, h6, .gdlr-title, .gdlr-title a{ color: #454545; }
.gdlr-item-title-wrapper .gdlr-item-title{ color: #292929; border-color: #292929; }
.gdlr-item-title-divider{ border-color: #333333; }
.gdlr-item-title-wrapper .gdlr-item-caption{ color: #9b9b9b; }
body{ color: #808080; }
a{ color: #c39e6d; }
a:hover{ color: #c18d49; }
body *{ border-color: #dddddd; }
.page-not-found-block{ background-color: #d65938; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #963a20; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #d57f5c; }
.gdlr-sidebar .gdlr-widget-title{ color: #383838; }
.gdlr-sidebar *{ border-color: #e5e5e5; }
.gdlr-sidebar ul li:before { border-color: #bdbdbd; }
.gdl-search-form input{ background-color: #f7f7f7; }
.gdl-search-form input{ color: #9d9d9d; }
.gdl-search-form input{ border-color: #ebebeb; }
.tagcloud a{ background-color: #1f1f1f; }
.tagcloud a, .tagcloud a:hover{ color: #ffffff; }
.gdlr-about-us-item .about-us-item-title{ color: #101010; }
.gdlr-about-us-item .about-us-item-caption{ color: #6c6c6c; }
.gdlr-about-us-item .about-us-learn-more, .gdlr-about-us-item .about-us-item-title-divider{ border-color: #c39e6d; }
.gdlr-accordion-item.style-1 .pre-active .accordion-title{ color: #3c3c3c; }
.gdlr-accordion-item.style-1 .accordion-title{ color: #8d8d8d; }
.gdlr-accordion-item.style-1 .accordion-title i{ background-color: #f3f3f3; }
.gdlr-accordion-item.style-1 .accordion-title i{ color: #a8a8a8; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ background-color: #c39e6d; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ color: #ffffff; }
.gdlr-banner-item-wrapper .flex-direction-nav .flex-prev, .gdlr-banner-item-wrapper .flex-direction-nav .flex-next{ color: #999999; }
.gdlr-box-with-icon-item{ background-color: #f5f5f5; }
.gdlr-box-with-icon-item > i, .gdlr-box-with-icon-item .box-with-icon-title{ color: #585858; }
.gdlr-box-with-icon-item{ color: #929292; }
.gdlr-button, .gdlr-button:hover, input[type="button"], input[type="submit"], .gdlr-top-menu > .gdlr-mega-menu .sf-mega a.gdlr-button{ color: #ffffff; }
.gdlr-button, input[type="button"], input[type="submit"]{ background-color: #c39e6d; }
.gdlr-button{ border-color: #c39e6d; }
.column-service-title{ color: #292929; }
.column-service-content{ color: #909090; }
.column-service-icon i{ color: #c39e6d; }
.gdlr-column-service-item.gdlr-type-2 .column-service-icon{ background-color: #3e3e3e; }
.gdlr-column-service-tab .column-service-title{ color: #101010; }
.gdlr-column-service-tab .column-service-content{ color: #101010; }
.gdlr-column-service-tab .column-service-icon i{ color: #101010; }
.gdlr-column-service-tab .column-service-learn-more{ color: #101010; }
.list-with-icon .list-with-icon-title{ color: #333333; }
.gdlr-pie-chart-item .pie-chart-title{ color: #313131; }
.gdlr-price-inner-item{ background-color: #f9f9f9; }
.gdlr-price-item .price-title-wrapper{ background-color: #454545; }
.gdlr-price-item .price-title{ color: #ffffff; }
.gdlr-price-item .price-tag{ background-color: #838383; }
.gdlr-price-item .best-price .price-tag{ background-color: #c39e6d; }
.gdlr-price-item .price-tag{ color: #ffffff; }
.gdlr-process-tab .gdlr-process-icon{ background-color: #f3f3f3; }
.gdlr-process-tab .gdlr-process-icon{ border-color: #e3e3e3; }
.gdlr-process-tab .gdlr-process-icon i{ color: #aaaaaa; }
.gdlr-process-tab .process-line .process-line-divider{ border-color: #e3e3e3; } .gdlr-process-tab .process-line .icon-chevron-down, .gdlr-process-tab .process-line .icon-chevron-right{ color: #e3e3e3; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ color: #454545; }
.gdlr-skill-item-wrapper{ color: #3a3a3a; }
.stunning-item-title{ color: #101010; }
.stunning-item-caption{ color: #101010; }
.stunning-item-icon{ color: #101010; }
.tab-title-wrapper .tab-title{ background-color: #f9f9f9; }
.tab-title-wrapper .tab-title{ color: #3b3b3b; }
.tab-title-wrapper .tab-title.active, .tab-content-wrapper{ background-color: #ffffff; }
table tr th{ background-color: #c39e6d; }
table tr th{ color: #ffffff; }
table.style-2 tr:nth-child(odd){ background-color: #f9f9f9; }
table.style-2 tr:nth-child(odd){ color: #949494; }
table.style-2 tr:nth-child(even){ background-color: #f3f3f3; }
table.style-2 tr:nth-child(even){ color: #949494; }
.gdlr-blog-title, .gdlr-blog-title a{ color: #212121; }
.gdlr-blog-title a:hover{ color: #c39e6d; }
.gdlr-blog-date-wrapper{ background-color: #c39e6d; }.gdlr-blog-date-wrapper:after { border-color: #c39e6d #c39e6d transparent #c39e6d; }
.gdlr-blog-date-wrapper{ color: #212121; }.gdlr-blog-date-wrapper .gdlr-blog-date-divider{ border-bottom-color: #212121; }
.blog-info, .blog-info a, .blog-info i{ color: #7a7a7a; }
.gdlr-blog-thumbnail .gdlr-sticky-banner{ background-color: #232323; }
.gdlr-blog-thumbnail .gdlr-sticky-banner, .gdlr-blog-thumbnail .gdlr-sticky-banner i{ color: #ffffff; }
.gdlr-standard-style .gdlr-single-blog-tag a{ background-color: #3d3d3d; }
.gdlr-standard-style .gdlr-single-blog-tag a{ color: #ffffff; }
.format-aside .gdlr-blog-content{ background-color: #c39e6d; }
.format-aside .gdlr-blog-content{ color: #ffffff; }
.format-quote .gdlr-top-quote blockquote{ color: #8d8d8d; }
.format-quote .gdlr-quote-author{ color: #c39e6d; }
.gdlr-related-post-wrapper{ background-color: #f5f5f5; }
.related-post-header{ color: #373737; }
.related-post-title a{ color: #7b7b7b; }
.single .gdlr-single-nav{ background-color: #373737; }
.single .gdlr-single-nav > div.previous-nav{ border-color: #585858; }
.single .gdlr-single-nav a{ color: #ffffff; }
.single .gdlr-single-nav a .single-nav-text { color: #8e8e8e; }
.gdlr-post-author{ background-color: #f1f1f1; }
.gdlr-post-author .post-author, .gdlr-post-author .post-author a, .gdlr-post-author .post-author-title{ color: #373737; }
.gdlr-post-author .post-author-content{ color: #828282; }
.gdlr-social-share, .gdlr-social-share a{ background-color: #212121; }
.gdlr-social-share .social-share-title{ color: #ffffff; }
.gdlr-single-blog-tag{ background-color: #3d3d3d; }
.gdlr-single-blog-tag .blog-info, .gdlr-single-blog-tag a, .gdlr-single-blog-tag a:hover, .gdlr-single-blog-tag .blog-info i{ color: #ffffff; }
.menu-item-filter, .menu-item-filter a{ color: #9d9d9d; }
.menu-item-filter-divider{ border-color: #1a1a1a; } .menu-item-filter a.active { color: #1a1a1a; }
.gdlr-menu-item .menu-title, .gdlr-menu-item .menu-title  a, .single-menu .gdlr-menu-title{ color: #202020; }
.gdlr-menu-item  .menu-ingredients-caption, .gdlr-single-menu-head .menu-ingredients{ color: #6c6c6c; }
.menu-rating, .menu-recommendation, .menu-price{ color: #c39e6d; }
.gdlr-list-menu.gdlr-featured{ border-color: #c39e6d; }
.gdlr-menu-modern .menu-title, .gdlr-menu-modern .menu-title a, .gdlr-menu-modern .menu-ingredients-caption{ color: #ffffff; }
.gdlr-menu-modern .menu-rating, .gdlr-menu-modern .menu-recommendation,  .gdlr-menu-modern .menu-price{ color: #c39e6d; }
.gdlr-single-menu-time{ background-color: #f5f5f5; }
.gdlr-single-menu-serving .menu-info .gdlr-head, .gdlr-single-menu-time .menu-info .gdlr-head{ color: #292929; }
.gdlr-single-menu-time .menu-info{ border-color: #d4d4d4; }
.gdlr-pagination .page-numbers{ background-color: #212121; }
.gdlr-pagination .page-numbers{ color: #f9f9f9; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ background-color: #c39e6d; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ color: #ffffff; }
.gdlr-event-list-date{ background-color: #c39e6d; }
.gdlr-event-list-date{ color: #171717; } .gdlr-event-list-date .gdlr-date-divider{ border-color: #171717; } 
.gdlr-event-list .gdlr-event-list-content{ background: #ffffff; }
.single-tribe_events .tribe-events-schedule, .tribe-events-loop .tribe-events-event-meta{ background-color: #f5f5f5; }
.tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, #tribe-bar-form .tribe-bar-submit input[type=submit],#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover{ background-color: #c39e6d; }
#tribe-bar-form .tribe-bar-views-inner label, #tribe-bar-form .tribe-bar-submit input[type=submit],#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover{ color: #313131; }
.tribe-events-back a, .tribe-events-loop .type-tribe_events h2 a, .single-tribe_events h2.tribe-events-single-event-title, .tribe-events-loop .tribe-events-list-event-description a, .tribe-events-loop .tribe-events-event-meta .tribe-events-venue-details a, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a{ color: #c39e6d; }
.gdlr-personnel-item .personnel-item-inner{ background-color: #ffffff; }
.gdlr-personnel-item.round-style .personnel-item{ background-color: #c39e6d; }
.gdlr-personnel-item.round-style .personnel-author, .gdlr-personnel-item.round-style .personnel-content, .gdlr-personnel-item.round-style .personnel-position{ color: #ffffff; }
.gdlr-personnel-item .personnel-author{ color: #c39e6d; }
.gdlr-personnel-item .personnel-author-image{ border-color: #c39e6d; }
.gdlr-personnel-item .personnel-position{ color: #3d3d3d; }
.gdlr-personnel-item .personnel-content{ color: #606060; }
.gdlr-personnel-item .personnel-social i{ color: #ffffff; }
.gdlr-testimonial-item .testimonial-item-inner, .gdlr-testimonial-item .testimonial-author-image{ background-color: #f5f5f5; }
.gdlr-testimonial-item .testimonial-content{ color: #9b9b9b; }
.gdlr-testimonial-item .testimonial-author{ color: #c39e6d; }
.gdlr-testimonial-item .testimonial-position{ color: #4d4d4d; }
.gdlr-testimonial-item .testimonial-author-image{ border-color: #c39e6d; }
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ border-top-color: #dddddd; border-left-color: #dddddd; }
.gdlr-gallery-thumbnail .gallery-item{ background-color: #e5e5e5; }
.gdlr-gallery-thumbnail-container .gallery-caption{ background-color: #000000; }
.gdlr-gallery-thumbnail-container .gallery-caption{ color: #ffffff; }
.nivo-controlNav a, .flex-control-paging li a{ background-color: #ffffff; }
.nivo-controlNav a:hover, .nivo-controlNav a.active, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #5e5e5e; }
.nivo-controlNav a, .flex-control-paging li a{ border-color: #5e5e5e !important; }
.nivo-directionNav a, .flex-direction-nav a, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ background-color: #000000; }
body .nivo-directionNav a, body .flex-direction-nav a, body .flex-direction-nav a:hover, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ color: #ffffff; }
.gdlr-caption{ background-color: #000000; }
.gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-text{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider{ background-color: #000000; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-text{ color: #dddddd; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ color: #ffffff; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ background-color: #c39e6d; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ background-color: #eeeeee; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ color: #6d6d6d; }
input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea,.open-table-item-wrapper  .gdlr-otw-combobox, .open-table-item-wrapper input[type="text"], .open-table-item-wrapper .gdlr-otw-combobox:after{ background-color: #f5f5f5; }
input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea,.open-table-item-wrapper input[type="text"], .open-table-item-wrapper .gdlr-otw-combobox select{ color: #444444; }input::input-placeholder{ color:#444444; } input::-webkit-input-placeholder{ color:#444444; }input::-moz-placeholder{ color:#444444; } input:-moz-placeholder{ color:#444444; }input:-ms-input-placeholder{ color:#444444; }textarea::input-placeholder{ color:#444444; } textarea::-webkit-input-placeholder{ color:#444444; }textarea::-moz-placeholder{ color:#444444; } textarea:-moz-placeholder{ color:#444444; }textarea:-ms-input-placeholder{ color:#444444; }
.footer-wrapper{ background-color: #232323; }
.footer-wrapper .gdlr-widget-title, .footer-wrapper .gdlr-widget-title a{ color: #dddddd; }
.footer-wrapper{ color: #bfbfbf; }
.footer-wrapper a{ color: #7f7f7f; }
.footer-wrapper a:hover{ color: #cecece; }
.footer-wrapper *{ border-color: #363636; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ background-color: #141414; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ color: #828282; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ border-color: #313131; }
.footer-wrapper .gdlr-button, .footer-wrapper .gdlr-button:hover, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ color: #ffffff; }
.footer-wrapper .gdlr-button, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ background-color: #c39e6d; }
.footer-wrapper .tagcloud a{ background-color: #c39e6d; }
.footer-wrapper .tagcloud a, .footer-wrapper .tagcloud a:hover{ color: #ffffff; }
.copyright-wrapper{ background-color: #0f0f0f; }
.copyright-wrapper{ color: #828282; }
.footer-wrapper .copyright-wrapper{ border-color: #0f0f0f; }
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce-message,html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {  background: #c39e6d; }html .woocommerce .star-rating, html .woocommerce-page .star-rating, html .woocommerce .star-rating:before, html .woocommerce-page .star-rating:before, html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {color: #c39e6d; }
html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-message, html .woocommerce-error, html .woocommerce-info, html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{ color: #ffffff; }
html .woocommerce-info{ background: #389EC5; }
html .woocommerce-error{ background: #C23030; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ background: #c39e6d; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ color: #ffffff; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ border-bottom: 3px solid #a0723d; }
html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar { background: #ebebeb; }html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar,html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text,html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover ,html .woocommerce-page ul.products li.product a img:hover, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img,html .woocommerce form.login, html .woocommerce form.checkout_coupon, html .woocommerce form.register, html .woocommerce-page form.login,html .woocommerce-page form.checkout_coupon, html .woocommerce-page form.register, html .woocommerce table.cart td.actions .coupon .input-text,html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text,html .woocommerce-page #content table.cart td.actions .coupon .input-text { border: 1px solid #ebebeb; }html .woocommerce div.product .woocommerce-tabs ul.tabs:before, html .woocommerce #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th,html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th { border-bottom: 1px solid #ebebeb; }html .woocommerce .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce .cart-collaterals .cart_totals table tr:first-child td,html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 3px #ebebeb solid; }html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th,html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th { border-bottom: 2px solid #ebebeb; }
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove, html .woocommerce #payment, html .woocommerce-page #payment, html .woocommerce .customer_details,html .woocommerce ul.order_details, html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a,html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea, html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty,html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { background: #f3f3f3; }html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty { border: 1px solid #f3f3f3; }
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { border-top: 2px solid #e5e5e5; }html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover,html .woocommerce-page #content table.cart a.remove:hover, html #payment div.payment_box, html .woocommerce-page #payment div.payment_box { background: #e5e5e5; }
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th,html .woocommerce-page table.shop_attributes .alt th, html .woocommerce ul.products li.product .price, html.woocommerce-page ul.products li.product .price { color: #333333; }
html .woocommerce ul.products li.product .price del, html .woocommerce-page ul.products li.product .price del,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove,html .woocommerce-page #content table.cart a.remove { color: #888888; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { color: #ffffff; }
html .woocommerce .quantity .plus, html .woocommerce #content .quantity .plus,  html .woocommerce-page .quantity .plus,html .woocommerce-page #content .quantity .plus, html .woocommerce .quantity .plus:hover, html .woocommerce #content .quantity .plus:hover,html .woocommerce-page .quantity .plus:hover,  html .woocommerce-page #content .quantity .plus:hover{ background: #9a9a9a; }
html .woocommerce .quantity .minus, html .woocommerce #content .quantity .minus,  html .woocommerce-page .quantity .minus,html .woocommerce-page #content .quantity .minus, html .woocommerce .quantity .minus:hover, html .woocommerce #content .quantity .minus:hover,html .woocommerce-page .quantity .minus:hover,  html .woocommerce-page #content .quantity .minus:hover{ background: #b6b6b6; }
.gdlr-skin-dark-skin, .gdlr-skin-dark-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-skin i, .gdlr-skin-dark-skin .gdlr-flex-prev, .gdlr-skin-dark-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-skin h1, .gdlr-skin-dark-skin h2, .gdlr-skin-dark-skin h3, .gdlr-skin-dark-skin h4, .gdlr-skin-dark-skin h5, .gdlr-skin-dark-skin h6, .gdlr-skin-dark-skin .gdlr-skin-title, .gdlr-skin-dark-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-info, .gdlr-skin-dark-skin .gdlr-skin-info a, .gdlr-skin-dark-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin a, .gdlr-skin-dark-skin .gdlr-skin-link, .gdlr-skin-dark-skin .gdlr-skin-link-color{ color: #ffcc0d; }
.gdlr-skin-dark-skin a:hover, .gdlr-skin-dark-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-box, .gdlr-skin-dark-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffcc0d; }
.gdlr-skin-dark-skin *, .gdlr-skin-dark-skin .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-button, .gdlr-skin-dark-skin .gdlr-button:hover, .gdlr-skin-dark-skin input[type="button"], .gdlr-skin-dark-skin input[type="submit"]{ color: #ffffff; background-color: #222222;  }
.gdlr-skin-light-grey, .gdlr-skin-light-grey .gdlr-skin-content{ color: #999999; }
.gdlr-skin-light-grey i, .gdlr-skin-light-grey .gdlr-flex-prev, .gdlr-skin-light-grey .gdlr-flex-next{ color: #e0e0e0; }
.gdlr-skin-light-grey h1, .gdlr-skin-light-grey h2, .gdlr-skin-light-grey h3, .gdlr-skin-light-grey h4, .gdlr-skin-light-grey h5, .gdlr-skin-light-grey h6, .gdlr-skin-light-grey .gdlr-skin-title, .gdlr-skin-light-grey .gdlr-skin-title a{ color: #353535; }
.gdlr-skin-light-grey .gdlr-skin-title a:hover{ color: #5e5e5e; }
.gdlr-skin-light-grey .gdlr-skin-info, .gdlr-skin-light-grey .gdlr-skin-info a, .gdlr-skin-light-grey .gdlr-skin-info a:hover{ color: #828282; }
.gdlr-skin-light-grey a, .gdlr-skin-light-grey .gdlr-skin-link, .gdlr-skin-light-grey .gdlr-skin-link-color{ color: #282828; }
.gdlr-skin-light-grey a:hover, .gdlr-skin-light-grey .gdlr-skin-link:hover{ color: #848484; }
.gdlr-skin-light-grey .gdlr-skin-box, .gdlr-skin-light-grey .gdlr-column-service-item .gdlr-skin-box{ background-color: #a5a5a5; }
.gdlr-skin-light-grey *, .gdlr-skin-light-grey .gdlr-skin-border{ border-color: #eaeaea; }
.gdlr-skin-light-grey .gdlr-button, .gdlr-skin-light-grey .gdlr-button:hover, .gdlr-skin-light-grey input[type="button"], .gdlr-skin-light-grey input[type="submit"]{ color: #a3a3a3; background-color: #f2f2f2;  }
.gdlr-skin-dark-yellow-skin, .gdlr-skin-dark-yellow-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin i, .gdlr-skin-dark-yellow-skin .gdlr-flex-prev, .gdlr-skin-dark-yellow-skin .gdlr-flex-next{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin h1, .gdlr-skin-dark-yellow-skin h2, .gdlr-skin-dark-yellow-skin h3, .gdlr-skin-dark-yellow-skin h4, .gdlr-skin-dark-yellow-skin h5, .gdlr-skin-dark-yellow-skin h6, .gdlr-skin-dark-yellow-skin .gdlr-skin-title, .gdlr-skin-dark-yellow-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin .gdlr-skin-info, .gdlr-skin-dark-yellow-skin .gdlr-skin-info a, .gdlr-skin-dark-yellow-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin a, .gdlr-skin-dark-yellow-skin .gdlr-skin-link, .gdlr-skin-dark-yellow-skin .gdlr-skin-link-color{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin a:hover, .gdlr-skin-dark-yellow-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin .gdlr-skin-box, .gdlr-skin-dark-yellow-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-yellow-skin *, .gdlr-skin-dark-yellow-skin .gdlr-skin-border{ border-color: #ffd44c; }
.gdlr-skin-dark-yellow-skin .gdlr-button, .gdlr-skin-dark-yellow-skin .gdlr-button:hover, .gdlr-skin-dark-yellow-skin input[type="button"], .gdlr-skin-dark-yellow-skin input[type="submit"]{ color: #0c0c0c; background-color: #ffd44c;  }
.gdlr-skin-dark-yellow-skin-2, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 i, .gdlr-skin-dark-yellow-skin-2 .gdlr-flex-prev, .gdlr-skin-dark-yellow-skin-2 .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 h1, .gdlr-skin-dark-yellow-skin-2 h2, .gdlr-skin-dark-yellow-skin-2 h3, .gdlr-skin-dark-yellow-skin-2 h4, .gdlr-skin-dark-yellow-skin-2 h5, .gdlr-skin-dark-yellow-skin-2 h6, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-title, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-title a{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-skin-info, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-info a, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-info a:hover{ color: #ffd44c; }
.gdlr-skin-dark-yellow-skin-2 a, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-link, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 a:hover, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-skin-box, .gdlr-skin-dark-yellow-skin-2 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 *, .gdlr-skin-dark-yellow-skin-2 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-yellow-skin-2 .gdlr-button, .gdlr-skin-dark-yellow-skin-2 .gdlr-button:hover, .gdlr-skin-dark-yellow-skin-2 input[type="button"], .gdlr-skin-dark-yellow-skin-2 input[type="submit"]{ color: #1c1c1c; background-color: #ffd44c;  }
.gdlr-skin-dark-yellow-skin-3, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 i, .gdlr-skin-dark-yellow-skin-3 .gdlr-flex-prev, .gdlr-skin-dark-yellow-skin-3 .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 h1, .gdlr-skin-dark-yellow-skin-3 h2, .gdlr-skin-dark-yellow-skin-3 h3, .gdlr-skin-dark-yellow-skin-3 h4, .gdlr-skin-dark-yellow-skin-3 h5, .gdlr-skin-dark-yellow-skin-3 h6, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-title, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-skin-info, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-info a, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 a, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-link, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 a:hover, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-skin-box, .gdlr-skin-dark-yellow-skin-3 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-yellow-skin-3 *, .gdlr-skin-dark-yellow-skin-3 .gdlr-skin-border{ border-color: #ffd44c; }
.gdlr-skin-dark-yellow-skin-3 .gdlr-button, .gdlr-skin-dark-yellow-skin-3 .gdlr-button:hover, .gdlr-skin-dark-yellow-skin-3 input[type="button"], .gdlr-skin-dark-yellow-skin-3 input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.gdlr-skin-dark-red-skin, .gdlr-skin-dark-red-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-red-skin i, .gdlr-skin-dark-red-skin .gdlr-flex-prev, .gdlr-skin-dark-red-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-red-skin h1, .gdlr-skin-dark-red-skin h2, .gdlr-skin-dark-red-skin h3, .gdlr-skin-dark-red-skin h4, .gdlr-skin-dark-red-skin h5, .gdlr-skin-dark-red-skin h6, .gdlr-skin-dark-red-skin .gdlr-skin-title, .gdlr-skin-dark-red-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-red-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-red-skin .gdlr-skin-info, .gdlr-skin-dark-red-skin .gdlr-skin-info a, .gdlr-skin-dark-red-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-red-skin a, .gdlr-skin-dark-red-skin .gdlr-skin-link, .gdlr-skin-dark-red-skin .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-red-skin a:hover, .gdlr-skin-dark-red-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-red-skin .gdlr-skin-box, .gdlr-skin-dark-red-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-red-skin *, .gdlr-skin-dark-red-skin .gdlr-skin-border{ border-color: #f03939; }
.gdlr-skin-dark-red-skin .gdlr-button, .gdlr-skin-dark-red-skin .gdlr-button:hover, .gdlr-skin-dark-red-skin input[type="button"], .gdlr-skin-dark-red-skin input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.gdlr-skin-dark-gold-skin, .gdlr-skin-dark-gold-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-gold-skin i, .gdlr-skin-dark-gold-skin .gdlr-flex-prev, .gdlr-skin-dark-gold-skin .gdlr-flex-next{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin h1, .gdlr-skin-dark-gold-skin h2, .gdlr-skin-dark-gold-skin h3, .gdlr-skin-dark-gold-skin h4, .gdlr-skin-dark-gold-skin h5, .gdlr-skin-dark-gold-skin h6, .gdlr-skin-dark-gold-skin .gdlr-skin-title, .gdlr-skin-dark-gold-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-gold-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin .gdlr-skin-info, .gdlr-skin-dark-gold-skin .gdlr-skin-info a, .gdlr-skin-dark-gold-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin a, .gdlr-skin-dark-gold-skin .gdlr-skin-link, .gdlr-skin-dark-gold-skin .gdlr-skin-link-color{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin a:hover, .gdlr-skin-dark-gold-skin .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin .gdlr-skin-box, .gdlr-skin-dark-gold-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-gold-skin *, .gdlr-skin-dark-gold-skin .gdlr-skin-border{ border-color: #c39e6d; }
.gdlr-skin-dark-gold-skin .gdlr-button, .gdlr-skin-dark-gold-skin .gdlr-button:hover, .gdlr-skin-dark-gold-skin input[type="button"], .gdlr-skin-dark-gold-skin input[type="submit"]{ color: #ffffff; background-color: #C39E6D;  }
.gdlr-skin-dark-gold-skin-2, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 i, .gdlr-skin-dark-gold-skin-2 .gdlr-flex-prev, .gdlr-skin-dark-gold-skin-2 .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 h1, .gdlr-skin-dark-gold-skin-2 h2, .gdlr-skin-dark-gold-skin-2 h3, .gdlr-skin-dark-gold-skin-2 h4, .gdlr-skin-dark-gold-skin-2 h5, .gdlr-skin-dark-gold-skin-2 h6, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-title, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-title a{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin-2 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 .gdlr-skin-info, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-info a, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-info a:hover{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin-2 a, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-link, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 a:hover, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-link:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 .gdlr-skin-box, .gdlr-skin-dark-gold-skin-2 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 *, .gdlr-skin-dark-gold-skin-2 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-gold-skin-2 .gdlr-button, .gdlr-skin-dark-gold-skin-2 .gdlr-button:hover, .gdlr-skin-dark-gold-skin-2 input[type="button"], .gdlr-skin-dark-gold-skin-2 input[type="submit"]{ color: #ffffff; background-color: #c39e6d;  }
.gdlr-skin-dark-gold-skin-3, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-content{ color: #3f3f3f; }
.gdlr-skin-dark-gold-skin-3 i, .gdlr-skin-dark-gold-skin-3 .gdlr-flex-prev, .gdlr-skin-dark-gold-skin-3 .gdlr-flex-next{ color: #3f3f3f; }
.gdlr-skin-dark-gold-skin-3 h1, .gdlr-skin-dark-gold-skin-3 h2, .gdlr-skin-dark-gold-skin-3 h3, .gdlr-skin-dark-gold-skin-3 h4, .gdlr-skin-dark-gold-skin-3 h5, .gdlr-skin-dark-gold-skin-3 h6, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-title, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-skin-info, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-info a, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-info a:hover{ color: #686868; }
.gdlr-skin-dark-gold-skin-3 a, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-link, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-link-color{ color: #c39e6d; }
.gdlr-skin-dark-gold-skin-3 a:hover, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-link:hover{ color: #aa7846; }
.gdlr-skin-dark-gold-skin-3 .gdlr-skin-box, .gdlr-skin-dark-gold-skin-3 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 *, .gdlr-skin-dark-gold-skin-3 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-gold-skin-3 .gdlr-button, .gdlr-skin-dark-gold-skin-3 .gdlr-button:hover, .gdlr-skin-dark-gold-skin-3 input[type="button"], .gdlr-skin-dark-gold-skin-3 input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
