/*
Theme Name: Canyon View Medical Group
Theme URI: https://bitbucket.org/mangledmonkey/canyon-view-medical-group-theme/src/master/ 
Description: Canyon View Medical Group Wordpress Theme
Author: Mangled Monkey Media
Author URI: https://mangledmonkeymedia.com
Version: 1.3.00
License: 
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, yellow, two-columns, fluid-layout, custom-background, custom-colors, featured-images, theme-options
Text Domain: gdlr_translate
*/

/*------------------------------------------------------------------
[Table of contents]

1. Initiate Css
	1. Reset
	2. Wordpress Style ( caption / align style )
2. Theme Style
	1. Header
	2. Sidebar
	3. Footer
3.) Content Item
4.) Widget
5.) Default Plugin
6.) Goodlayers Soccer Plugin 
-------------------------------------------------------------------*/

/*--- reset ---*/
/*--- reset5 Â© 2011 opensource.736cs.com MIT ---*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,
mark,menu,meter,nav,output,progress,section,summary,time,video{ border:0; outline:0; 
	vertical-align:baseline; background:transparent; margin:0;padding:0; }
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{ display:block; }
nav ul{ list-style:none; }
ol{ list-style:decimal; }
ul{ list-style:disc; }
ul ul{ list-style:circle; }
blockquote,q{ quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{ content:none; }
ins{ text-decoration:underline; }
del{ text-decoration:line-through; }
mark{ background:none; }
abbr[title],dfn[title], acronym[title]{ border-bottom:1px dotted; cursor:help; }
table{ border-collapse:collapse;border-spacing:0; }
hr{ display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input[type=submit],input[type=button],button{ margin:0; padding:0;}
input,select,a img{ vertical-align:middle; }

b, strong{ font-weight: bold; }
i, em{ font-style: italic; }

/*--- clear ---*/
.clear{ display: block; clear: both; visibility: hidden; line-height: 0; height: 0; zoom: 1; }
.clear-fix{ zoom: 1; }
.clear-fix:after{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/*--- wordpress core ---*/
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
.aligncenter { display: block; margin: 5px auto 5px auto; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0;}
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border-width: 1px; border-style: solid; max-width: 96%;
    padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
.sticky{}
.bypostauthor{}
dl { width:100%; overflow:hidden; }
dt { float:left; width: 30%; clear: left; margin-bottom: 12px; }
dd { float:left; width: 70%; margin-bottom: 15px; }
big{ font-size: 15px; }
code, kbd{ border: 1px dotted; padding: 5px 12px; margin: 0px 10px }
sup { vertical-align: super; font-size: 11px; }
sub {  vertical-align: sub; font-size: 11px; }

.gallery-item .gallery-icon { margin-right: 10px; }
i{ margin-right: 5px; }
a{ text-decoration: none; }
p{ margin-bottom: 20px; }
ul, ol{ margin-bottom: 20px; margin-left: 30px; }
body { line-height: 1.7; font-family: Arial, Helvetica, sans-serif; overflow-y: scroll;
	-webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3; margin-bottom: 18px; font-weight: 400; }	

.post-password-form input[type="submit"] { margin-left: 20px; margin-bottom: 0px; }
.post-password-form input[type="password"] { margin-left: 10px; padding: 10px 15px; }

/*----------------------------------------------------------------------*/
/*---------------             THEME STYLE             ------------------*/
/*----------------------------------------------------------------------*/

/*--- structure ---*/
.container{ padding: 0px; margin: 0px auto; /* position: relative; */ }
.column, .columns{ float: left; position: relative; min-height: 1px; }

.one-ninth{ width: 11.111%; }
.one-eighth{ width: 12.5%; }
.one-seventh{ width: 14.285%; }
.one-fifth{ width: 20%; }
.two-fifth{ width: 40%; }
.three-fifth{ width: 60%; }
.four-fifth{ width: 80%; }

.one{ width: 8.333% }
.two{ width: 16.666%; }
.three{ width: 25%; }
.four{ width: 33.333%; }
.five{ width: 41.666%; }
.six{ width: 50%; }
.seven{ width: 58.334%; }
.eight{ width: 66.667%; }
.nine { width: 75%; }
.ten { width: 83.334%; }
.eleven { width: 91.667%; }
.twelve{ width: 100%; }

.ie7 .sf-mega-section.three{ width: 24%; }

.gdlr-item{ margin: 0px 15px 20px; min-height: 1px; }
.gdlr-full-size-wrapper .gdlr-item-no-space{ margin-bottom: 0px; }
.gdlr-item-no-space{ margin: 0px 20px 40px; }
.gdlr-item-no-space .gdlr-item{ margin: 0px; }
.gdlr-item.gdlr-main-content { margin-bottom: 55px; }
.gdlr-item.gdlr-divider-item{ margin-bottom: 50px }
.section-container, .gdlr-item-start-content, .gdlr-parallax-wrapper, .gdlr-color-wrapper{ padding-top: 50px;  }
.gdlr-color-wrapper, .gdlr-parallax-wrapper, .gdlr-full-size-wrapper{ padding-bottom: 40px; }
.gdlr-full-size-wrapper .gdlr-item,
.gdlr-full-size-wrapper .gdlr-item-no-space{ margin-left: 0px; margin-right: 0px; }

.ie7 .gdlr-item-start-content{ overflow: hidden; }
audio{ width: 100%; }
.mejs-container .mejs-controls .mejs-horizontal-volume-slider{ position: relative; clear: both; float: right; top: -31px; }
img, video{ max-width: 100%; height: auto; width: auto; /* for ie8 */ }
.ms-container video{ max-width: none; }
input[type="text"], input[type="email"], input[type="password"], .wpcf7 input[type="date"], textarea{ 
	border: 0px; outline: none; padding: 6px; max-width: 100%; }

/*--- transition / color animation  ---*/
a{
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;    /* FF3.7+ */
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;      /* Opera 10.5 */
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms; /* Saf3.2+, Chrome */ }

/*--- boxed style ---*/
.body-wrapper{ overflow: hidden; }	
.body-wrapper.gdlr-boxed-style { margin: 0px auto;
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); }	
	
img.gdlr-full-boxed-background{ min-height: 100%; min-width: 1024px;
  width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: -1; }

@media screen and (max-width: 1024px) {
  img.gdlr-full-boxed-background { left: 50%; margin-left: -512px; }
}

.content-wrapper{ position:relative; z-index: 89; }
	
/*--- top navigation ---*/
.top-navigation-wrapper{ position: relative; z-index: 98; padding: 23px 0px 20px; }
.top-navigation-wrapper i{ margin-right: 10px; }
.top-navigation-wrapper .top-bar-block{ margin-left: 20px; }
.top-navigation-wrapper .top-bar-block:first-child{ margin-left: 0px; }
.top-navigation-left{ float: left; margin: 0px 20px; padding-top: 2px; line-height: 18px; }

.top-navigation-right{ float: right; margin: 0px 20px; }
.top-navigation-right-text{ float: left; padding-top: 2px; line-height: 18px; } 
	
.top-social-wrapper{ float: left; line-height: 18px; margin-left: 30px; }
.top-social-wrapper .social-icon{ float: left; margin-left: 12px; max-width: 12px; }
.top-social-wrapper .social-icon:first-child{ margin-left: 0px; }
.top-social-wrapper .social-icon a:hover{ opacity: 0.6; filter: alpha(opacity=60); }

/*--- search form ---*/
.gdlr-navigation-substitute{ position: relative; z-index: 91; }

#gdlr-menu-search-button { margin: 4px 0px 0px 26px; float: right; cursor: pointer; 
	max-width: 12px; }
#gdlr-menu-search{ position: absolute; top: 100%; right: 0px; width: 250px; display: none; margin-top: 5px; }
#gdlr-menu-search input[type="text"]{ margin: 0px; background: transparent; padding: 20px 23px; }
#gdlr-menu-search input[type="submit"]{ display: none; }
.gdlr-menu-search-button-sep{ position: absolute; top: 50%; margin-top: -12px; right: 63px; }

/*--- top login menu---*/
.gdlr-login-form input[type="text"], .gdlr-login-form input[type="email"], 
.gdlr-login-form input[type="password"]{ width: 200px; padding: 12px; margin-bottom: 5px; }
.gdlr-login-form label { display: block; margin-bottom: 4px; }
.gdlr-login-form p { margin-bottom: 0px; margin-top: 9px; overflow: hidden; }
.gdlr-login-form p:first-child{ margin-top: 0px; }
.gdlr-login-form input[type="submit"] { margin-bottom: 0px; }
.gdlr-login-form input[type="checkbox"] { margin: 2px 10px 0px 0px; float: left; }
.gdlr-login-form .login-remember{ padding-top: 3px; }

/*--- header ---*/
.gdlr-top-woocommerce-button{ cursor: pointer; width: 15px; text-align: right; font-size: 10px; position: relative; padding-top: 7px; }
.gdlr-top-woocommerce-button .gdlr-cart-item-count { position: absolute; right: -7px; top: -5px; }
.gdlr-top-woocommerce-wrapper{ float: right; margin-left: 15px; margin-top: -4px; padding-left: 25px; }
.gdlr-top-woocommerce{ text-align: center; padding-top: 30px; display: none;
	position: absolute; right: 0px; }
.gdlr-top-woocommerce .gdlr-top-woocommerce-inner{ padding: 30px 40px 23px; }
.gdlr-top-woocommerce .gdlr-cart-count{ margin-bottom: 8px; }
.gdlr-top-woocommerce .gdlr-cart-amount{ margin-bottom: 20px; }
.gdlr-top-woocommerce-inner > a{ display: block; font-sizE: 14px; font-weight: bold; margin-bottom: 8px; }

.gdlr-header-wrapper{ position: absolute; z-index: 99; left: 0px; right: 0px; }
.gdlr-header-container{ position: relative; z-index: 97; }
.gdlr-header-container-inner{ position: relative; margin: 0px 15px; }
.gdlr-header-container-overlay{ position: absolute; top: 0px; right: 15px; bottom: 0px; left: 15px; 
	overflow: hidden; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.gdlr-logo{ float: left; margin-left: 30px; }
.gdlr-logo h1{ margin-bottom: 0px; line-height: 0; }

.admin-bar .gdlr-fixed-header{ top: 32px }
.gdlr-fixed-header{ position: fixed; top: 0px; left: 0px; right: 0px; z-index: 999; }
.gdlr-fixed-header.gdlr-header-inner .gdlr-header-container-overlay { display: none; }
.gdlr-fixed-header .gdlr-main-menu > li > a { padding-bottom: 18px; }

.gdlr-navigation-wrapper{ float: right; margin-right: 30px; }
.gdlr-navigation-wrapper .gdlr-navigation-container{ position: relative; line-height: 0; }
.gdlr-navigation-wrapper .gdlr-main-menu > li{ padding: 0px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a{ font-size: 12px; padding: 0px 0px 26px 30px; margin: 0px;	text-transform: uppercase; letter-spacing: 1px; font-weight: 600; }
.gdlr-navigation-wrapper .gdlr-main-menu > li:first-child > a{ padding-left: 0px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul-pre,
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul{ padding-right: 0px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul:after{ display: none; top: 9px; right: 0px; }

.gdlr-navigation-gimmick { position: absolute; height: 2px; top: 54px; }

.gdlr-page-title-wrapper { padding: 205px 0px 60px; position: relative; z-index: 89; text-align: center; line-height: 1;
	background-image: url('images/page-title-background.jpg'); background-repeat: repeat; background-position: center; }
.gdlr-page-title-wrapper .gdlr-page-title-overlay{ position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; 
	background: #000; opacity: 0.2; filter: alpha(opacity=20); }
.gdlr-page-title-wrapper .gdlr-page-title-container{ position: relative; }
.gdlr-page-title-wrapper .gdlr-page-title{ font-size: 78px; margin: 0px 20px; display: block; }
.gdlr-page-title-wrapper .gdlr-page-caption{ font-size: 19px; margin: 10px 20px 0px; display: block; font-weight: normal; }
.gdlr-page-title-wrapper .gdlr-page-title-gimmick { font-size: 20px; display: block; margin-top: 20px; }	

/*--- header-style ---*/
.header-style-2 .gdlr-header-container-overlay{ display: none; }
.header-style-2 .top-navigation-wrapper { padding: 13px 0px 16px; font-size: 12px; }
.header-style-2 .gdlr-logo { margin-left: 0px; }
.header-style-2 .gdlr-navigation-wrapper { margin-right: 0px; }
.header-style-2 .gdlr-page-title-wrapper { padding-top: 160px; }

.header-style-3 .gdlr-header-container-overlay{ display: none; }
.header-style-3 .gdlr-header-wrapper{ position: relative; padding-bottom: 5px; }
.header-style-3 .gdlr-logo { float: none; margin-left: auto; margin-right: auto; }
.header-style-3 .gdlr-navigation-wrapper { float: none; line-height: 0; text-align: center; margin-right: 0px; }
.header-style-3 .gdlr-navigation { display: inline-block; line-height: 1.7; text-align: left; }
.header-style-3 .gdlr-fixed-header .gdlr-logo { display: none; }
.header-style-3 .gdlr-navigation-wrapper .gdlr-main-menu > li > a{ padding-bottom: 29px; }
.header-style-3 .gdlr-navigation-wrapper .gdlr-main-menu > li > a{ padding: 0px 0px 26px 33px; }
.header-style-3 .gdlr-page-title-wrapper { padding-top: 60px; }

/*--- header shortcode ---*/
.gdlr-heading-shortcode.with-background { padding: 8px 19px; display: inline-block; }
.gdlr-heading-shortcode i { margin-right: 10px; }

/*--- wrapper item ---*/
.gdlr-color-wrapper, 
.gdlr-parallax-wrapper{ background-position: center 0px; background-repeat: repeat; }
	
/*--- sidebar ---*/
.with-sidebar-container .with-sidebar-content{ float: right; }
.gdlr-widget-title { font-size: 18px; font-weight: 400; margin-bottom: 22px; }
.gdlr-sidebar .gdlr-widget-title{ display: inline-block; padding-right: 4px; }
.widget.gdlr-widget { margin-bottom: 45px; }

/*--- about us ---*/	
.gdlr-about-us-item{ text-align: center; }
.gdlr-about-us-item .about-us-item-title { font-size: 57px; margin-bottom: 0px; }
.gdlr-about-us-item .about-us-item-title-divider { width: 38px; margin-bottom: 20px;
	border-top-width: 1px; border-top-style: solid; margin: 0px auto 20px; }
.gdlr-about-us-item .about-us-item-caption { font-size: 17px; text-transform: uppercase; font-weight: bold; letter-spacing: 2px; }
.gdlr-about-us-item .about-us-item-content { font-size: 15px; }
.gdlr-about-us-item .about-us-learn-more{ font-size: 12px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; 
	border-width: 1px; border-style: solid; padding: 15px 25px; display: inline-block; margin-top: 10px;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/*--- stunning-text ---*/	
.gdlr-stunning-item{ text-align: center; }
.gdlr-stunning-item .stunning-item-inner { display: inline-block; }
.gdlr-stunning-item .stunning-item-icon { font-size: 60px; line-height: 1; float: left; margin-right: 40px; }
.gdlr-stunning-item .stunning-item-content-wrapper{ overflow: hidden; }
.gdlr-stunning-item .stunning-item-title { font-size: 33px; margin-bottom: 8px; }
.gdlr-stunning-item .stunning-item-caption{ font-size: 15px;}

.gdlr-stunning-text-item.type-center{ text-align:center;  margin-bottom: 35px; }
.gdlr-stunning-text-item.type-center .stunning-text-title{ font-size: 33px; font-weight: bold; margin-bottom: 25px; }
.gdlr-stunning-text-item.type-center .stunning-text-caption{ font-size: 16px; }
.gdlr-stunning-text-item.type-center .stunning-text-button{ margin: 15px 0px 0px; }

.gdlr-stunning-text-item.type-normal.gdlr-button-on{ padding-right: 190px; position: relative; }
.gdlr-stunning-text-item.type-normal .stunning-text-title{ font-size: 29px; margin-bottom: 18px; }
.gdlr-stunning-text-item.type-normal .stunning-text-caption{ font-size: 16px; }
.gdlr-stunning-text-item.type-normal .stunning-text-button{ position: absolute; right: 0px; top: 50%; 
	margin-top: -22px; margin-right: 0px; }

.gdlr-stunning-text-item.with-padding{ padding: 35px 35px 15px; }
.gdlr-stunning-text-item.with-padding.with-border{ border-width: 3px; border-style: solid; }
.gdlr-stunning-text-item.with-padding.gdlr-button-on{ padding-right: 180px; }
.gdlr-stunning-text-item.with-padding .stunning-text-button{ right: 40px; }
.gdlr-stunning-text-item.with-padding .stunning-text-caption{ margin-bottom: 20px; }

/*--- footer ---*/
.footer-wrapper{ position: relative; background-repeat: no-repeat; background-position: right top; }
.footer-wrapper a { cursor: pointer; }
.footer-wrapper .widget.gdlr-widget { margin-bottom: 60px; }
.footer-wrapper .gdlr-widget-title { margin-bottom: 35px; }
.footer-container{ padding-top: 60px; }
.ie7 .footer-wrapper{ overflow: hidden; }

.copyright-left { margin: 0px 15px; float: left; }
.copyright-right { margin: 0px 15px; float: right; }
.copyright-wrapper{ border-top-width: 1px; border-top-style: solid; }
.copyright-container{ padding: 17px 0px 16px; }

/*--- shortcode ---*/
.gdlr-shortcode-wrapper { margin-left: -15px; margin-right: -15px; }

/*--- 404 page not found ---*/
.page-not-found-block { text-align: center; padding: 50px 50px 60px; margin: 50px 0px 50px; }
.page-not-found-block .page-not-found-title { font-size: 45px; line-height: 1; margin-bottom: 17px; }
.page-not-found-block .page-not-found-caption { font-size: 20px; margin-bottom: 35px; }
.page-not-found-block .page-not-found-icon { font-size: 89px; line-height: 1;  margin-bottom: 20px; }
.page-not-found-search { max-width: 300px; margin: 0px auto; }
.page-not-found-search  .gdl-search-form{ padding-right: 30px; }
.page-not-found-search  .gdl-search-form input[type="text"]{ padding: 12px 15px; font-size: 15px;
	border: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.page-not-found-search  .gdl-search-form input[type="submit"]{
	background-image: url('images/light/icon-search.png'); }
	
body.search .page-not-found-block{ margin-top: 0px; }	

/*----------------------------------------------------------------------*/
/*---------------             CONTENT ITEM            ------------------*/
/*----------------------------------------------------------------------*/

/*--- item title ---*/
.gdlr-item-title-wrapper.gdlr-item{ margin-bottom: 35px; }

.gdlr-title-item{ margin-bottom: 20px; }
.gdlr-title-item .gdlr-item-title-wrapper.gdlr-item{ margin-bottom: 0px; }

.gdlr-item-title-wrapper .gdlr-item-title{ font-size: 35px; margin-bottom: 0px; line-height: 1; display: inline-block; }
.gdlr-item-title-wrapper .gdlr-item-title-head{ position: relative; }
.gdlr-item-title-wrapper .gdlr-item-title-divider{ height: 4px; margin-top: -3px;
	position: absolute; top: 50%; border-top-width: 1px; border-bottom-width: 1px; border-style: solid; }
.gdlr-item-title-wrapper .gdlr-item-title-divider.gdlr-left{ right: 50%; }
.gdlr-item-title-wrapper .gdlr-item-title-divider.gdlr-right{ left: 50%; }
.gdlr-item-title-wrapper .gdlr-item-title-caption{ margin-top: 26px; font-size: 13px; }
.gdlr-item-title-wrapper .gdlr-item-title-link{ margin-top: 22px; font-size: 12px; 
	text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: inline-block; }

.gdlr-item-title-wrapper.pos-center,
.gdlr-item-title-wrapper.pos-center-divider{ text-align: center; }
.gdlr-item-title-wrapper.pos-left-divider .gdlr-item-title-divider.gdlr-right{ left: 0px; }
.gdlr-item-title-wrapper.pos-left-content .gdlr-item-title { font-size: 18px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 30px; }
.gdlr-item-title-wrapper.gdlr-size-large .gdlr-item-title{ font-size: 45px; }

.gdlr-item-title-nav.gdlr-nav-container { margin: 0px 20px 40px; text-align: center; line-height: 1; }
.gdlr-item-title-nav i{ font-size: 35px; vertical-align: text-top; margin: 0px 15px; }
.gdlr-item-title-nav .gdlr-flex-prev,
.gdlr-item-title-nav .gdlr-flex-next{ font-size: 29px; cursor: pointer; }
.gdlr-item-title-nav img{ max-width: 40px; vertical-align: text-top; margin: 0px 20px;}
.menu-item-wrapper .gdlr-item-title-nav.gdlr-nav-container { margin-top: -25px; }

.menu-item-wrapper, .gdlr-testimonial-item-wrapper, .blog-item-wrapper, 
.gdlr-testimonial-item-wrapper, .gdlr-personnel-item-wrapper{ position: relative; }
.gdlr-item-title-nav.pos-left { position: absolute; right: 0px; top: 0px; margin-top: 5px; }

/*--- twitter item ---*/
.gdlr-twitter-item{ text-align: center; font-style: italic; }
.gdlr-twitter-item .gdlr-twitter-text{ font-size: 18px; margin-bottom: 20px; display: block; }
.gdlr-twitter-item .gdlr-twitter-time{ font-size: 13px; display: block; }
.gdlr-twitter-item .gdlr-twitter-time:before{ content: '-'; margin-right: 3px; }

/*--- accordion / toggle ---*/
.accordion-tab > .accordion-content{ display: none; }
.accordion-tab.active > .accordion-content{ display: block; }

.gdlr-accordion-item.style-1 .accordion-tab{ overflow: hidden; padding: 11px 0px; 
	border-top-width: 1px; border-top-style: solid; }
.gdlr-accordion-item.style-1 .accordion-tab:first-child{ border: 0px; padding-top: 0px; }
.gdlr-accordion-item.style-1 .accordion-title{ font-weight: normal; 
	font-size: 17px; line-height: 26px; margin-bottom: 0px; cursor: pointer; 
	transition: color 200ms; -moz-transition: color 200ms;
	-o-transition: color 200ms; -webkit-transition: color 200ms; }
.gdlr-accordion-item.style-1 .accordion-title i{ margin-right: 25px; font-size: 13px; 
	width: 9px; height: 13px; padding: 12px 14px 10px; display: inline-block; }
.gdlr-accordion-item.style-1 .accordion-content{ padding-top: 18px; margin-left: 62px; }
.gdlr-accordion-item.style-1 .accordion-title span { overflow: hidden; display: block; }
.gdlr-accordion-item.style-1 .accordion-title i{ float: left;
	transition: color 200ms, background-color 200ms; -moz-transition: color 200ms, background-color 200ms;
	-o-transition: color 200ms, background-color 200ms; -webkit-transition: color 200ms, background-color 200ms; }

.gdlr-accordion-item.style-2 .accordion-tab{ overflow: hidden; padding-bottom: 4px; }
.gdlr-accordion-item.style-2 .accordion-title{ padding-bottom: 16px; font-weight: 400; 
	font-size: 15px; line-height: 18px; margin-bottom: 0px; cursor: pointer; }
.gdlr-accordion-item.style-2 .accordion-title i{ margin-right: 20px; font-size: 13px;  }
.gdlr-accordion-item.style-2 .accordion-content{ margin-left: 31px;  }

/*--- event ---*/
.gdlr-event-list{ overflow: hidden; box-shadow: 1px 1px 2px rgba(0,0,0,0.15); }
.gdlr-event-list-date{ position: relative; float: left; padding: 20px 20px 100px;
	 width: 40px; text-align: center; line-height: 1; margin-bottom: -80px; }
.gdlr-event-list-date .gdlr-date-day{ display: block; font-size: 34px; font-weight: bold; padding-bottom: 5px; }
.gdlr-event-list-date .gdlr-date-month{ display: block; font-size: 15px; font-weight: bold; text-transform: uppercase; }	
.gdlr-event-list-date .gdlr-date-divider{ display: block; width: 28px; margin: 0px auto 8px;
	border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-event-list .gdlr-event-list-content{ overflow: hidden; padding: 18px 25px 100px; margin-bottom: -82px; }
.gdlr-event-list .gdlr-event-list-title.gdlr-content-font { font-size: 16px; font-weight: bold;
	text-transform: uppercase; letter-spacing: 1px; margin-bottom: 5px; }
	
/*--- button ---*/
input[type="submit"], input[type="button"]{ -webkit-appearance: none; }
.gdlr-button, input[type="button"], input[type="submit"]{ display: inline-block; font-size: 13px; padding: 10px 25px; 
	margin-bottom: 15px; margin-right: 5px; outline: none; cursor: pointer; text-transform: uppercase; 
	font-weight: 700; letter-spacing: 1px; border: none; }
.gdlr-button.small{ font-size: 11px; padding: 11px 16px; }
.gdlr-button.large{ font-size: 14px; padding: 13px 25px; }
.gdlr-button.border-button{ background: transparent !important; border-style: solid; border-width: 1px; 
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.gdlr-button.with-border{ border-bottom-width: 3px; border-bottom-style: solid; }
.gdlr-button .gdlr-icon { margin-right: 5px; letter-spacing: 1px; }

/*--- column service ---*/
.gdlr-column-service-item .column-service-icon{ margin-right: 15px; font-size: 33px; line-height: 18px; }
.gdlr-column-service-item .column-service-icon i{ margin: 0px; }
.gdlr-column-service-item .column-service-title{ margin-bottom: 25px; font-size: 24px; line-height: 25px; padding-top: 8px; line-height: 31px; }
.gdlr-column-service-item .column-service-learn-more{ font-weight: bold; text-transform: uppercase; letter-spacing: 1px;
 font-size: 11px; }

.gdlr-column-service-item.gdlr-type-1 .column-service-icon{ float: left; margin-right: 25px; }
.gdlr-column-service-item.gdlr-type-1 .column-service-icon.gdlr-skin-box{ background: transparent; }

.gdlr-column-service-item.gdlr-type-2{ text-align: center; }
.gdlr-column-service-item.gdlr-type-2 .column-service-icon{ width: 33px; height: 33px; font-size: 25px; 
	line-height: 36px; padding: 20px; margin: 0px auto 30px; 
	-moz-border-radius: 38px; -webkit-border-radius: 38px; border-radius: 38px; }

.gdlr-column-service-tab { overflow: hidden; border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; }
.gdlr-column-service-tab-item.gdlr-first{ overflow: hidden; border-radius: 5px 0px 0px 0px; -moz-border-radius: 5px 0px 0px 0px; -webkit-border-radius: 5px 0px 0px 0px; }
.gdlr-column-service-tab-item.gdlr-last{ overflow: hidden; border-radius: 0px 5px 0px 0px; -moz-border-radius: 0px 5px 0px 0px; -webkit-border-radius: 0px 5px 0px 0px; }
.gdlr-column-service-tab-item{ padding-bottom: 100px; margin-bottom: -100px; }
.gdlr-column-service-tab-item .gdlr-column-service-item { padding: 40px; }	
.gdlr-column-service-tab-item  .column-service-image { float: left; max-width: 43px; margin-right: 20px; }	

/*--- opening hours ---*/
.gdlr-content-title { font-size: 18px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 30px; }

.opening-hours-day { overflow: hidden; margin-bottom: 7px; }
.opening-hours-day .gdlr-head { float: left; }
.opening-hours-day .gdlr-head i { margin-right: 12px; }
.opening-hours-day .gdlr-tail { float: right; }	

/*--- contact info ---*/	
.gdlr-contact-us-tab .contact-us-tab-icon { float: left; width: 25px; margin-right: 6px; }
.gdlr-contact-us-tab .contact-us-tab-content { overflow: hidden; }	
	
/*--- service with image ---*/	
.gdlr-service-with-image-item .service-with-image-thumbnail{ max-width: 190px; float: left; margin-right: 40px; 
	background: #fff; padding: 7px; border-width: 1px; border-style: solid;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; }	
.gdlr-service-with-image-item .service-with-image-thumbnail img{ display: block; 
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; }
.gdlr-service-with-image-item .service-with-image-title{ font-size: 34px; margin-top: 35px; }	
.gdlr-service-with-image-item .service-with-image-content-wrapper{ overflow: hidden; }	

.gdlr-service-with-image-item.gdlr-right{ text-align: right; }
.gdlr-service-with-image-item.gdlr-right .service-with-image-thumbnail{ float: right; margin-left: 40px; margin-right: 0px; }
	
/*--- feature media ---*/		
.gdlr-feature-media-item .feature-media-button{ margin-top: 15px; }	
.gdlr-feature-media-item.gdlr-left .feature-media-thumbnail{ float: left; margin-right: 55px; width: 37%; }
.gdlr-feature-media-item.gdlr-left .feature-media-content-wrapper{ overflow: hidden; }
.gdlr-feature-media-item.gdlr-center{ text-align: center; }
.gdlr-feature-media-item.gdlr-center .feature-media-thumbnail{ max-width: 700px; margin: 0px auto 40px; }
.gdlr-feature-media-item.gdlr-center .feature-media-content-wrapper{ max-width: 700px; margin: 0px auto; }
.gdlr-feature-media-item.gdlr-center .feature-media-divider{ width: 300px; max-width: 100%; margin: 0px auto 40px;
	border-bottom-width: 5px; border-bottom-style: solid; } 	
.gdlr-feature-media-item .gdlr-item-title-wrapper.gdlr-item{ margin-left: 0px; margin-right: 0px; margin-top: 15px; }

/*--- divider ---*/
.gdlr-divider{ border-bottom-width: 1px; border-style: solid; margin: 0px auto; max-width: 100%; }
.gdlr-divider.double{ height: 3px; border-top-width: 1px; }
.gdlr-divider.dotted{ border-style: dashed; }
.gdlr-divider.double-dotted{ height: 3px; border-top-width: 1px; border-style: dashed; }
.gdlr-divider.thick{ border-bottom-width: 3px; }

/*--- box with icon ---*/
.gdlr-box-with-icon-item{ text-align: center; padding: 40px 30px 20px; position: relative; }
.gdlr-box-with-icon-item > i{ font-size: 45px; display: inline-block; margin-bottom: 22px; margin-right: 0; }	
.gdlr-box-with-icon-item .box-with-icon-title{ font-size: 20px; margin-bottom: 20px; display: block; }	

.gdlr-box-with-icon-item.pos-left{ text-align: left; padding: 30px 40px 20px; }
.gdlr-box-with-icon-item.pos-left > i{ float: left; margin: 5px 25px 0px 0px; }

.gdlr-box-with-icon-item.type-circle .box-with-circle-icon{ padding: 18px; display: inline-block; 
	position: absolute; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.gdlr-box-with-icon-item.type-circle .box-with-circle-icon > i{ font-size: 22px; margin-right: 0; }	
.gdlr-box-with-icon-item.type-circle.pos-top{ padding-top: 50px; }
.gdlr-box-with-icon-item.type-circle.pos-top .box-with-circle-icon{ top: -30px; left: 50%; margin-left: -30px; }
.gdlr-box-with-icon-item.type-circle.pos-left{ margin-left: 40px; padding-left: 50px; }
.gdlr-box-with-icon-item.type-circle.pos-left .box-with-circle-icon{ left: -30px; top: 50%; margin-top: -30px; }

/*-- icon --*/
i.gdlr-icon { margin-right: 10px; }

/*--- frame ---*/
.gdlr-image-link-shortcode .gdlr-image-link-overlay{ background-color: #0a0101; }
.gdlr-image-link-shortcode .gdlr-image-link-icon,
.gdlr-image-frame-item .gdlr-image-frame-content,
.gdlr-image-frame-item .gdlr-image-frame-content-title{ color: #ffffff; }

.gdlr-frame-shortcode{ line-height: 1; }
.gdlr-frame-shortcode.gdlr-align-left{ float: left; margin-right: 20px; margin-bottom: 20px; }
.gdlr-frame-shortcode.gdlr-align-right{ float: right; margin-left: 20px; margin-bottom: 20px; }
.gdlr-frame-shortcode.gdlr-align-center{ text-align: center; margin-bottom: 20px; }
.gdlr-frame-shortcode .gdlr-frame-caption{ display: block; text-align: center; margin-top: 15px; }

.gdlr-frame{ display: inline-block; max-width: 100%; position: relative; }
.gdlr-frame img{ display: block;   
border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.gdlr-frame.frame-type-border{ padding: 6px; border-style: solid; border-width: 1px; }
.gdlr-frame.frame-type-solid{ padding: 5px; }
.gdlr-frame.frame-type-rounded .gdlr-image-link-overlay,
.gdlr-frame.frame-type-rounded{ overflow: hidden; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.gdlr-frame.frame-type-circle .gdlr-image-link-overlay,
.gdlr-frame.frame-type-circle{ overflow: hidden; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.gdlr-frame.frame-type-solid.frame-type-circle .gdlr-image-link-shortcode,
.gdlr-frame.frame-type-border.frame-type-circle .gdlr-image-link-shortcode{ overflow: hidden;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.gdlr-frame.frame-type-solid.frame-type-rounded .gdlr-image-link-shortcode,
.gdlr-frame.frame-type-border.frame-type-rounded .gdlr-image-link-shortcode{ overflow: hidden;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.gdlr-image-frame-item{ text-align: center; line-height: 0; }
.gdlr-image-frame-item .image-frame-item{ display: inline-block; line-height: 1; }	
.gdlr-image-frame-item .gdlr-image-frame-content { position: absolute; top: 50%; right: 20px; left: 20px;
    line-height: 1.6; text-align: center; opacity: 0; }
.gdlr-image-frame-item .gdlr-image-frame-content-title{ font-size: 21px; margin-bottom: 15px; display: block; }	
.gdlr-image-frame-item .gdlr-image-frame-content-caption{ font-size: 13px; }	
.gdlr-image-frame-item .gdlr-image-frame-content p{ margin-bottom: 0px; }
	
/*--- image link ---*/
.gdlr-image-link-shortcode .gdlr-image-link-overlay{ 
	position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; 
	opacity: 0; filter: alpha(opacity=0); }	
.gdlr-image-link-shortcode .gdlr-image-link-icon{
	padding: 25px; line-height: 1; display: inline-block; 
	position: absolute; top: 50%; left: 50%; margin-top: -37px; margin-left: -37px;
	background: url('images/portfolio-icon-overlay.png'); opacity: 0; filter: alpha(opacity=0);
	-moz-border-radius: 37px; -webkit-border-radius: 37px; border-radius: 37px; filter: inherit; }
.gdlr-image-link-shortcode .gdlr-image-link-icon i{ margin-right: 0px; }
.gdlr-image-link-shortcode .gdlr-image-link-icon i.icon-link{ font-size: 22px; padding: 1px;}
.gdlr-image-link-shortcode .gdlr-image-link-icon i.icon-search{ font-size: 22px; padding: 2px; }
.gdlr-image-link-shortcode .gdlr-image-link-icon i.icon-play{ font-size: 21px; margin-left: 0px; }	

/*--- personnel ---*/	
.gdlr-personnel-item.carousel.round-style{ padding-top: 45px; }
.gdlr-personnel-item.carousel .personnel-item{ margin: 0px 15px; }
.gdlr-personnel-item.carousel.box-style .personnel-item{ padding-top: 35px; }
.gdlr-personnel-item.carousel .personnel-item:first-child{ margin-left: 0px; }
.personnel-content .gdlr-icon { margin-right: 5px; }
.gdlr-personnel-item.box-style .personnel-item-inner{ padding: 25px 30px; position: relative; }
.gdlr-personnel-item.box-style .personnel-info{ margin-top: 30px; text-align: center; }
.gdlr-personnel-item.box-style .personnel-author{ font-size: 21px; font-weight: bold; }	
.gdlr-personnel-item.box-style .personnel-author-image{ width: 65px; height: 65px; 
	position: absolute; left: 50%; top: -35px; margin-left: -35px;
	border-width: 3px; border-style: solid; overflow: hidden;
	-moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; }
.gdlr-personnel-item.box-style .personnel-position{ font-size: 15px; }	
.gdlr-personnel-item.box-style .personnel-content{ text-align: center; margin-top: 15px; }	
.gdlr-personnel-item.box-style .personnel-social{ text-align: center; font-size: 20px; margin-top: 14px; }	
.gdlr-personnel-item.box-style .personnel-social i{ margin: 0px 1px; }	

.gdlr-personnel-item.plain-style .personnel-item-inner{ position: relative; padding-bottom: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }	
.gdlr-personnel-item.plain-style .personnel-info{ margin-top: 30px; text-align: center; }
.gdlr-personnel-item.plain-style .personnel-author{ font-size: 24px; margin-bottom: 6px; }	
.gdlr-personnel-item.plain-style .personnel-position{ font-size: 13px; font-weight: bold; text-transform: uppercase; }	
.gdlr-personnel-item.plain-style .personnel-content{ text-align: center; margin-top: 20px; }	
.gdlr-personnel-item.plain-style .personnel-social{ text-align: center; font-size: 22px; margin-top: 14px; }
.gdlr-personnel-item.box-style{ margin-top: 35px; }
.gdlr-personnel-item.plain-style .personnel-social i{ margin: 0px 10px 0px 0px; }	
.gdlr-personnel-item.plain-style .personnel-author,
.gdlr-personnel-item.plain-style .personnel-position,
.gdlr-personnel-item.plain-style .personnel-content{ padding-left: 25px; padding-right: 25px; } 
.gdlr-personnel-item.plain-style .personnel-author-image img {
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}

.gdlr-personnel-item.round-style .personnel-item,
.gdlr-personnel-item.round-style .personnel-author-image{ position: relative; overflow: hidden;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.gdlr-personnel-item.round-style .personnel-item img{ display: block; }
.gdlr-personnel-item.round-style .personnel-item-inner{ position: absolute; opacity: 0; filter: alpha(opacity=0);
	top: 50%; left: 40px; right: 40px; text-align: center; background: transparent; }
.gdlr-personnel-item.round-style .personnel-author{ font-size: 20px; font-weight: bold; margin-bottom: 2px; }
.gdlr-personnel-item.round-style .personnel-position{ font-size: 16px; font-style: italic; }
.gdlr-personnel-item.round-style .personnel-content{ margin-top: 20px;  }
.gdlr-personnel-item.round-style .personnel-content p{ margin-bottom: 0px;  }
.gdlr-personnel-item-wrapper .gdlr-item-title-nav.gdlr-nav-container{ margin-top: 0px; }

/*--- pie chart ---*/
.gdlr-pie-chart-item { text-align: center; }
.gdlr-pie-chart-item .gdlr-chart{ margin: 0px auto 30px;  }
.gdlr-pie-chart-item .pie-chart-title{ font-size: 17px; font-weight: 400; }

/*--- skill bar ---*/
.gdlr-skill-bar-wrapper{ margin-bottom: 15px; }

.gdlr-skill-bar-wrapper .gdlr-skill-bar-progress{ width: 0; position: relative; }
.gdlr-skill-bar-wrapper.gdlr-size-small .gdlr-skill-bar-progress{ height: 8px; }
.gdlr-skill-bar-wrapper.gdlr-size-medium .gdlr-skill-bar-progress{ padding: 8px 0px; font-size: 15px; }
.gdlr-skill-bar-wrapper.gdlr-size-large .gdlr-skill-bar-progress{ padding: 14px 0px; font-size: 17px; }

.gdlr-skill-bar-wrapper .skill-bar-content{ font-weight: bold; }
.gdlr-skill-bar-wrapper.gdlr-size-small .skill-bar-content{ margin-bottom: 10px; display: block; font-size: 14px; }
.gdlr-skill-bar-wrapper.gdlr-size-small { margin-bottom: 20px; }
.gdlr-skill-bar-wrapper.gdlr-size-medium .skill-bar-content{ padding: 0px 16px; }
.gdlr-skill-bar-wrapper.gdlr-size-medium .skill-bar-content i{ position: absolute; font-size: 15px; 
	right: 8px; top: 50%; margin-top: -8px; }
.gdlr-skill-bar-wrapper.gdlr-size-large .skill-bar-content{ padding: 0px 22px; }
.gdlr-skill-bar-wrapper.gdlr-size-large .skill-bar-content i{ position: absolute; font-size: 18px; 
	right: 16px; top: 50%; margin-top: -9px;}

/*--- skill round ---*/	
.gdlr-skill-item-wrapper{ text-align: center; line-height: 1; }
.gdlr-skill-item-wrapper .gdlr-skill-item-title{ font-size: 67px; font-weight: bold; margin-bottom: 11px; }
.gdlr-skill-item-wrapper .gdlr-skill-item-dot { font-size: 25px; margin-bottom: 8px; }
.gdlr-skill-item-wrapper .gdlr-skill-item-caption{ font-size: 24px; }
.gdlr-skill-item-wrapper.gdlr-type-2{ margin: 0px; padding: 80px 20px; }

/*--- notification ---*/
.gdlr-notification{ padding: 13px; }
.gdlr-notification > i{ float: left; margin-right: 15px; margin-top: 3px; }
.gdlr-notification > .notification-content{ display: block; overflow: hidden; }
.gdlr-notification.color-background{ padding: 16px;}
.gdlr-notification.color-border{ border-width: 3px; border-style: solid; }

/*--- tab ---*/	
.gdlr-tab-item.horizontal > .tab-title-wrapper{ overflow: hidden; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title{ float: left; border-style: solid; border-width: 1px 1px 1px 0px;
	font-size: 13px; line-height: 19px; font-weight: bold; padding: 11px 20px; margin-bottom: 0px; cursor: pointer; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title:first-child{ border-left-width: 1px; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title i{ margin-right: 10px; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title.active{ border-bottom-width: 0px; padding-bottom: 12px; }
.gdlr-tab-item.horizontal > .tab-content-wrapper{ margin-top: -1px; padding: 20px 20px 0px;
	border-width: 1px; border-style: solid; }
.gdlr-tab-item.horizontal > .tab-content-wrapper .tab-content{ display: none; }
.gdlr-tab-item.horizontal > .tab-content-wrapper .tab-content.active{ display: block; }
	
.gdlr-tab-item.vertical > .tab-title-wrapper{ float: left; margin-right: -1px; max-width: 40%; text-align: center; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title{ border-style: solid; border-width: 0px 1px 1px;
	font-size: 13px; line-height: 19px; font-weight: bold; padding: 11px 30px; margin-bottom: 0px; cursor: pointer; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title:first-child{ border-top-width: 1px; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title.active{ padding-bottom: 12px; border-right-width: 0px; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title i{ margin-right: 10px; }
.gdlr-tab-item.vertical > .tab-content-wrapper{ overflow: hidden; padding: 20px 20px 0px; 
	border-width: 1px; border-style: solid; }
.gdlr-tab-item.vertical > .tab-content-wrapper .tab-content{ display: none; }
.gdlr-tab-item.vertical > .tab-content-wrapper .tab-content.active{ display: block; }

.gdlr-tab-item.vertical.right > .tab-title-wrapper{ float: right; margin-left: -1px; margin-right: 0px; }
.gdlr-tab-item.vertical.right > .tab-title-wrapper .tab-title.active{ border-right-width: 1px; border-left-width: 0px; }

/*--- table ---*/
table{ width: 100%; text-align: center; }
table tr td{ padding: 15px 0px; border-bottom-width: 1px; border-bottom-style: solid; }
table tr th{ padding: 13px 0px; font-size: 16px; font-weight: normal; }
table.style-2{ border-spacing:2px; border-collapse:separate; }
table.style-2 tr td{ border-bottom-width: 0px; }

/*--- testimonial ---*/
.gdlr-testimonial-item.carousel .testimonial-item{ margin: 0px 15px; }
.gdlr-testimonial-item.carousel .testimonial-item:first-child{ margin-left: 0px; }

.gdlr-testimonial-item.round-style .testimonial-item{ padding-bottom: 35px; }	
.gdlr-testimonial-item.round-style .testimonial-item-inner{ padding: 30px 30px 60px; position: relative;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }	
.gdlr-testimonial-item.round-style .testimonial-info{ margin-top: 15px; }
.gdlr-testimonial-item.round-style .testimonial-author{ font-weight: bold; }
.gdlr-testimonial-item.round-style .testimonial-author-image{ width: 65px; height: 65px; 
	position: absolute; left: 50%; bottom: -35px; margin-left: -35px;
	border-width: 3px; border-style: solid; overflow: hidden;
	-moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; }

.gdlr-testimonial-item.box-style .testimonial-item{ padding-bottom: 75px; }	
.gdlr-testimonial-item.box-style .testimonial-item-inner{ padding: 25px 30px; position: relative; }	
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ content: ''; height: 0px; width: 0px; 
	border: 12px solid transparent; position: absolute; right: 0px; bottom: -24px; }
.gdlr-testimonial-item.box-style .testimonial-info{ margin-top: 15px; text-align: right; }
.gdlr-testimonial-item.box-style .testimonial-author{ font-weight: bold; }
.gdlr-testimonial-item.box-style .testimonial-author-image{ width: 65px; height: 65px; 
	position: absolute; right: 34px; bottom: -75px; }	

.gdlr-testimonial-item.plain-style .testimonial-item { text-align: center; font-style: italic; font-size: 16px; }	
.gdlr-testimonial-item.plain-style .testimonial-item-inner{ padding: 25px 30px; position: relative; }	
.gdlr-testimonial-item.plain-style .testimonial-item-inner:after{ content: ''; height: 0px; width: 0px; 
	border: 12px solid transparent; position: absolute; right: 0px; bottom: -24px; }
.gdlr-testimonial-item.plain-style .testimonial-info{ margin-top: 15px; font-style: normal; font-size: 16px; }
.gdlr-testimonial-item.plain-style .testimonial-author:before { content: "- "; display: inline; }

.gdlr-testimonial-item.plain-style.large .testimonial-item{ font-size: 20px; }
.gdlr-testimonial-item.plain-style.large .testimonial-info{ margin-top: 30px; }

/*--- block quote ---*/
blockquote{ background-repeat: no-repeat; background-position: 20px 24px; font-size: 18px; font-style: italic;
	background-image: url('images/dark/quote-small.png'); background-size: 24px 20px; padding: 20px 20px 0px 60px;
	border-bottom-width: 1px; border-top-width: 1px; border-style: solid; margin-bottom: 20px; }
blockquote.gdlr-align-left{ width: 33%; float: left; margin-right: 20px; margin-bottom: 20px; }
blockquote.gdlr-align-right{ width: 33%; float: right; margin-right: 20px; margin-bottom: 20px; }

/*--- dropcap ---*/
div.gdlr-dropcap{ margin-top: 2px; margin-bottom: 0px; margin-right: 7px; margin-left: 2px; float: left; font-size: 25px; font-size: 29px; 
	width: 32px; height: 32px; line-height: 30px; text-align: center; float: left; }
div.gdlr-dropcap.gdlr-type-circle{ -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; font-size: 18px; margin-right: 10px; }
	
/*--- styled box ---*/
.gdlr-styled-box-head-wrapper{ overflow: hidden; }
.gdlr-styled-box-head{ overflow: hidden; height: 40px; }
.gdlr-styled-box-corner{ float: right; height: 0px; width: 0px; border-style: solid;
	border-width: 0px 40px 40px 0px; border-right-color: transparent; }
	
.gdlr-styled-box-body{ padding: 45px 40px 25px; }
.gdlr-styled-box-body.with-head{ padding-top: 5px; }
.gdlr-styled-box-body .gdlr-styled-box-head-wrapper{ overflow: hidden; }

/*--- code item ---*/
pre{ overflow: auto; background: #f3f3f3; margin-bottom: 20px; padding: 10px 22px 5px; }

.gdlr-code-item{ padding: 7px 15px; border-width: 1px; border-style: solid; overflow: hidden; }
.gdlr-code-item .gdlr-code-title{ font-weight: bold; cursor: pointer; }
.gdlr-code-item .gdlr-code-title i{ font-size: 9px; margin-right: 7px; }
.gdlr-code-item .gdlr-code-content{ padding: 8px 14px; display: none; line-height: 2; }
.gdlr-code-item.active .gdlr-code-content{ display: block; line-height: 2; }

/*--- process ---*/
.gdlr-process-wrapper .gdlr-process-tab{ padding-bottom: 10px; margin-bottom: 20px; position: relative; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-icon{ width: 24px; height: 24px; line-height: 24px;
	font-size: 22px; padding: 30px; overflow: hidden; border-width: 3px; border-style: solid;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-icon i{ margin-right: 0px; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-tab-content{ overflow: hidden; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ font-size: 21px; margin-bottom: 17px; font-weight: normal; }
.gdlr-process-wrapper .gdlr-process-tab .process-line{ position: absolute; }
.gdlr-process-wrapper .gdlr-process-tab .process-line .process-line-divider{ position: absolute;  }
	
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .gdlr-process-icon{ float: left; margin-right: 30px; text-align: center; }
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line{ top: 110px; bottom: 0px; left: 35px; width: 20px; }
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line .process-line-divider{ left: 50%; 
	margin-left: -1px; bottom: 5px; top: 0px; border-left-width: 1px; border-left-style: dashed; }
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line .fa-chevron-down,
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line .icon-chevron-down{ position: absolute; 
	bottom: 0px; margin: 0px; font-size: 20px; }

.gdlr-process-wrapper.gdlr-horizontal-process{ text-align: center; }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .gdlr-process-icon{ margin: 0px auto 30px;  }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line{ top: 35px; left: 50%; right: -50%; height: 20px; }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line .process-line-divider{ 
	left: 75px; right: 55px; top: 50%; margin-top: -1px; border-top-width: 1px; border-top-style: dashed; }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line .fa-chevron-right,
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line .icon-chevron-right{ position: absolute; 
	right: 50px; margin: 0px; font-size: 20px; }

/*----------------------------------------------------------------------*/
/*---------------               MEDIA ITEM            ------------------*/
/*----------------------------------------------------------------------*/
	
/*--- banner ---*/
.gdlr-banner-images ul.slides li{ margin: 0px 15px; }	
.gdlr-banner-images ul.slides li:first-child{ margin-left: 0px; }	
.gdlr-banner-description-item .gdlr-banner-title{ font-size: 23px; margin-bottom: 15px; font-weight: normal; }
.gdlr-banner-description-item .gdlr-banner-description{ margin-bottom: 25px;  }
.gdlr-banner-description-item .nav-container{ overflow: hidden;  }
.gdlr-banner-description-item .nav-container.style-1 .flex-direction-nav{ margin-left: 0px; }
.gdlr-banner-description-item .nav-container.style-1 .flex-control-nav{ display: none;  }	
.gdlr-banner-images ul.slides li img { width: auto; display: inline-block; }
.gdlr-banner-images ul.slides li { text-align: center; }

.gdlr-banner-item-wrapper .flex-direction-nav{ line-height: 1; }
.gdlr-banner-item-wrapper .flex-direction-nav a{ padding-top: 18px; padding-bottom: 18px; }
.gdlr-banner-item-wrapper .flex-direction-nav .flex-prev { background: transparent; left: -60px; opacity: 1; font-size: 30px; }
.gdlr-banner-item-wrapper .flex-direction-nav .flex-next { background: transparent; right: -60px; opacity: 1; font-size: 30px; }

/*--- gallery ---*/
.gdlr-gallery-item.gdlr-item{ margin: 0px 5px; }	
.gdlr-gallery-item.gdlr-item .gallery-item{ margin: 0px 10px 20px; }	
.gdlr-gallery-item.gdlr-item .gallery-item img{ display: block; margin: 0px auto; }	
.gdlr-gallery-item.gdlr-item .gallery-caption{ display: block; text-align: center; padding: 7px 0px 6px; }	

.gdlr-gallery-item.gdlr-item.gdlr-gallery-thumbnail .gallery-item{ padding: 5px; cursor: pointer; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container{ margin: 0px 10px 10px; position: relative; overflow: hidden; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gdlr-gallery-thumbnail{ display: none; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gdlr-gallery-thumbnail:first-child{ display: block; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container img{ margin: 0px auto; display: block; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gallery-caption-wrapper{
	position: absolute; bottom: 0px; left: 0px; right: 0px; text-align: center; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gallery-caption{ padding: 10px 15px; opacity: 0.8; filter: alpha(opacity=80); display: inline-block; max-width: 60%; }
.gdlr-banner-images.gdlr-item  .flex-direction-nav i { margin-right: 0px; font-size: 24px; }

/*--- slider caption / stack image ---*/	
.gdlr-caption-wrapper{ position: absolute; bottom: 0px; left: 0px; right: 0px; z-index: 90; }
.gdlr-caption-wrapper .gdlr-caption-inner{ margin: 0px auto; }
.gdlr-caption-wrapper.position-center{ text-align: center; }
.gdlr-caption-wrapper.position-left .gdlr-caption{ float: left; text-align: left; }
.gdlr-caption-wrapper.position-right .gdlr-caption{ float: right; text-align: left; }
.gdlr-caption-wrapper.position-center .gdlr-caption{ display: inline-block; }
.gdlr-caption-wrapper .gdlr-caption{ max-width: 40%; padding: 25px 28px; }
.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-title{ font-size: 24px; line-height: 1; margin-bottom: 10px; }
.gdlr-full-size-wrapper .gdlr-caption-wrapper.position-post-right { max-width: 350px; }
.gdlr-caption-wrapper .gdlr-caption { opacity: 0.77; filter: alpha(opacity=77); }

.gdlr-caption-wrapper.post-slider .gdlr-caption{ max-width: none; background: transparent; }
.gdlr-caption-wrapper.post-slider .gdlr-caption .blog-info{ float: left; margin-right: 10px; margin-bottom: 13px; }
.gdlr-post-slider-item.style-post-bottom .gdlr-caption .blog-info{ display: none; }
.gdlr-caption-wrapper.position-post-left{ right: auto; top: 0px; max-width: 40%; }
.gdlr-caption-wrapper.position-post-right{ left: auto; top: 0px; max-width: 40%; }
.gdlr-post-slider-item.style-post-left .gdlr-caption,
.gdlr-post-slider-item.style-post-right .gdlr-caption{ padding: 30px 25px; }
.gdlr-post-slider-item.style-post-left .flex-direction-nav .flex-prev { left: 40%; }
.gdlr-post-slider-item.style-post-right .flex-direction-nav .flex-next { right: 40%; }
.gdlr-caption-wrapper.post-slider,
.gdlr-post-slider-item.style-post-left .flex-prev, 
.gdlr-post-slider-item.style-post-left .flex-next, 
.gdlr-post-slider-item.style-post-right .flex-prev, 
.gdlr-post-slider-item.style-post-right .flex-next{ opacity: 0.8; filter: alpha(opacity=80); }

.gdlr-post-slider-item { padding-bottom: 25px; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption{ position: relative; margin: 0px; display: inline-block; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-inner{ position: relative; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date { position: absolute; top: -33px; left: 0px; padding: 5px 12px; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-title { margin-bottom: 0px; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link { font-size: 18px; position: absolute; right: -26px; top: 0px; height: 30px; padding: 22px 10px; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link i{ margin-right: 0px; }

.gdlr-stack-image { position: relative; margin-bottom: 40px; }
.gdlr-stack-image img{ display: block; }

/* -- Layer slider style modification --*/
body .ls-v5 .ls-bottom-slidebuttons a { width: 18px; }
body .ls-v5 .ls-bottom-slidebuttons, body .ls-v5 .ls-nav-start, body .ls-v5 .ls-nav-stop, body .ls-v5 .ls-nav-sides { top: -45px; }
body .ls-v5 .ls-nav-prev { left: 20px; }
body .ls-v5 .ls-nav-next { right: 20px; }

/* -- Master slider style modification --*/
body .ms-skin-default .ms-nav-prev,
body .ms-skin-default .ms-nav-next{ width: 27px; height: 46px; margin-top: -13px; }
body .ms-skin-default .ms-nav-prev{ background: url('images/master-slider-left.png'); }
body .ms-skin-default .ms-nav-next{ background: url('images/master-slider-right.png'); }
body .ms-skin-default .ms-bullet { background-image: none; ;
	border-width: 2px; border-style: solid; border-color: #ffffff;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; 
	transition: background-color 200ms; -moz-transition: background-color 200ms;
	-o-transition: background-color 200ms; -webkit-transition: background-color 200ms;
	margin-bottom: 20px; width: 8px; height: 8px; }
body .ms-skin-default .ms-bullet-selected { background-image: none; }
body .ms-skin-default .ms-inner-controls-cont { position: static; }
body .ms-skin-default .ms-bullet.ms-bullet-selected,
body .ms-skin-default .ms-bullet:hover { background: #949494; }
body .ms-skin-default .ms-slide .ms-slide-vcbtn { top: auto; bottom: 60px; right: 50%; margin-right: -14px; }

/*--- price table ---*/
.gdlr-price-inner-item{ margin: 0px 3px; border-style: solid; border-width: 1px;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.08); 
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08); 
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08); }	
.gdlr-price-item .price-title-wrapper{ padding-bottom: 5px; text-align: center; }
.gdlr-price-item .price-title{ font-size: 19px; padding: 6px 0px; margin: 0px; }	
.gdlr-price-item .price-tag{ font-size: 22px; line-height: 1; padding: 25px 0px; font-weight: bold;
	background-image: url('images/light/price-tag-shadow.png'); background-position: 0px 0px; background-repeat: repeat-x; }	
.gdlr-price-item .price-content{ text-align: center; font-size: 13px; line-height: 1.5; overflow: hidden; padding-bottom: 5px; }
.gdlr-price-item .price-content ul{ list-style: none; margin-left: 0px; }
.gdlr-price-item .price-content ul li{ padding: 12px 20px; border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-price-item .price-button{ text-align: center; }
.gdlr-price-item .price-button .gdlr-button{ margin: 0px 0px 25px; }

.gdlr-price-item .best-price{ margin-top: -25px; }
.gdlr-price-item .best-price .price-title{ font-size: 22px; }
.gdlr-price-item .best-price .price-tag { padding: 34px 20px; font-size: 30px; }
.gdlr-price-item .best-price .price-button { padding-bottom: 15px; }
	
/*----------------------------------------------------------------------*/
/*---------------            POST TYPE ITEM           ------------------*/
/*----------------------------------------------------------------------*/

/*--- pagination ---*/
.gdlr-pagination{ margin: 0px 20px; text-align: right; margin-bottom: 60px; }
.gdlr-pagination a{ cursor: pointer; }
.gdlr-pagination .page-numbers.current{ cursor: default; }
.gdlr-pagination .page-numbers{ display: inline-block; padding: 7px 12px; margin-right: 3px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/*--- social share ---*/
.gdlr-social-share{ line-height: 1; padding: 15px 25px; }
.gdlr-social-share .social-share-title{ font-size: 14px; line-height: 28px; font-weight: bold; float: left; 
	margin-right: 20px; margin-bottom: 0px; text-transform: uppercase; }
.gdlr-social-share .social-share-title i{ margin-right: 12px; }
.gdlr-social-share a{ display: inline-block; width: 28px; margin-right: 10px; }
.gdlr-social-share a img{ display: block; }

/*--- post author ---*/
.gdlr-post-author{ margin-bottom: 45px; padding: 40px 40px 45px; }
.gdlr-post-author .post-author{ font-size: 14px; font-weight: bold; margin-bottom: 14px; text-transform: uppercase; }
.gdlr-post-author .post-author-title{ font-size: 16px; font-weight: bold; text-transform: uppercase; 
	margin-bottom: 25px; border-bottom-width: 0px; border-bottom-style: solid; } 
.gdlr-post-author .post-author-avartar{ float: left; margin-right: 20px; overflow: hidden;
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.gdlr-post-author .post-author-avartar img{ margin: 0; display: block; }
.gdlr-post-author .post-author-content{ overflow: hidden; font-size: 13px; }

/*--- comment ---*/
.gdlr-comments-area{ margin-bottom: 60px; }
.gdlr-comments-area .comments-title { font-size: 12px; font-weight: 700; text-transform: uppercase;
	margin-bottom: 20px; padding-top: 30px; padding-bottom: 8px; border-bottom-width: 0px; border-bottom-style: solid; letter-spacing: 2px; }
.gdlr-comments-area ol.commentlist { list-style: none; margin-left: 0px; }
.gdlr-comments-area ol.commentlist .comment-article{ margin-bottom: 30px; padding-bottom: 5px;
	border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-comments-area ol.commentlist ol.children{ list-style: none; margin-left: 40px; }
.gdlr-comments-area .comment-avatar{ float: left; overflow: hidden; margin-right: 20px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }
.gdlr-comments-area .comment-avatar img{ display: block; }
.gdlr-comments-area .comment-body{ overflow: hidden; position: relative; }
.gdlr-comments-area .comment-author{ font-size: 15px; font-weight: bold; margin-bottom: 4px; }
.gdlr-comments-area .comment-reply{ position: absolute; top: 0px; right: 0px; font-size: 15px; }
.gdlr-comments-area .comment-reply i{ margin-right: 12px; }
.gdlr-comments-area .comment-time { line-height: 20px; margin-bottom: 5px; }
.gdlr-comments-area .comment-time i { font-size: 16px; line-height: 20px; float: left; margin-right: 6px; }
.gdlr-comments-area .comment-time time{ font-style: italic; }
.gdlr-comments-area .comment-content{ margin-top: 15px; }

.comment-respond .comment-form{ width: 101%; }
.comment-respond .comment-reply-title{ font-size: 16px; font-weight: bold; text-transform: uppercase; 
	margin-bottom: 15px; padding-top: 10px; padding-bottom: 8px; border-bottom-width: 0px; border-bottom-style: solid; } 
.comment-respond .comment-form-head > input{ float: left; width: 28.5%; margin: 0 0 0 1.5%; padding: 11px 1.5%; border: 0px; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.comment-respond .comment-form-head > input:first-child{ width: 30%; margin-left: 0%; }
.comment-respond .comment-form-comment > textarea{ margin: 9px 0 0; padding: 11px 2%; width: 95%; border: 0px; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: block; }
.comment-respond .comment-form-comment > textarea:focus{ outline: none; }
.comment-respond .form-submit > input[type="submit"]{ margin-bottom: 0px; margin-top: 20px; padding: 15px 20px; font-size: 11px; }
		
/*--- blog ---*/
.gdlr-blog-thumbnail { position: relative; font-size: 0px; text-align: center; overflow: hidden;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.gdlr-blog-thumbnail .icon-bullhorn{ margin-right: 9px; }
.gdlr-blog-thumbnail .gdlr-sticky-banner { position: absolute; bottom: 0px;  
	font-size: 12px; font-weight: bold; padding: 7px 15px; text-transform: uppercase; right: 0; }

.gdlr-blog-thumbnail{ background: #000000; }
.gdlr-blog-thumbnail.gdlr-audio{ background: transparent; }
.format-gallery .gdlr-blog-thumbnail{ background: transparent; }
.gdlr-blog-thumbnail > a > img{ 	
	transition: opacity 300ms; -moz-transition: opacity 300ms;
	-o-transition: opacity 300ms; -webkit-transition: opacity 300ms; }
.gdlr-blog-thumbnail > a > img:hover{ opacity: 0.8; filter: alpha(opacity=80); }

.gdlr-blog-carousel-item.gdlr-item .gdlr-blog-grid:first-child{ margin-left: 0px; }
.gdlr-item.gdlr-blog-grid { margin-bottom: 50px; }	
.gdlr-blog-carousel-item .flex-viewport { padding: 0px 4px; margin: 0px -4px; }
.gdlr-blog-grid .gdlr-blog-title{ font-size: 16px; margin-bottom: 13px; font-weight: bold; text-transform: uppercase; }
.gdlr-blog-grid .gdlr-blog-content{ margin-bottom: 0px; }
.gdlr-blog-grid .gdlr-blog-thumbnail{ margin-bottom: 22px; }
.gdlr-blog-grid .gdlr-blog-info{ line-height: 18px; font-size: 12px; font-style: italic; margin-bottom: 7px; }
.gdlr-blog-grid .gdlr-blog-info i{ margin-right: 8px; }
.gdlr-blog-grid .gdlr-blog-info .blog-info{ float: left; margin-right: 25px; }
.gdlr-blog-grid .gdlr-blog-info .blog-info.blog-author{ margin-right: 0px; }
.gdlr-blog-grid .excerpt-read-more{ font-size: 12px; text-transform: uppercase; font-weight: bold; 
	display: inline-block; letter-spacing: 2px; margin-top: 18px; }

.gdlr-blog-date-wrapper{ position: relative; float: left; margin-right: 20px; 
	padding: 18px 16px; width: 40px; text-align: center; line-height: 1; }
.gdlr-blog-date-wrapper:after { width: 0px; height: 0px; content: " "; position: absolute; bottom: -16px;
    left: 0px; border-width: 0px 36px 16px; border-style: solid; }
.gdlr-blog-date-wrapper .gdlr-blog-day{ font-size: 34px; font-weight: bold; padding-bottom: 5px; }
.gdlr-blog-date-wrapper .gdlr-blog-month{ font-size: 15px; font-weight: bold; text-transform: uppercase; }	
.gdlr-blog-date-wrapper .gdlr-blog-date-divider{ width: 28px; margin: 0px auto 8px;
	border-bottom-width: 1px; border-bottom-style: solid; }
	
.gdlr-item.gdlr-blog-medium { margin-bottom: 50px; }	
.gdlr-blog-medium .gdlr-blog-thumbnail{ margin-right: 20px; float: left; width: 32%; }
.gdlr-blog-medium .gdlr-blog-content-wrapper{ overflow: hidden;  }
.gdlr-blog-medium .gdlr-blog-title{ font-size: 22px; font-weight: bold; text-transform: uppercase;  }
.gdlr-blog-medium .gdlr-blog-info{ margin-bottom: 8px; line-height: 18px; font-size: 12px; font-style: italic; }
.gdlr-blog-medium .gdlr-blog-info i{ margin-right: 8px; }
.gdlr-blog-medium .gdlr-blog-info .blog-info{ float: left; margin-right: 25px; }
.gdlr-blog-medium .gdlr-blog-content{ margin-bottom: 22px; }
.gdlr-blog-medium .excerpt-read-more{ font-size: 12px; text-transform: uppercase; font-weight: bold; 
	display: inline-block; letter-spacing: 2px; margin-top: 18px; }

.gdlr-item.gdlr-blog-full{ margin-bottom: 10px; }
.blog-item-holder .gdlr-blog-full .gdlr-blog-content { margin-bottom: 40px; }
.gdlr-blog-full .gdlr-blog-date-wrapper{ margin-right: 25px; }
.gdlr-blog-full .blog-content-wrapper { overflow: hidden; }
.gdlr-blog-full .gdlr-blog-title{ font-size: 26px; text-transform: uppercase; font-weight: bold; margin-bottom: 18px; }
.gdlr-blog-full .gdlr-blog-thumbnail{ margin-bottom: 30px; }
.gdlr-blog-full .gdlr-blog-info{ margin-bottom: 8px; line-height: 18px; font-size: 12px; font-style: italic; }
.gdlr-blog-full .gdlr-blog-info i{ margin-right: 8px; }
.gdlr-blog-full .gdlr-blog-info .blog-info{ float: left; margin-right: 25px; }
.gdlr-blog-full .excerpt-read-more{ font-size: 11px; text-transform: uppercase; font-weight: bold; 
	display: inline-block; letter-spacing: 1px; margin-top: 22px; }

.gdlr-blog-thumbnail .flex-control-nav{ display:none; }
.gdlr-blog-thumbnail .flexslider .flex-prev, 
.gdlr-blog-thumbnail .flexslider .flex-next { opacity: 0.7; }

.single .gdlr-single-blog-tag{ padding: 18px 25px; font-size: 13px; }
.single .gdlr-single-blog-tag i{ font-size: 16px; margin-right: 16px; }

.single .gdlr-single-nav{ padding: 30px 40px; }
.single .gdlr-single-nav .previous-nav{ width: 50%; float: left; margin-right: -1px;
	border-right-width: 1px; border-right-style: solid; }
.single .gdlr-single-nav .previous-nav i{ margin-right: 18px; }
.single .gdlr-single-nav .next-nav{ width: 50%; float: right; text-align: right; }
.single .gdlr-single-nav .next-nav i{ margin-left: 18px; }
.single .gdlr-single-nav .single-nav-text{ font-size: 13px; font-style: italic; }
.single .gdlr-single-nav .single-nav-title{ margin-top: 4px; }

.gdlr-related-post-wrapper{ padding: 33px 18px; }
.related-post-widget-item{ margin: 0px 15px; }
.related-post-header{ display: block; font-size: 16px; font-weight: bold;
    text-transform: uppercase; margin: 0px 15px 25px;
    border-bottom-width: 0px; border-bottom-style: solid; }
.related-post-title{ font-size: 12px; line-height: 1.2 }
.related-post-thumbnail { margin-bottom: 12px; }

/*--- single menu ---*/
.gdlr-single-menu-left-section { width: 350px; float: left; max-width: 50%; margin-right: 30px; }
.gdlr-single-menu-right-section { overflow: hidden; }
.gdlr-menu-ingredients, .gdlr-single-menu-content { margin-bottom: 60px; }
.gdlr-single-menu-content ol li { margin-bottom: 15px; padding-left: 5px; }
.gdlr-single-menu-content ol { margin-left: 20px; }

.single-menu .gdlr-menu-thumbnail{ margin-bottom: 45px; }
.single-menu .gdlr-menu-title{ font-size: 35px; margin-bottom: 13px; letter-spacing: 2px; }
.gdlr-single-menu-head { margin-bottom: 45px; }
.gdlr-single-menu-head .gdlr-single-menu-info{ position: relative; margin-bottom: 25px; }
.gdlr-single-menu-head .menu-ingredients-caption{ text-transform: uppercase; letter-spacing: 1px; font-weight: 700; }
.gdlr-single-menu-head .menu-rating{ display: inline-block; margin-right: 12px; }
.gdlr-single-menu-head .menu-recommendation i{ font-size: 16px; }
.gdlr-single-menu-head .menu-recommendation { font-size: 10px; text-transform: uppercase; font-weight: bold; display: inline-block; }
	
.gdlr-single-menu-sub-info { padding: 17px 20px; font-size: 13px;
	border-style: solid; border-top-width: 3px; border-bottom-width: 3px; }	
.gdlr-single-menu-time{ margin-bottom: 15px; }
.gdlr-single-menu-time .menu-info.menu-total-time{ font-size: 24px; font-weight: bold; float: left; 
	padding-right: 20px; margin-right: 20px; line-height: 1.3;
	border-right-width: 1px; border-right-style: solid; }
.gdlr-single-menu-time .menu-info.menu-total-time .gdlr-head { font-weight: bold; text-transform: uppercase;
    letter-spacing: 1px; display: block; font-size: 13px; margin-bottom: 2px; }
.gdlr-single-menu-time-inner .gdlr-head { margin-right: 10px; text-transform: uppercase; }
.gdlr-single-menu-time-inner .menu-info { margin-bottom: 5px; }
.gdlr-single-menu-time-inner { overflow: hidden; font-size: 12px; padding-top: 3px; }	
	
.gdlr-single-menu-serving{ position: relative; padding-top: 20px; border-top-width: 1px; border-top-style: solid; }
.gdlr-single-menu-serving .menu-info{ margin-bottom: 3px; }
.gdlr-single-menu-serving .menu-info .gdlr-head{ font-weight: bold; text-transform: uppercase; 
	letter-spacing: 1.3px; margin-right: 5px; font-size: 13px; }	
.gdlr-single-menu-head .menu-price { font-size: 35px; line-height: 1; 
	position: absolute; right: 0px; top: 50%; margin-top: -8px; }
	
.gdlr-menu-ingredients-title { font-size: 25px; margin-bottom: 15px; }
.gdlr-menu-ingredients li{ margin-bottom: 4px; }
.gdlr-menu-ingredients li:before { content: "\f05d"; font-family: fontAwesome; margin-right: 12px; font-style: normal; }
.gdlr-menu-ingredients ul{ list-style: none; margin-left: 0px; }
.gdlr-menu-ingredients li { margin-bottom: 4px; border-bottom-style: dashed; border-bottom-width: 1px; padding-top: 8px; padding-bottom: 12px; font-size: 16px; font-style: italic; }

/*--- menu ---*/
.gdlr-menu-thumbnail{ font-size: 0px; text-align: center; position: relative;  overflow: hidden;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; 
    transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); } 

.gdlr-list-menu{ padding: 13px 22px; }
.gdlr-list-menu .gdlr-menu-item-content{ position: relative; min-height: 38px; }
.gdlr-list-menu.gdlr-featured{ padding: 13px 12px; border-width: 2px; border-style: solid; margin: 0px 8px 2px; }
.gdlr-list-menu .menu-title { display: inline-block; font-size: 16px; text-transform: uppercase; letter-spacing: 1.6px; margin-bottom: 2px; font-weight: 600; }
.gdlr-list-menu .menu-ingredients-caption { font-size: 12px; margin-bottom: 2px; letter-spacing: 1.3px; }
.gdlr-list-menu .menu-price { font-size: 24px; position: absolute; right: 0px; top: 0px; line-height: 1; }
.gdlr-list-menu .menu-recommendation { position: absolute; right: 0px; bottom: -6px;
    font-size: 10px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
    .gdlr-list-menu .menu-recommendation i{ font-size: 16px; }
.gdlr-list-menu .gdlr-list-menu-gimmick{ border-top: 1px; border-style: dashed;
	position: absolute; top: 10px; }
	
.gdlr-menu-carousel-item .gdlr-menu-item:first-child { margin-left: 0px; }	
.gdlr-classic-menu .gdlr-menu-thumbnail{ margin-bottom: 22px; }
.gdlr-classic-menu .menu-title { font-size: 16px; font-weight: bold;
    text-transform: uppercase; letter-spacing: 1px; margin-bottom: 2px; letter-spacing: 1.5px; }
.gdlr-classic-menu .menu-ingredients-caption { font-size: 12px; margin-bottom: 4px; letter-spacing: 1px; }
.gdlr-classic-menu .menu-price { position: absolute; top: 5px; right: 0px; font-size: 24px; line-height: 1; }
.gdlr-classic-menu .gdlr-menu-item-content { position: relative; }
.gdlr-classic-menu .menu-recommendation { position: absolute; bottom: 0; left: 0; right: 0; 
	letter-spacing: 1px; font-size: 10px; text-transform: uppercase; pointer-events: none; }
.gdlr-classic-menu .menu-recommendation-inner{ display: inline-block; 
	background: #000; background: rgba(0,0,0,0.7); padding: 12px 0px; width: 100%; font-weight: 700; }
.gdlr-classic-menu .menu-recommendation i{ font-size: 16px; margin-right: 8px; }
.gdlr-classic-menu.with-price .gdlr-menu-item-content { padding-right: 40px; }
.gdlr-item.gdlr-menu-item.gdlr-classic-menu { margin-bottom: 30px; }


.gdlr-menu-modern.gdlr-item{ position: relative; margin-bottom: 30px; background: #000;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; overflow: hidden;
    transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); }
.gdlr-menu-modern > img { opacity: 0.35; filter: alpha(opacity=70); display: block; }
.gdlr-menu-modern .menu-title { font-size: 16px; font-weight: bold; margin-bottom: 7px;
	text-transform: uppercase; letter-spacing: 3px; letter-spacing: 2px; }
.gdlr-menu-modern .gdlr-menu-content{ text-align: center; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.gdlr-menu-modern .gdlr-menu-content.gdlr-menu-content:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.gdlr-menu-modern .gdlr-menu-content-inner{ display: inline-block; vertical-align: middle;   margin-top: 10px; margin-left: 10px; margin-right: 10px; }
.gdlr-menu-modern .menu-ingredients-caption { font-size: 12px; letter-spacing: 1.3px; }
.gdlr-menu-modern .menu-price { font-size: 24px; margin-top: 10px; }
.gdlr-menu-modern .menu-recommendation { font-size: 10px; text-transform: uppercase; font-weight: bold; position: absolute; top: 14px; right: 16px; letter-spacing: 1px; }
.gdlr-menu-modern .menu-recommendation i{ font-size: 16px; }
.menu-column-4.type-modern .gdlr-menu-modern .menu-ingredients-caption { font-size: 12px;  letter-spacing: 0.5px; }
.menu-column-4.type-modern .gdlr-menu-modern .menu-title{ font-size: 15px; }
.menu-column-4.type-modern .gdlr-menu-modern .menu-ingredients-caption { font-size: 11px; letter-spacing: 0.7px; }
.menu-column-2.type-modern .gdlr-menu-modern .menu-title { font-size: 18px; }


.menu-item-filter{ text-align: center; font-size: 24px; margin-bottom: 40px; position: relative; }
.menu-item-filter-inner{ display: inline-block; }
.menu-item-filter .gdlr-sep{ margin: 0px 20px; }
.menu-item-filter .gdlr-sep:first-child{ display: none; }
.menu-item-filter-divider{ height: 4px; margin-top: -3px;
	position: absolute; top: 50%; border-top-width: 1px; border-bottom-width: 1px; border-style: solid;  }
.menu-item-filter-divider.gdlr-left{ left: 0px; }
.menu-item-filter-divider.gdlr-right{ right: 0px; }

.gdlr-now-loading{ height: 32px; padding: 40px 0px 80px; display: none; background: url('images/dark/now-loading.gif') center no-repeat;  }

.menu-item-wrapper .gdlr-pagination { margin: 10px 11px 40px; }

.type-modern .gdlr-item-title-wrapper.gdlr-item.pos-center-divider.gdlr-size-large, .type-classic .gdlr-item-title-wrapper.gdlr-item.pos-center-divider.gdlr-size-large { margin-bottom: 55px; }

/*--- list with icon ---*/
.list-with-icon{ margin-bottom: 55px; padding-bottom: 0px; margin-top: 3px; }
.list-with-icon .list-with-icon-title i{ font-size: 23px; line-height: 25px; }
.list-with-icon .list-with-icon-title{ overflow: hidden; font-size: 15px; font-weight: bold; margin-bottom: 8px; text-transform: uppercase; letter-spacing: 2px; }

.list-with-icon.gdlr-left{ text-align: left; }
.list-with-icon.gdlr-left .list-with-icon-title i{ margin-left: 18px; }
.list-with-icon.gdlr-right{ text-align: right; }
.list-with-icon.gdlr-right .list-with-icon-title i{ margin-right: 18px; }

/*--- aside format ---*/
.format-aside .gdlr-blog-content{ font-size: 20px; font-style: italic; padding: 30px 30px 30px; line-height: 1.5; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5 px; }
.format-aside .gdlr-blog-content p:last-child{ margin-bottom: 0px; }

/*--- quote format ---*/
.format-quote .gdlr-top-quote blockquote{ font-weight: bold; font-size: 25px; font-style: normal; 
	line-height: 1.4; padding: 0px 0px 0px 55px; border-top-width: 0px; border-bottom-width: 0px;
	background-size: 34px 29px; background-position: 0px 7px; background-image: url('images/dark/quote.png'); }
.format-quote .gdlr-top-quote blockquote,
.format-quote .gdlr-top-quote blockquote p{ margin-bottom: 12px; }
.format-quote .gdlr-quote-author{ font-size: 14px; font-weight: bold; padding-left: 55px; }
.post.format-quote .gdlr-blog-content { border-top-style: dashed; border-bottom-style: dashed; border-top-width: 1px; border-bottom-width: 1px; padding-top: 40px; padding-bottom: 20px; }

/*--- Link Format ---*/
.format-link .gdlr-blog-content { margin-bottom: 0px; }
.gdlr-blog-full .post.format-link .gdlr-blog-content { margin-bottom: 0px }
.post.format-link { border-top-width: 1px; border-bottom-width: 1px; border-top-style: dashed; border-bottom-style: dashed; margin-bottom: 70px; padding: 40px 0px 40px; }
.gdlr-blog-full .post.format-link .gdlr-blog-title{ margin-bottom: 5px; }

/*-- Blog --*/
.gdlr-blog-content { margin-bottom: 50px; }


/*----------------------------------------------------------------------*/
/*---------------                 WIDGET              ------------------*/
/*----------------------------------------------------------------------*/

/*--- list ---*/
.widget_recent_entries ul, .widget_recent_comments ul, 
.widget_pages ul, .widget_rss ul, 
.widget_archive ul, .widget_categories ul, .widget_nav_menu ul,
.widget_meta ul { position: relative; list-style: none; margin-left: 0px; }

.widget_recent_entries ul ul, .widget_recent_comments ul ul, 
.widget_pages ul ul, .widget_rss ul ul, 
.widget_archive ul ul, .widget_categories ul ul, .widget_nav_menu ul ul,
.widget_meta ul ul{ margin-top: 15px; margin-bottom: 0px; }

.widget_recent_entries ul ul li:last-child, .widget_recent_comments ul ul li:last-child, 
.widget_pages ul ul li:last-child, .widget_rss ul ul li:last-child, 
.widget_archive ul ul li:last-child, .widget_categories ul ul li:last-child, .widget_nav_menu ul ul li:last-child,
.widget_meta ul ul li:last-child{ padding-bottom: 0px; margin-bottom: 0px; border-bottom-width: 0px; }

.widget_recent_entries ul li, .widget_recent_comments ul li, 
.widget_pages ul li, .widget_rss ul li, 
.widget_archive ul li, .widget_categories ul li, .widget_nav_menu ul li, 
.widget_meta ul li{ margin-bottom: 12px; padding-left: 25px; line-height: 20px; padding-bottom: 12px;
	border-bottom-width: 1px; border-bottom-style: solid; }
	
.widget_recent_entries ul li:before, .widget_recent_comments ul li:before, 
.widget_pages ul li:before, .widget_rss ul li:before, 
.widget_archive ul li:before, .widget_categories ul li:before, .widget_nav_menu ul li:before,
.widget_meta ul li:before { content: "\f105"; font-family: FontAwesome; text-align: center;
	position: absolute; left: 0px; display: block; height: 20px; width: 20px; margin-top: -1px; }

/*--- tag could ---*/
.tagcloud a { font-size: 11px !important; display: block;
	float: left; padding: 7px 13px; margin-right: 7px; margin-top: 7px;
	border: 0px solid; border-color: inherit; font-weight: bold; text-transform: uppercase; }
.tagcloud a:hover { opacity: 0.8; filter: alpha(opacity=80); }
.tagcloud { display: inline-block; }

/*--- search form ---*/
.gdl-search-form{ padding-right: 22px; position: relative; padding-right: 32px; }
.gdl-search-form input[type="text"]{ border-width: 1px; border-style: solid; width: 100%; padding: 15px 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-size: 13px; }
.gdl-search-form input[type="submit"] { position: absolute; right: 15px; top: 50%; margin: -8px 0px 0px; 
	width: 16px; height: 16px; padding: 0px; background-color: transparent !important; background-size: 16px 16px;
	background-image: url('images/dark/icon-search.png'); border: none; }

/*--- recent post widget ---*/
.recent-post-widget{ margin-bottom: 15px; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 15px; }
.recent-post-widget .recent-post-widget-thumbnail{ max-width: 70px; float: left; margin-right: 15px; }
.recent-post-widget .recent-post-widget-thumbnail img{ display: block; }
.recent-post-widget .recent-post-widget-content{ overflow: hidden; margin-top: 5px; }
.recent-post-widget .recent-post-widget-title{ font-size: 13px; margin-bottom: 5px; margin-top: -2px; font-weight: 600; }
.recent-post-widget .recent-post-widget-info{ line-height: 22px; }
.recent-post-widget .recent-post-widget-info i{ font-size: 15px; margin-right: 9px; }

.top-rated-post-widget{ padding-bottom: 15px;  margin-bottom: 15px;
	border-bottom-width: 1px; border-bottom-style: solid; overflow: hidden; }
.top-rated-post-widget .top-rated-post-rating{ color: #fff; background: #f5be3b; }
.top-rated-post-widget .top-rated-post-rating{ width: 26px; height: 20px; padding: 15px 12px; 
	text-align: center; float: left; margin-right: 20px; 
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; font-size: 13px; font-weight: 700; line-height: 19px; }
.top-rated-post-widget .top-rated-post-title{ overflow: hidden; margin-top: 10px; }
	
/*--- recent comment widget ---*/	
.gdlr-recent-comment-widget .recent-comment-widget-thumbnail{ overflow: hidden; float: left; margin-right: 20px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.gdlr-recent-comment-widget .recent-comment-widget-content { overflow: hidden; }
.gdlr-recent-comment-widget .recent-commnet-widget { padding-bottom: 20px; margin-bottom: 20px;
	border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-recent-comment-widget .recent-comment-widget-title{ font-size: 12px; font-weight: bold; 
	text-transform: uppercase; margin-bottom: 5px; }
.gdlr-recent-comment-widget .recent-comment-widget-info{ font-size: 12px; font-weight: bold; margin-bottom: 10px; }

/*--- twitter widget ---*/
ul.gdlr-twitter-widget{ list-style: none; margin-left: 0px; }
ul.gdlr-twitter-widget li{ margin-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid; }
ul.gdlr-twitter-widget li:before{ font-size: 19px; line-height: 24px; float: left; margin-right: 20px;
margin-top: 2px; font-family: FontAwesome; 
	content: '\f099'; *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;'); }
ul.gdlr-twitter-widget li .gdlr-twitter{ margin-bottom: 20px; overflow: hidden; }

/*--- recent port 2 widget ---*/
.gdlr-recent-port2-widget .recent-port-widget-thumbnail { max-width: 70px; float: left;
margin-right: 15px; margin-bottom: 15px; }
.gdlr-recent-port2-widget .recent-port-widget-thumbnail img { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.footer-wrapper .gdlr-recent-port2-widget .recent-port-widget-thumbnail { max-width: 70px; }

/*--- flickr widget ---*/
.gdlr-flickr-widget .flickr_badge_image { max-width: 70px; float: left; 
	margin-right: 15px; margin-bottom: 15px; }
.footer-wrapper .gdlr-flickr-widget .flickr_badge_image { max-width: 57px; }
	
/*--- post slider widget ---*/	
.gdlr-post-slider-widget .flex-control-nav { display: none; }
.gdlr-post-slider-widget .gdlr-caption-title { padding: 7px; font-size: 13px; text-align: center; }
.gdlr-post-slider-widget .flex-direction-nav li a { padding-top: 15px;padding-bottom: 15px; 
	margin-top: -30px; }
	
/*--- Calendar Widget ---*/
.widget_calendar caption { font-size: 14px; margin-bottom: 14px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }	
.widget_calendar th { font-size: 11px; font-weight: bold; }
.widget_calendar table, .widget_calendar tr, .widget_calendar td{ padding: 10px 0px; }
.widget_calendar table tfoot td { border-bottom: 0; }


/*----------------------------------------------------------------------*/
/*---------------                PLUGINS              ------------------*/
/*----------------------------------------------------------------------*/

/*--- Isotope Filtering ---*/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s; }
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width; }
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity; 
	-moz-transition-property: -moz-transform, opacity; 
	-ms-transition-property: -ms-transform, opacity; 
	-o-transition-property: -o-transform, opacity; 
	transition-property: transform, opacity; }
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s; 
	transition-duration: 0s; }
	
/*--- easy pie chart ---*/	
.gdlr-chart { position: relative; text-align: center; display: inline-block; }
.gdlr-chart canvas { position: absolute; top: 0; left: 0; max-width: 100%; max-height: 100%; 
	max-height: none\9; /*- for ie 8 and below-*/ }
.gdlr-chart .chart-content-wrapper { position: absolute; left: 50%; top: 50%; line-height: 1; z-index: 1; }
.gdlr-chart .chart-content-wrapper .chart-content-inner { position: relative; left: -50%; margin-top: -25%; }
.gdlr-chart .chart-content-wrapper .chart-content{ font-size: 16px; margin-bottom: 8px; display: block; }
.gdlr-chart .chart-content-wrapper .chart-percent-number { font-size: 24px; display: block; }	
.gdlr-chart .chart-content-wrapper .chart-content i { font-size: 25px; margin-top: -28px; margin-bottom: 10px; margin-right: 0; display: block; }

/*--- easy mailchimp form ---*/
.gdlr-mailchimp-form .yks-require-description{ display: none; }
.gdlr-mailchimp-form .yks-mailchimpFormDivRowLabel, 
.gdlr-mailchimp-form .yks-mailchimpFormDivRowField { display: block; margin-bottom: 3px; width: auto; }
.gdlr-mailchimp-form .yks-mailchimpFormDivRow{ margin-top: 9px; }
.gdlr-mailchimp-form .yks-mailchimpFormDivRow:first-child{ margin-top: 0px; }
.gdlr-mailchimp-form input[type="text"], .gdlr-mailchimp-form input[type="email"], 
.gdlr-mailchimp-form input[type="password"]{ width: 200px; padding: 12px; margin-bottom: 5px; }
.gdlr-mailchimp-form p, .gdlr-mailchimp-form input[type="submit"]{ margin-bottom: 0px; }
.gdlr-mailchimp-form .yks-status .yks-success { white-space: normal; text-align: center;
    margin: 0px auto; padding: 5px 12px; }
	
/*--- wpml ---*/
.gdlr-wpml-language-selector img{ margin-right: 12px; vertical-align: middle; }

/*--- woocommerce cart ---*/
.gdlr-woocommerce-cart .sub-menu-item{ padding-top: 12px; margin-top: 12px;
	border-top-width: 1px; border-top-style: solid; }
.gdlr-woocommerce-cart .sub-menu-item:first-child{ padding-top: 0px; border-top-width: 0px; }
.gdlr-woocommerce-cart .sub-menu-item .head{ font-weight: bold; }
.gdlr-woocommerce-cart .gdlr-button{ margin-bottom: 0px; }
.gdlr-woocommerce-cart .gdlr-button:last-child{ margin-right: 0px; }
.gdlr-woocommerce-cart .sub-menu-item .gdlr-button { margin-top: 9px; }

/*--- fitvids ---*/
.gdlr-fluid-video-wrapper { width: 100%; position: relative; padding: 0; }                                                            
.gdlr-fluid-video-wrapper iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }  	

/*--- contact form 7 ---*/
.wpcf7 input[type="text"], .wpcf7 input[type="email"],  
.wpcf7 input[type="password"], .wpcf7 input[type="date"], .wpcf7 textarea { padding: 16px 19px 16px 16px; width: 100%; font-size: 13px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;  }
.wpcf7 input[type="date"] { padding: 15px 19px 15px 16px; }
.wpcf7 input[type="submit"] { padding: 18px 20px; letter-spacing: 1px; text-transform: uppercase; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; width: 100%; font-weight: 800; }
.wpcf7 span.wpcf7-form-control-wrap { display: block; padding-right: 58px; margin-top: 7px; }	

span.wpcf7-submit-wrapper{ display: block; padding-right: 19px; margin-top: 0px; }

.footer-wrapper .wpcf7 p{ margin-bottom: 10px; }
.footer-wrapper .wpcf7 input[type="text"], .footer-wrapper .wpcf7 input[type="email"], 
.footer-wrapper .wpcf7 input[type="password"], .footer-wrapper .wpcf7 textarea { padding: 15px 18px; width: 100%;}
.footer-wrapper .wpcf7 span.wpcf7-form-control-wrap { padding-right: 38px; margin-top: 5px; }	
	
.wpcf7 input:focus::input-placeholder{ color:transparent; }
.wpcf7 input:focus::-webkit-input-placeholder{ color:transparent; }
.wpcf7 input:focus::-moz-placeholder{ color:transparent; }
.wpcf7 input:focus:-moz-placeholder{ color:transparent; }
.wpcf7 input:focus:-ms-input-placeholder{ color:transparent; }
.wpcf7 textarea:focus::input-placeholder{ color:transparent; }
.wpcf7 textarea:focus::-webkit-input-placeholder{ color:transparent; }
.wpcf7 textarea:focus::-moz-placeholder{ color:transparent; }
.wpcf7 textarea:focus:-moz-placeholder{ color:transparent; }
.wpcf7 textarea:focus:-ms-input-placeholder{ color:transparent; }	
	
/*--- background player ---*/	
.gdlr-bg-player{ position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.gdlr-player-overlay{ position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: #000; }

/*----------------------------------------------------------------------*/
/*---------------                RETINA               ------------------*/
/*----------------------------------------------------------------------*/	
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	blockquote{ background-image: url('images/dark/quote@2x.png'); background-repeat: no-repeat; }
	.gdl-search-form input[type="submit"] { background-image: url('images/dark/icon-search@2x.png'); }
	.page-not-found-search  .gdl-search-form input[type="submit"]{ background-image: url('images/light/icon-search@2x.png'); }
}	

.gdlr-top-woocommerce-button{ color: #fff; }
.gdlr-top-woocommerce-inner{ background: #242424; }
.gdlr-top-woocommerce,
.gdlr-top-woocommerce-inner > a{ color: #fff; }

/*-- Master Slider --*/
.master-slider-parent { padding-bottom: 0px !important; }

/*--- Font Awesome ---*/
.icon-angle-left, .icon-angle-right, .icon-minus, .icon-plus{ line-height: 1; }
.icon-angle-left:before { content: "\f104"; font-family: fontAwesome; font-style: normal; }
.icon-angle-right:before { content: "\f105"; font-family: fontAwesome; font-style: normal; }
.icon-minus:before{ content: "\f068"; font-family: fontAwesome; font-style: normal; }
.icon-plus:before{ content: "\f067"; font-family: fontAwesome; font-style: normal; }

/*--- open table ---*/
.open-table-item-wrapper .gdlr-otw-item-column { width: 33.33%; float: left; }
.open-table-item-wrapper .otw-input-wrap { margin: 0px 15px; }
.open-table-item-wrapper .otw-input-wrap i{ float: left; font-size: 20px; margin-right: 20px; margin-top: 16px; }
.open-table-item-wrapper .otw-reservation-date{ background-image: none; }
.open-table-item-wrapper .gdlr-otw-item-inner{ overflow: hidden; }

.open-table-item-wrapper input.otw-reservation-date { height: 54px; padding: 17px; font-size: 14px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 95%; }
.open-table-item-wrapper .gdlr-otw-combobox{ height: 54px; overflow: hidden; position: relative; padding-left: 17px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  margin-right: 5%; }
.open-table-item-wrapper .gdlr-otw-combobox select{ margin: 0px; border: none; display: block; 
    width: 100%; height: 54px; line-height: 50px; padding: 17px 17px 17px 0px; background-color: transparent; font-size: 14px; }
.open-table-item-wrapper .gdlr-otw-combobox select:focus{ outline: none; }
.open-table-item-wrapper .gdlr-otw-combobox:after { content: " "; width: 10px; height: 17px; padding: 18px 15px 19px;
    position: absolute; top: 0px; right: 0px; background-image: url('images/combobox-head.png');
	background-repeat: no-repeat; background-position: center; pointer-events: none; }

.open-table-item-wrapper .otw-button-wrap { text-align: center; margin-top: 55px; }
.open-table-item-wrapper input.otw-submit-btn,
.open-table-item-wrapper input.otw-submit-btn:hover, 
.open-table-item-wrapper input.otw-submit-btn:focus{ font-size: 14px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; 
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 18px 31px; border: none; outline: none; }

/*--- tribe events ---*/
.tribe-events-loop .type-tribe_events h2 { font-size: 25px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
.tribe-events-loop .tribe-events-list-event-description a { display: inline-block; margin-top: 7px; 
	font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
.tribe-events-loop .tribe-events-event-meta { padding: 20px 25px 18px; margin: 20px 0px 20px; }
.tribe-events-loop .tribe-events-event-meta .time-details{ text-transform: uppercase; }
.tribe-events-loop .tribe-events-event-meta address br{ display: none; }
.tribe-events-loop .tribe-events-event-meta .tribe-events-venue-details a{ font-weight: bold; font-style: normal; text-transform: uppercase; }

input[name*=tribe-bar-]::-webkit-input-placeholder{ font-style:normal; }
input[name*=tribe-bar-]:-moz-placeholder{ font-style:normal; }
.placeholder{ font-style:normal; }
#tribe-bar-form label { font-size: 15px; margin-bottom: 8px; }
#tribe-bar-form input[type=text] { border-bottom: none; font-size: 13px; font-style: normal; font-weight: normal; }
.tribe-bar-search-filter, .tribe-bar-date-filter, .tribe-bar-submit{ padding-top: 21px; }

.tribe-events-back a,
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a, 
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a{ text-transform: uppercase; font-size: 12px; font-weight: bold; }
.single-tribe_events h2.tribe-events-single-event-title{ font-size: 25px; font-weight: bold; 
	text-align: center; text-transform: uppercase; letter-spacing: 1px; }
.single-tribe_events .tribe-events-schedule{ text-align: center; padding: 20px 20px 22px; margin-top: 26px; margin-bottom: 25px; }
.single-tribe_events .tribe-events-schedule h3{ font-size: 16px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }

.tribe-bar-date-filter { padding-left: 20px; }
#tribe-bar-form .tribe-bar-views-inner label { padding: 0 21px;  margin-bottom: 5px; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a{ padding-left: 21px; }
#tribe-events-bar{ margin-bottom: 60px; }
.tribe-bar-views-inner { padding: 21px 0 42px; }

.tribe-bar-views-list span.tribe-icon-list{ background: none; padding-left: 0px;}
.tribe-bar-views-list span.tribe-icon-list:before{ content: "\f0ca"; font-family: FontAwesome; margin-right: 10px; }
.tribe-bar-views-list span.tribe-icon-day,
.tribe-bar-views-list span.tribe-icon-month{ background: none; padding-left: 0px; }
.tribe-bar-views-list span.tribe-icon-day:before,
.tribe-bar-views-list span.tribe-icon-month:before{ content: "\f073"; font-family: FontAwesome; margin-right: 10px; }
